Repository preset-io/agor: changes, and which lint-staged commands are due for each by the changed paths.
All: biome check --write --no-errors-on-unmatched --diagnostic-level=error, prettier --write

feat(branch): allow self-standing clones at create-time
  apps/agor-daemon/src/mcp/tools/worktrees.ts
  apps/agor-daemon/src/register-routes.ts
  apps/agor-daemon/src/services/repos.ts
  apps/agor-daemon/src/services/worktrees.ts
  apps/agor-ui/src/App.tsx
  apps/agor-ui/src/components/App/App.tsx
  apps/agor-ui/src/components/BranchFormFields/BranchFormFields.tsx
  apps/agor-ui/src/components/CreateDialog/tabs/BranchTab.tsx
  apps/agor-ui/src/components/NewBranchModal/NewBranchModal.tsx
  apps/agor-ui/src/components/SettingsModal/BranchesTable.tsx
  apps/agor-ui/src/components/SettingsModal/SettingsModal.tsx
  packages/core/drizzle/postgres/0035_add_worktree_storage_mode.sql
  packages/core/drizzle/postgres/meta/_journal.json
  packages/core/drizzle/sqlite/0044_add_worktree_storage_mode.sql
  packages/core/drizzle/sqlite/meta/_journal.json
  packages/core/src/db/repositories/worktrees.test.ts
  packages/core/src/db/repositories/worktrees.ts
  packages/core/src/db/schema.postgres.ts
  packages/core/src/db/schema.sqlite.ts
  packages/core/src/git/index.test.ts
  packages/core/src/git/index.ts
  packages/core/src/types/worktree.ts
  packages/executor/src/commands/git.ts
  packages/executor/src/commands/index.test.ts
  packages/executor/src/payload-types.ts
Due: biome check --write --no-errors-on-unmatched --diagnostic-level=error, prettier --write

ui(global-search): popover takes up to 85vh, chip row stays sticky
  apps/agor-ui/src/components/GlobalSearch/GlobalSearch.tsx
  apps/agor-ui/src/components/GlobalSearch/GlobalSearchDropdown.tsx
Due: biome check --write --no-errors-on-unmatched --diagnostic-level=error, prettier --write

review(branch): config gate + move filesystem preflights to executor
  apps/agor-daemon/src/services/repos.ts
  packages/core/src/config/config-manager.test.ts
  packages/core/src/config/config-manager.ts
  packages/core/src/config/types.ts
  packages/core/src/git/index.test.ts
  packages/core/src/git/index.ts
Due: biome check --write --no-errors-on-unmatched --diagnostic-level=error, prettier --write

review(branch): address Codex review feedback on PR #1248
  apps/agor-daemon/src/mcp/tools/worktrees.ts
  apps/agor-daemon/src/services/repos.ts
  apps/agor-daemon/src/services/worktrees.ts
  apps/agor-ui/src/components/BranchFormFields/index.ts
  apps/agor-ui/src/components/BranchFormFields/storage.test.ts
  apps/agor-ui/src/components/BranchFormFields/storage.ts
  apps/agor-ui/src/components/CreateDialog/tabs/BranchTab.tsx
  apps/agor-ui/src/components/NewBranchModal/NewBranchModal.tsx
  apps/agor-ui/src/components/SettingsModal/BranchesTable.tsx
  packages/core/drizzle/postgres/0035_add_worktree_storage_mode.sql
  packages/core/drizzle/sqlite/0044_add_worktree_storage_mode.sql
  packages/core/src/api/index.ts
  packages/core/src/db/repositories/worktrees.test.ts
  packages/core/src/db/schema.postgres.ts
  packages/core/src/db/schema.sqlite.ts
  packages/core/src/git/index.test.ts
  packages/core/src/git/index.ts
  packages/core/src/types/worktree.ts
  packages/executor/src/commands/git.ts
  packages/executor/src/payload-types.test.ts
  packages/executor/src/payload-types.ts
Due: biome check --write --no-errors-on-unmatched --diagnostic-level=error, prettier --write

ui(branch): collapse Storage dropdown to Worktree/Branch + depth input
  apps/agor-ui/src/components/BranchFormFields/BranchFormFields.tsx
  apps/agor-ui/src/components/BranchFormFields/index.ts
  apps/agor-ui/src/components/BranchFormFields/storage.test.ts
  apps/agor-ui/src/components/BranchFormFields/storage.ts
  apps/agor-ui/src/components/CreateDialog/tabs/BranchTab.tsx
  apps/agor-ui/src/components/NewBranchModal/NewBranchModal.tsx
  apps/agor-ui/src/components/SettingsModal/BranchesTable.tsx
Due: biome check --write --no-errors-on-unmatched --diagnostic-level=error, prettier --write

feat(branch): opportunistic --reference clone using per-repo base cache
  apps/agor-daemon/src/services/repos.ts
  apps/agor-daemon/src/services/worktrees.ts
  packages/core/src/git/index.test.ts
  packages/core/src/git/index.ts
  packages/executor/src/commands/git.ts
  packages/executor/src/payload-types.ts
Due: biome check --write --no-errors-on-unmatched --diagnostic-level=error, prettier --write

docs(segmentation): trim hosted-product framing, add OSS config-knob PRs
  context/explorations/segmentation-and-enforcement.md
Due: prettier --write

docs(segmentation): PRs H+I, executor templating refresher, #1140 closed
  context/explorations/segmentation-and-enforcement.md
Due: prettier --write

docs: UI/daemon/executor segmentation — next steps + enforcement
  context/explorations/daemon-fs-decoupling.md
  context/explorations/segmentation-and-enforcement.md
Due: prettier --write

chore(release): bump @agor-live/client and agor-live to 0.20.0
  packages/agor-live/package.json
  packages/client/package.json
Due: prettier --write

docs(changelog): document the Worktree → Branch rename
  CHANGELOG.md
Due: prettier --write

fix(branch): address Codex review feedback on worktree → branch rename
  apps/agor-daemon/src/mcp/register-tool-proxy.ts
  apps/agor-daemon/src/mcp/server.ts
  apps/agor-daemon/src/mcp/tool-registry.ts
  apps/agor-daemon/src/mcp/tools/search.ts
  apps/agor-daemon/src/services/scheduler.test.ts
  apps/agor-daemon/src/services/scheduler.ts
  apps/agor-docs/public/llms-full.txt
  apps/agor-docs/public/llms.txt
  apps/agor-ui/src/components/BranchFormFields/BranchFormFields.tsx
  apps/agor-ui/src/components/Pill/Pill.stories.tsx
  apps/agor-ui/src/components/Pill/Pill.tsx
  apps/agor-ui/src/components/Pill/index.ts
  packages/core/drizzle/postgres/0036_rename_worktree_to_branch.sql
  packages/core/src/api/index.ts
  packages/core/src/db/schema.postgres.ts
  packages/core/src/db/schema.sqlite.ts
  packages/core/src/git/index.test.ts
  packages/core/src/git/index.ts
  packages/core/src/git/security.test.ts
  packages/core/src/templates/zone-trigger-context.test.ts
  packages/core/src/types/branch.ts
  packages/executor/src/commands/git.ts
  packages/executor/src/payload-types.ts
Due: biome check --write --no-errors-on-unmatched --diagnostic-level=error, prettier --write

feat(branch): enable both storage modes by default
  packages/core/src/config/config-manager.test.ts
  packages/core/src/config/config-manager.ts
  packages/core/src/config/types.ts
Due: biome check --write --no-errors-on-unmatched --diagnostic-level=error, prettier --write

fix(branch): address Codex round-2 review feedback
  apps/agor-daemon/src/mcp/tools/branches.ts
  apps/agor-daemon/src/register-routes.ts
  apps/agor-daemon/src/services/repos.ts
  apps/agor-daemon/src/services/scheduler.ts
  apps/agor-ui/src/components/BranchFormFields/BranchFormFields.tsx
  apps/agor-ui/src/components/CreateDialog/tabs/BranchTab.tsx
  packages/core/src/api/index.ts
  packages/core/src/config/config-manager.test.ts
  packages/core/src/config/config-manager.ts
  packages/core/src/config/types.ts
  packages/core/src/db/schema.postgres.ts
  packages/core/src/db/schema.sqlite.ts
  packages/core/src/git/index.test.ts
  packages/core/src/git/index.ts
  packages/core/src/types/branch.ts
Due: biome check --write --no-errors-on-unmatched --diagnostic-level=error, prettier --write

docs(design): daemon HA options
  docs/internal/daemon-ha-design-2026-05-24.md
Due: prettier --write

feat(search): per-tab result count tags
  apps/agor-ui/src/components/GlobalSearch/GlobalSearch.tsx
  apps/agor-ui/src/components/GlobalSearch/GlobalSearchDropdown.tsx
  apps/agor-ui/src/components/GlobalSearch/SearchChipRow.tsx
  apps/agor-ui/src/components/GlobalSearch/types.ts
  apps/agor-ui/src/components/GlobalSearch/useGlobalSearch.ts
Due: biome check --write --no-errors-on-unmatched --diagnostic-level=error, prettier --write

refactor(search): completeness sweep and DRY for searchable-fields registry
  apps/agor-ui/src/components/GlobalSearch/useGlobalSearch.ts
  packages/core/src/client/index.ts
  packages/core/src/index.ts
  packages/core/src/search/index.ts
  packages/core/src/search/searchable-fields.ts
Due: biome check --write --no-errors-on-unmatched --diagnostic-level=error, prettier --write

feat(search): group recents by entity type
  apps/agor-ui/src/components/GlobalSearch/GlobalSearch.tsx
  apps/agor-ui/src/components/GlobalSearch/GlobalSearchDropdown.tsx
  apps/agor-ui/src/components/GlobalSearch/useRecents.ts
Due: biome check --write --no-errors-on-unmatched --diagnostic-level=error, prettier --write

feat(search): highlight matched substrings in visible fields
  apps/agor-ui/src/components/GlobalSearch/GlobalSearchDropdown.tsx
  apps/agor-ui/src/components/GlobalSearch/SearchResult.tsx
  apps/agor-ui/src/components/GlobalSearch/highlight.tsx
Due: biome check --write --no-errors-on-unmatched --diagnostic-level=error, prettier --write

feat(search): close button on global-search popover
  apps/agor-ui/src/components/GlobalSearch/GlobalSearch.tsx
Due: biome check --write --no-errors-on-unmatched --diagnostic-level=error, prettier --write

fix(ui): publish reconnected state after in-place re-auth on token refresh
  apps/agor-ui/src/hooks/useAgorClient.ts
Due: biome check --write --no-errors-on-unmatched --diagnostic-level=error, prettier --write

feat(ui): clearer navbar connection state + user actions
  apps/agor-ui/src/components/ConnectionStatus/ConnectionStatus.tsx
Due: biome check --write --no-errors-on-unmatched --diagnostic-level=error, prettier --write

feat(search): move global search to right of facepile in navbar
  apps/agor-ui/src/components/AppHeader/AppHeader.tsx
Due: biome check --write --no-errors-on-unmatched --diagnostic-level=error, prettier --write

fix(search): move search icon from prefix to suffix
  apps/agor-ui/src/components/GlobalSearch/GlobalSearch.tsx
Due: biome check --write --no-errors-on-unmatched --diagnostic-level=error, prettier --write

style(ui): format ConnectionStatus Tooltip on single line
  apps/agor-ui/src/components/ConnectionStatus/ConnectionStatus.tsx
Due: biome check --write --no-errors-on-unmatched --diagnostic-level=error, prettier --write

refactor(search): use AntD <Input.Search> instead of <Input> + custom suffix
  apps/agor-ui/src/components/GlobalSearch/GlobalSearch.tsx
Due: biome check --write --no-errors-on-unmatched --diagnostic-level=error, prettier --write

refactor(search): drop generic per-type emojis, use AntD icons in section headers
  apps/agor-ui/src/components/GlobalSearch/GlobalSearchDropdown.tsx
  apps/agor-ui/src/components/GlobalSearch/SearchResult.tsx
  apps/agor-ui/src/components/GlobalSearch/types.ts
Due: biome check --write --no-errors-on-unmatched --diagnostic-level=error, prettier --write

refactor(ui): tighten ConnectionStatus + cover state machine with tests
  apps/agor-ui/src/components/ConnectionStatus/ConnectionStatus.test.tsx
  apps/agor-ui/src/components/ConnectionStatus/ConnectionStatus.tsx
Due: biome check --write --no-errors-on-unmatched --diagnostic-level=error, prettier --write

fix(search): defensive token handling in matchSearchTokens + highlightTokens
  apps/agor-ui/src/components/GlobalSearch/highlight.tsx
  packages/core/src/search/searchable-fields.ts
Due: biome check --write --no-errors-on-unmatched --diagnostic-level=error, prettier --write

refactor(search): tighten types + DRY after PR review
  apps/agor-ui/src/components/GlobalSearch/GlobalSearch.tsx
  apps/agor-ui/src/components/GlobalSearch/GlobalSearchDropdown.tsx
  apps/agor-ui/src/components/GlobalSearch/SearchChipRow.tsx
  apps/agor-ui/src/components/GlobalSearch/SearchResult.tsx
  apps/agor-ui/src/components/GlobalSearch/types.ts
  apps/agor-ui/src/components/GlobalSearch/useGlobalSearch.ts
  apps/agor-ui/src/components/GlobalSearch/useRecents.ts
  apps/agor-ui/src/components/GlobalSearch/utils.ts
  apps/agor-ui/src/utils/time.ts
Due: biome check --write --no-errors-on-unmatched --diagnostic-level=error, prettier --write

docs(analysis): cloud cost model and P&P
  docs/internal/agor-cloud-cost-model-and-pricing-2026-05-24.md
Due: prettier --write

fix(search): trim whitespace tokens, refresh stale comments
  apps/agor-ui/src/components/GlobalSearch/types.ts
  apps/agor-ui/src/components/GlobalSearch/useGlobalSearch.ts
  packages/core/src/search/searchable-fields.ts
Due: biome check --write --no-errors-on-unmatched --diagnostic-level=error, prettier --write

fix(migration): make all constraint renames in 0036 idempotent
  packages/core/drizzle/postgres/0036_rename_worktree_to_branch.sql
Due: none

fix(config): honour worktree_rbac as backwards-compat alias for branch_rbac
  packages/core/src/config/config-manager.ts
  packages/core/src/config/types.ts
Due: biome check --write --no-errors-on-unmatched --diagnostic-level=error, prettier --write

fix(lint): satisfy biome 2.4.15 stricter rules
  apps/agor-ui/src/components/MessageBlock/MessageBlock.tsx
  packages/client/src/index.ts
  packages/core/src/config/agor-yml.ts
Due: biome check --write --no-errors-on-unmatched --diagnostic-level=error, prettier --write

feat(mcp): support sessionless api-key access
  apps/agor-daemon/src/mcp/server.test.ts
  apps/agor-daemon/src/mcp/server.ts
  apps/agor-daemon/src/mcp/tools/branches.ts
  apps/agor-daemon/src/mcp/tools/sessions.test.ts
  apps/agor-daemon/src/mcp/tools/sessions.ts
  apps/agor-daemon/src/mcp/tools/users.test.ts
  apps/agor-daemon/src/mcp/tools/widgets.ts
Due: biome check --write --no-errors-on-unmatched --diagnostic-level=error, prettier --write

fix(lint): suppress noArrayIndexKey in highlightTokens
  apps/agor-ui/src/components/GlobalSearch/highlight.tsx
Due: biome check --write --no-errors-on-unmatched --diagnostic-level=error, prettier --write

fix(mcp): harden stateful session lifecycle
  apps/agor-daemon/src/mcp/server.test.ts
  apps/agor-daemon/src/mcp/server.ts
  apps/agor-daemon/src/mcp/tools/branches.test.ts
  apps/agor-daemon/src/mcp/tools/branches.ts
Due: biome check --write --no-errors-on-unmatched --diagnostic-level=error, prettier --write

feat(ui): highlight the active URL-target entity on the board
  apps/agor-ui/src/components/App/App.tsx
  apps/agor-ui/src/components/BranchCard/BranchCard.tsx
  apps/agor-ui/src/components/SessionCanvas/SessionCanvas.tsx
  apps/agor-ui/src/components/SessionCanvas/canvas/ArtifactNode.tsx
  apps/agor-ui/src/components/SessionCanvas/canvas/useBoardObjects.ts
  apps/agor-ui/src/hooks/useUrlState.ts
Due: biome check --write --no-errors-on-unmatched --diagnostic-level=error, prettier --write

Path conditions:
  biome check --write --no-errors-on-unmatched --diagnostic-level=error: any of: *.{ts,tsx,js,jsx,mjs,cjs}
  prettier --write: (any of: *.{ts,tsx,js,jsx,mjs,cjs}) or (any of: *.{json,md,yaml,yml})
