Repository preset-io/agor: changes, and which lint-staged commands are due for each by the changed paths.
All: biome check --write --no-errors-on-unmatched --diagnostic-level=error, prettier --write

.lintstagedrc.json:

{
  "*.{ts,tsx,js,jsx,mjs,cjs}": [
    "biome check --write --no-errors-on-unmatched --diagnostic-level=error",
    "prettier --write"
  ],
  "*.{json,md,yaml,yml}": ["prettier --write"]
}

feat: template-based system prompt injection with full context
  packages/core/src/templates/agor-system-prompt.md
  packages/core/src/templates/session-context.ts
  packages/core/src/tools/claude/query-builder.ts
  packages/core/src/tools/codex/codex-tool.ts
  packages/core/src/tools/codex/prompt-service.test.ts
  packages/core/src/tools/codex/prompt-service.ts
  packages/core/src/tools/gemini/gemini-tool.ts
  packages/core/src/tools/gemini/prompt-service.test.ts
  packages/core/src/tools/gemini/prompt-service.ts
Due: biome check --write --no-errors-on-unmatched --diagnostic-level=error, prettier --write

fix(lint): remove unused activeUsers variable and add missing dependency
  apps/agor-ui/src/components/App/App.tsx
  apps/agor-ui/src/hooks/usePresence.ts
Due: biome check --write --no-errors-on-unmatched --diagnostic-level=error, prettier --write

fix: add reposRepo parameter to CodexTool and GeminiTool instantiation
  apps/agor-daemon/src/index.ts
Due: biome check --write --no-errors-on-unmatched --diagnostic-level=error, prettier --write

fix: resolve linting issues (import order, unused imports, formatting)
  packages/core/src/tools/claude/query-builder.ts
  packages/core/src/tools/codex/prompt-service.ts
  packages/core/src/tools/gemini/prompt-service.ts
Due: biome check --write --no-errors-on-unmatched --diagnostic-level=error, prettier --write

fix: address critical issues from Codex code review
  packages/core/src/tools/codex/prompt-service.ts
  packages/core/src/tools/gemini/prompt-service.ts
  packages/core/tsup.config.ts
Due: biome check --write --no-errors-on-unmatched --diagnostic-level=error, prettier --write

fix(ui): prevent global facepile from dropping users on board switch
  apps/agor-ui/src/hooks/usePresence.ts
Due: biome check --write --no-errors-on-unmatched --diagnostic-level=error, prettier --write

style: format onUserClick function signature
  apps/agor-ui/src/components/Facepile/Facepile.tsx
Due: biome check --write --no-errors-on-unmatched --diagnostic-level=error, prettier --write

fix(types): add missing cursorPosition parameter to onUserClick signature
  apps/agor-ui/src/components/App/App.tsx
  apps/agor-ui/src/components/AppHeader/AppHeader.tsx
Due: biome check --write --no-errors-on-unmatched --diagnostic-level=error, prettier --write

style: format onUserClick arrow function parameters on single line
  apps/agor-ui/src/components/App/App.tsx
Due: biome check --write --no-errors-on-unmatched --diagnostic-level=error, prettier --write

feat: make tmux a hard requirement, remove node-pty
  README.md
  apps/agor-daemon/package.json
  apps/agor-daemon/src/services/terminals.ts
  apps/agor-ui/src/components/TerminalModal/TerminalModal.tsx
  context/concepts/worktrees.md
  packages/agor-live/package.json
  pnpm-lock.yaml
Due: biome check --write --no-errors-on-unmatched --diagnostic-level=error, prettier --write

fix: keep node-pty, always use tmux via PTY (fixes blocking issues)
  README.md
  apps/agor-daemon/package.json
  apps/agor-daemon/src/services/terminals.ts
  packages/agor-live/package.json
  pnpm-lock.yaml
Due: biome check --write --no-errors-on-unmatched --diagnostic-level=error, prettier --write

fix: resolve all linting errors in agor-unix-user branch
  apps/agor-ui/src/components/ModelSelector/ModelSelector.tsx
  apps/agor-ui/src/components/Pill/Pill.tsx
  apps/agor-ui/src/components/TaskBlock/TaskBlock.tsx
  packages/executor/src/db/feathers-repositories.ts
  packages/executor/src/handlers/sdk/gemini.ts
Due: biome check --write --no-errors-on-unmatched --diagnostic-level=error, prettier --write

fix: resolve executor build errors and complete linting fixes
  apps/agor-ui/src/components/Pill/Pill.tsx
  apps/agor-ui/src/types/emojibase.d.ts
  apps/agor-ui/tsconfig.app.json
  packages/executor/src/db/feathers-repositories.ts
  packages/executor/src/handlers/sdk/claude.ts
  packages/executor/src/handlers/sdk/codex.ts
  packages/executor/src/handlers/sdk/gemini.ts
  packages/executor/src/handlers/sdk/opencode.ts
  packages/executor/src/index-legacy.ts
  packages/executor/src/index.ts
  packages/executor/src/sdk-handlers/claude/claude-tool.ts
  packages/executor/src/sdk-handlers/claude/permissions/permission-hooks.ts
  packages/executor/src/sdk-handlers/claude/prompt-service.ts
  packages/executor/src/sdk-handlers/claude/query-builder.ts
  packages/executor/src/sdk-handlers/codex/codex-tool.ts
  packages/executor/src/sdk-handlers/codex/prompt-service.ts
  packages/executor/src/sdk-handlers/gemini/gemini-tool.ts
  packages/executor/src/sdk-handlers/gemini/prompt-service.ts
  packages/executor/src/sdk-handlers/index.ts
  packages/executor/src/sdk-handlers/opencode/opencode-tool.ts
  packages/executor/src/types.ts
  packages/executor/src/types/sdk-response.ts
  packages/executor/tsconfig.json
  pnpm-lock.yaml
  test-executor.mjs
Due: biome check --write --no-errors-on-unmatched --diagnostic-level=error, prettier --write

fix: improve EventStreamPanel layout with wrapping pills and wider panel
  apps/agor-ui/src/components/EventStreamPanel/EventItem.tsx
  apps/agor-ui/src/components/EventStreamPanel/EventStreamPanel.tsx
Due: biome check --write --no-errors-on-unmatched --diagnostic-level=error, prettier --write

feat: add auto-refresh and improved layout to environment logs viewer
  apps/agor-ui/src/components/EnvironmentLogsModal/EnvironmentLogsModal.tsx
Due: biome check --write --no-errors-on-unmatched --diagnostic-level=error, prettier --write

fix: resolve infinite fetch loop and improve UX in environment logs viewer
  apps/agor-ui/src/components/EnvironmentLogsModal/EnvironmentLogsModal.tsx
Due: biome check --write --no-errors-on-unmatched --diagnostic-level=error, prettier --write

feat: add Agor Cloud private beta blog post
  apps/agor-docs/pages/blog/_meta.ts
  apps/agor-docs/pages/blog/agor-cloud.mdx
Due: biome check --write --no-errors-on-unmatched --diagnostic-level=error, prettier --write

perf: dramatically speed up Docker boot time with smart dependency caching
  docker-compose.yml
  docker/Dockerfile
  docker/docker-entrypoint.sh
Due: prettier --write

perf: optimize first boot and fix husky worktree errors
  docker/Dockerfile
  docker/docker-entrypoint.sh
Due: none

fix: improve first boot detection to always use cache copy
  docker/docker-entrypoint.sh
Due: none

perf: pre-build @agor/core during image build for faster dev startup
  docker/Dockerfile
  docker/docker-entrypoint.sh
Due: none

refactor: simplify Docker volumes to single root node_modules mount
  docker-compose.yml
  docker/Dockerfile
  docker/docker-entrypoint.sh
Due: prettier --write

refactor: use anonymous volumes for instant boot (no cache copy needed)
  docker-compose.yml
  docker/Dockerfile
  docker/docker-entrypoint.sh
Due: prettier --write

perf: skip permission fix if already correct (saves ~0.5-1s on boot)
  docker/docker-entrypoint.sh
Due: none

feat: add Docker resource containment to blog post
  apps/agor-docs/pages/blog/agor-cloud.mdx
Due: none

fix: remove dist volume overlay causing permission errors
  docker-compose.yml
Due: prettier --write

fix: build script to include executor
  apps/agor-daemon/src/index.ts
  packages/agor-live/build.sh
Due: biome check --write --no-errors-on-unmatched --diagnostic-level=error, prettier --write

iterating
  apps/agor-daemon/src/index.ts
  package-lock.json
  package.json
  packages/core/package.json
  packages/core/tsup.config.ts
  packages/executor/package.json
  packages/executor/src/handlers/sdk/claude.ts
  packages/executor/src/handlers/sdk/codex.ts
  packages/executor/src/handlers/sdk/gemini.ts
  packages/executor/src/index-legacy.ts
  packages/executor/src/sdk-handlers/claude/claude-tool.ts
  packages/executor/src/sdk-handlers/claude/import/transcript-parser.test.ts
  packages/executor/src/sdk-handlers/claude/message-builder.test.ts
  packages/executor/src/sdk-handlers/claude/prompt-service.ts
  packages/executor/src/sdk-handlers/claude/query-builder.ts
  packages/executor/src/sdk-handlers/claude/session-context.test.ts
  packages/executor/src/sdk-handlers/claude/thinking-detector.test.ts
  packages/executor/src/sdk-handlers/codex/codex-tool.ts
  packages/executor/src/sdk-handlers/codex/models.test.ts
  packages/executor/src/sdk-handlers/codex/normalizer.test.ts
  packages/executor/src/sdk-handlers/codex/prompt-service.test.ts
  packages/executor/src/sdk-handlers/codex/prompt-service.ts
  packages/executor/src/sdk-handlers/codex/usage.test.ts
  packages/executor/src/sdk-handlers/gemini/conversation-converter.test.ts
  packages/executor/src/sdk-handlers/gemini/gemini-tool.ts
  packages/executor/src/sdk-handlers/gemini/models.test.ts
  packages/executor/src/sdk-handlers/gemini/normalizer.test.ts
  packages/executor/src/sdk-handlers/gemini/permission-mapper.test.ts
  packages/executor/src/sdk-handlers/gemini/prompt-service.test.ts
  packages/executor/src/sdk-handlers/gemini/prompt-service.ts
  packages/executor/src/sdk-handlers/gemini/usage.test.ts
Due: biome check --write --no-errors-on-unmatched --diagnostic-level=error, prettier --write

fix: complete executor isolation and fix environment variable inheritance
  apps/agor-daemon/src/index.ts
  apps/agor-daemon/src/services/executor-isolation-service.ts
  apps/agor-daemon/src/services/executor-pool.ts
  docker/docker-entrypoint.sh
  packages/core/src/config/key-resolver.ts
  packages/executor/bin/agor-executor
  packages/executor/src/config.ts
  packages/executor/src/handlers/sdk/base-executor.ts
  packages/executor/src/handlers/sdk/claude.ts
  packages/executor/src/handlers/sdk/codex.ts
  packages/executor/src/handlers/sdk/gemini.ts
  packages/executor/src/sdk-handlers/claude/claude-tool.ts
  packages/executor/src/sdk-handlers/claude/query-builder.ts
  packages/executor/src/sdk-handlers/codex/codex-tool.ts
  packages/executor/src/sdk-handlers/codex/prompt-service.ts
  packages/executor/src/sdk-handlers/gemini/gemini-tool.ts
  packages/executor/src/sdk-handlers/gemini/prompt-service.ts
Due: biome check --write --no-errors-on-unmatched --diagnostic-level=error, prettier --write

fix: Properly fetch tags for new repos
  apps/agor-ui/src/App.tsx
  apps/agor-ui/src/components/App/App.tsx
  packages/core/src/git/index.test.ts
Due: biome check --write --no-errors-on-unmatched --diagnostic-level=error, prettier --write

chore: remove unimplemented executor config settings
  packages/core/src/config/config-manager.ts
  packages/core/src/config/types.ts
Due: biome check --write --no-errors-on-unmatched --diagnostic-level=error, prettier --write

refactor: remove unused Unix socket IPC executor code
  apps/agor-daemon/src/index.ts
  apps/agor-daemon/src/services/executor-client.ts
  apps/agor-daemon/src/services/executor-isolation-service.ts
  apps/agor-daemon/src/services/executor-pool.ts
  apps/agor-daemon/src/services/sdk-execution.ts
  docker-compose.yml
  docker/docker-entrypoint.sh
  packages/core/src/config/config-manager.ts
  packages/core/src/config/types.ts
Due: biome check --write --no-errors-on-unmatched --diagnostic-level=error, prettier --write

feat: add Unix user impersonation for executor isolation
  apps/agor-daemon/src/index.ts
  docker-compose.yml
  docker/docker-entrypoint.sh
  packages/core/src/config/types.ts
Due: biome check --write --no-errors-on-unmatched --diagnostic-level=error, prettier --write

fix: set ready_for_prompt to false when session starts running
  apps/agor-daemon/src/index.ts
Due: biome check --write --no-errors-on-unmatched --diagnostic-level=error, prettier --write

fix: remove executor-pool references and use proper types for repositories
  apps/agor-daemon/src/index.ts
  packages/core/src/templates/session-context.ts
  packages/executor/src/handlers/sdk/base-executor.ts
  packages/executor/src/sdk-handlers/claude/query-builder.ts
  packages/executor/src/sdk-handlers/codex/prompt-service.ts
  packages/executor/src/sdk-handlers/gemini/prompt-service.ts
Due: biome check --write --no-errors-on-unmatched --diagnostic-level=error, prettier --write

feat: migrate from tmux to Zellij and remove node-pty dependency
  .devcontainer/dev/Dockerfile
  .devcontainer/playground/Dockerfile
  README.md
  apps/agor-daemon/package.json
  apps/agor-daemon/src/services/terminals.ts
  apps/agor-ui/src/components/TerminalModal/TerminalModal.tsx
  docker/Dockerfile
  docker/zellij-config.kdl
  pnpm-lock.yaml
  scripts/bootstrap-rhel.sh
Due: biome check --write --no-errors-on-unmatched --diagnostic-level=error, prettier --write

fix: atomically update session state when task status changes
  apps/agor-daemon/src/index.ts
  apps/agor-daemon/src/services/tasks.ts
Due: biome check --write --no-errors-on-unmatched --diagnostic-level=error, prettier --write

feat: add unix_username field to User model for process impersonation
  apps/agor-daemon/src/index.ts
  apps/agor-daemon/src/services/users.ts
  apps/agor-ui/src/components/SettingsModal/SettingsModal.tsx
  apps/agor-ui/src/components/SettingsModal/UserSettingsModal.tsx
  apps/agor-ui/src/components/SettingsModal/UsersTable.tsx
  packages/core/src/db/repositories/users.ts
  packages/core/src/db/schema.postgres.ts
  packages/core/src/db/schema.sqlite.ts
  packages/core/src/types/user.ts
Due: biome check --write --no-errors-on-unmatched --diagnostic-level=error, prettier --write
