Repository preset-io/agor: changes, and which lint-staged commands are due for each by the changed paths.
All: biome check --write --no-errors-on-unmatched --diagnostic-level=error, prettier --write

.lintstagedrc.json:

{
  "*.{ts,tsx,js,jsx,mjs,cjs}": [
    "biome check --write --no-errors-on-unmatched --diagnostic-level=error",
    "prettier --write"
  ],
  "*.{json,md,yaml,yml}": ["prettier --write"]
}

fix: same RBAC bypass in worktree archive/unarchive session queries
  apps/agor-daemon/src/services/worktrees.ts
  pnpm-lock.yaml
Due: biome check --write --no-errors-on-unmatched --diagnostic-level=error, prettier --write

fix: close conversation panel when switching boards
  apps/agor-ui/src/components/App/App.tsx
  pnpm-lock.yaml
Due: biome check --write --no-errors-on-unmatched --diagnostic-level=error, prettier --write

fix: restore pnpm-lock.yaml to match package.json
  pnpm-lock.yaml
Due: prettier --write

fix: remove SSRF restriction blocking localhost MCP server testing
  apps/agor-daemon/src/index.ts
Due: biome check --write --no-errors-on-unmatched --diagnostic-level=error, prettier --write

feat: add Discord server link across docs and README
  CONTRIBUTING.md
  README.md
  apps/agor-docs/components/Hero.tsx
  apps/agor-docs/pages/guide/development.mdx
  apps/agor-docs/pages/guide/getting-started.mdx
  apps/agor-docs/theme.config.tsx
Due: biome check --write --no-errors-on-unmatched --diagnostic-level=error, prettier --write

fix: pin nextra zod override to v3 for docs build compatibility
  package.json
  pnpm-lock.yaml
Due: prettier --write

feat: add gateway service data layer (types, schema, repositories)
  PLAN.md
  packages/core/src/db/repositories/gateway-channels.ts
  packages/core/src/db/repositories/index.ts
  packages/core/src/db/repositories/thread-session-map.ts
  packages/core/src/db/schema.postgres.ts
  packages/core/src/db/schema.sqlite.ts
  packages/core/src/db/schema.ts
  packages/core/src/types/gateway.ts
  packages/core/src/types/index.ts
Due: biome check --write --no-errors-on-unmatched --diagnostic-level=error, prettier --write

feat: add gateway service layer and Settings UI
  apps/agor-daemon/src/hooks/gateway-route.ts
  apps/agor-daemon/src/index.ts
  apps/agor-daemon/src/services/gateway-channels.ts
  apps/agor-daemon/src/services/gateway.ts
  apps/agor-daemon/src/services/thread-session-map.ts
  apps/agor-ui/src/components/SettingsModal/GatewayChannelsTable.tsx
  apps/agor-ui/src/components/SettingsModal/SettingsModal.tsx
Due: biome check --write --no-errors-on-unmatched --diagnostic-level=error, prettier --write

chore: add gateway tables drizzle migration (SQLite + Postgres)
  packages/core/drizzle/postgres/0013_dashing_justice.sql
  packages/core/drizzle/postgres/meta/0013_snapshot.json
  packages/core/drizzle/postgres/meta/_journal.json
  packages/core/drizzle/sqlite/0023_tough_hercules.sql
  packages/core/drizzle/sqlite/meta/0023_snapshot.json
  packages/core/drizzle/sqlite/meta/_journal.json
Due: prettier --write

fix: resolve Ant Design deprecation warnings and remove debug console logging
  apps/agor-ui/src/components/ApiKeyFields.tsx
  apps/agor-ui/src/components/App/App.tsx
  apps/agor-ui/src/components/AppHeader/AppHeader.tsx
  apps/agor-ui/src/components/FileUpload/FileUpload.tsx
  apps/agor-ui/src/components/LoginPage/ParticleBackground.tsx
  apps/agor-ui/src/components/SessionCanvas/SessionCanvas.tsx
  apps/agor-ui/src/components/SessionPanel/SessionPanel.tsx
  apps/agor-ui/src/components/SettingsModal/AboutTab.tsx
  apps/agor-ui/src/components/SettingsModal/AgenticToolsSection.tsx
  apps/agor-ui/src/components/SettingsModal/MCPServersTable.tsx
  apps/agor-ui/src/components/SettingsModal/UsersTable.tsx
  apps/agor-ui/src/components/TerminalModal/TerminalModal.tsx
  apps/agor-ui/src/components/WorktreeListDrawer/WorktreeListDrawer.tsx
  apps/agor-ui/src/components/WorktreeModal/components/OwnersSection.tsx
  apps/agor-ui/src/components/WorktreeModal/tabs/EnvironmentTab.tsx
  apps/agor-ui/src/components/WorktreeModal/tabs/GeneralTab.tsx
  apps/agor-ui/src/hooks/useAgorClient.ts
  apps/agor-ui/src/hooks/useAgorData.ts
  apps/agor-ui/src/hooks/useAuth.ts
  apps/agor-ui/src/hooks/useSessionActions.ts
  apps/agor-ui/src/hooks/useStreamingMessages.ts
  apps/agor-ui/src/hooks/useTaskEvents.ts
  apps/agor-ui/src/main.tsx
Due: biome check --write --no-errors-on-unmatched --diagnostic-level=error, prettier --write

feat: wire up gateway channels UI data flow and fix settings tab routing
  apps/agor-ui/src/App.tsx
  apps/agor-ui/src/components/App/App.tsx
  apps/agor-ui/src/components/SettingsModal/GatewayChannelsTable.tsx
  apps/agor-ui/src/hooks/useAgorData.ts
  apps/agor-ui/src/hooks/useSettingsRoute.ts
Due: biome check --write --no-errors-on-unmatched --diagnostic-level=error, prettier --write

feat: add gateway connector layer with Slack integration
  apps/agor-daemon/src/services/gateway.ts
  packages/core/package.json
  packages/core/src/gateway/connector-registry.ts
  packages/core/src/gateway/connector.ts
  packages/core/src/gateway/connectors/slack.ts
  packages/core/src/gateway/index.ts
  packages/core/tsup.config.ts
  pnpm-lock.yaml
Due: biome check --write --no-errors-on-unmatched --diagnostic-level=error, prettier --write

feat: fix gateway E2E flow and add channel-level agentic config
  apps/agor-daemon/src/hooks/gateway-route.ts
  apps/agor-daemon/src/services/gateway.ts
  apps/agor-ui/src/components/SettingsModal/GatewayChannelsTable.tsx
  apps/agor-ui/src/components/SettingsModal/SettingsModal.tsx
  packages/core/drizzle/postgres/0014_robust_odin.sql
  packages/core/drizzle/postgres/meta/0014_snapshot.json
  packages/core/drizzle/postgres/meta/_journal.json
  packages/core/drizzle/sqlite/0024_nice_the_renegades.sql
  packages/core/drizzle/sqlite/meta/0024_snapshot.json
  packages/core/drizzle/sqlite/meta/_journal.json
  packages/core/src/db/repositories/gateway-channels.ts
  packages/core/src/db/schema.postgres.ts
  packages/core/src/db/schema.sqlite.ts
  packages/core/src/types/gateway.ts
Due: biome check --write --no-errors-on-unmatched --diagnostic-level=error, prettier --write

feat: wire Slack Socket Mode listener and gateway debug messages
  apps/agor-daemon/src/index.ts
  apps/agor-daemon/src/services/gateway.ts
  packages/core/src/gateway/connectors/slack.ts
Due: biome check --write --no-errors-on-unmatched --diagnostic-level=error, prettier --write

docs: add Message Gateway (Beta) documentation
  apps/agor-docs/pages/guide/_meta.ts
  apps/agor-docs/pages/guide/message-gateway.mdx
Due: biome check --write --no-errors-on-unmatched --diagnostic-level=error, prettier --write

fix: address code review — redact secrets, filter DMs, unique constraint
  apps/agor-daemon/src/index.ts
  packages/core/drizzle/postgres/0015_keen_veda.sql
  packages/core/drizzle/postgres/meta/0015_snapshot.json
  packages/core/drizzle/postgres/meta/_journal.json
  packages/core/drizzle/sqlite/0025_sticky_karnak.sql
  packages/core/drizzle/sqlite/meta/0025_snapshot.json
  packages/core/drizzle/sqlite/meta/_journal.json
  packages/core/src/db/schema.postgres.ts
  packages/core/src/db/schema.sqlite.ts
  packages/core/src/gateway/connectors/slack.ts
Due: biome check --write --no-errors-on-unmatched --diagnostic-level=error, prettier --write

fix: tighten gateway channel form types (PermissionMode, UUID casts)
  apps/agor-ui/src/components/SettingsModal/GatewayChannelsTable.tsx
Due: biome check --write --no-errors-on-unmatched --diagnostic-level=error, prettier --write

feat: add security disclaimers to gateway UI and docs
  apps/agor-docs/pages/guide/message-gateway.mdx
  apps/agor-ui/src/components/SettingsModal/GatewayChannelsTable.tsx
Due: biome check --write --no-errors-on-unmatched --diagnostic-level=error, prettier --write

perf: skip gateway DB lookup when no channels are configured
  apps/agor-daemon/src/index.ts
  apps/agor-daemon/src/services/gateway.ts
Due: biome check --write --no-errors-on-unmatched --diagnostic-level=error, prettier --write

fix: MCP set_zone auto-triggers always_new zones and respects trigger.agent (#577)
  apps/agor-daemon/src/mcp/routes.ts
  apps/agor-ui/src/components/SessionCanvas/SessionCanvas.tsx
  apps/agor-ui/src/components/SessionCanvas/canvas/ZoneConfigModal.tsx
  packages/core/src/types/board.ts
  pnpm-lock.yaml
Due: biome check --write --no-errors-on-unmatched --diagnostic-level=error, prettier --write

feat: use Ant Design Form with validation in ZoneConfigModal
  apps/agor-ui/src/components/SessionCanvas/canvas/ZoneConfigModal.tsx
Due: biome check --write --no-errors-on-unmatched --diagnostic-level=error, prettier --write

chore: align pnpm-lock.yaml with package.json specifiers
  pnpm-lock.yaml
Due: prettier --write

chore: update demo video link to newer unscripted demo
  README.md
  apps/agor-docs/pages/blog/announcement.mdx
  apps/agor-docs/pages/guide/index.mdx
Due: prettier --write

fix: add ON DELETE CASCADE to thread_session_map.session_id FK
  packages/core/drizzle/postgres/0016_fix_thread_session_map_fk_cascade.sql
  packages/core/drizzle/postgres/meta/_journal.json
  packages/core/drizzle/sqlite/0026_fix_thread_session_map_fk_cascade.sql
  packages/core/drizzle/sqlite/meta/_journal.json
  packages/core/src/db/schema.postgres.ts
  packages/core/src/db/schema.sqlite.ts
Due: biome check --write --no-errors-on-unmatched --diagnostic-level=error, prettier --write

fix: add statement breakpoints and IF EXISTS to migrations
  packages/core/drizzle/postgres/0016_fix_thread_session_map_fk_cascade.sql
  packages/core/drizzle/sqlite/0026_fix_thread_session_map_fk_cascade.sql
Due: none

feat: Add support for custom Anthropic API base URL
  apps/agor-daemon/src/index.ts
  apps/agor-daemon/src/services/config.ts
  apps/agor-ui/src/components/SettingsModal/AgenticToolsTab.tsx
  packages/core/src/config/config-manager.ts
  packages/core/src/config/env-resolver.ts
  packages/core/src/config/key-resolver.ts
  packages/core/src/config/types.ts
  packages/executor/src/sdk-handlers/claude/query-builder.ts
Due: biome check --write --no-errors-on-unmatched --diagnostic-level=error, prettier --write

fix: apply user defaults in MCP session creation and simplify API
  apps/agor-daemon/src/mcp/routes.ts
Due: biome check --write --no-errors-on-unmatched --diagnostic-level=error, prettier --write

fix: address code review feedback from Codex
  apps/agor-daemon/src/mcp/routes.ts
Due: biome check --write --no-errors-on-unmatched --diagnostic-level=error, prettier --write

fix: correct agent field in agor_sessions_prompt subsession mode
  apps/agor-daemon/src/mcp/routes.ts
Due: biome check --write --no-errors-on-unmatched --diagnostic-level=error, prettier --write

Simplify ANTHROPIC_BASE_URL implementation
  apps/agor-daemon/src/index.ts
  apps/agor-daemon/src/services/config.ts
  packages/core/src/config/key-resolver.ts
  packages/executor/src/sdk-handlers/claude/query-builder.ts
Due: biome check --write --no-errors-on-unmatched --diagnostic-level=error, prettier --write

fix: surface API key decryption failures instead of silently falling through (#579)
  apps/agor-daemon/src/services/config.ts
  packages/core/src/config/key-resolver.ts
  packages/executor/src/handlers/sdk/base-executor.ts
Due: biome check --write --no-errors-on-unmatched --diagnostic-level=error, prettier --write

chore: configure Dependabot to ignore agor-live meta-package
  .github/dependabot.yml
Due: prettier --write

fix: pass refType parameter through executor for tag worktree creation
  apps/agor-daemon/src/services/repos.ts
  packages/executor/src/commands/git.ts
  packages/executor/src/payload-types.ts
Due: biome check --write --no-errors-on-unmatched --diagnostic-level=error, prettier --write

Add markdown support for worktree notes
  apps/agor-daemon/src/mcp/routes.ts
  apps/agor-ui/src/components/WorktreeCard/WorktreeCard.tsx
  apps/agor-ui/src/components/WorktreeModal/tabs/GeneralTab.tsx
Due: biome check --write --no-errors-on-unmatched --diagnostic-level=error, prettier --write

Add compact mode for markdown rendering in worktree cards
  apps/agor-ui/src/components/MarkdownRenderer/MarkdownRenderer.css
  apps/agor-ui/src/components/MarkdownRenderer/MarkdownRenderer.tsx
  apps/agor-ui/src/components/WorktreeCard/WorktreeCard.tsx
Due: biome check --write --no-errors-on-unmatched --diagnostic-level=error, prettier --write

Add markdown indicator to Notes field for better discoverability
  apps/agor-ui/src/components/WorktreeModal/tabs/GeneralTab.tsx
Due: biome check --write --no-errors-on-unmatched --diagnostic-level=error, prettier --write

feat: Add configurable message sources for Slack gateway
  FINAL_SUMMARY.md
  IMPLEMENTATION_COMPLETE.md
  README_IMPLEMENTATION.md
  SLACK_SCOPE_IMPLEMENTATION.md
  TESTING_GUIDE.md
  UI_CHANGES_SUMMARY.md
  apps/agor-ui/src/components/SettingsModal/GatewayChannelsTable.tsx
  packages/core/src/gateway/connectors/slack.ts
Due: biome check --write --no-errors-on-unmatched --diagnostic-level=error, prettier --write

fix: Apply linter fixes (formatting and Divider orientation)
  apps/agor-ui/src/components/SettingsModal/GatewayChannelsTable.tsx
  packages/core/src/gateway/connectors/slack.ts
Due: biome check --write --no-errors-on-unmatched --diagnostic-level=error, prettier --write

docs: Remove implementation documentation files from root
  FINAL_SUMMARY.md
  IMPLEMENTATION_COMPLETE.md
  README_IMPLEMENTATION.md
  SLACK_SCOPE_IMPLEMENTATION.md
  TESTING_GUIDE.md
  UI_CHANGES_SUMMARY.md
Due: prettier --write

fix: Slack gateway threading and deduplication improvements
  .github/dependabot.yml
  AGENTS.md
  PLAN.md
  apps/agor-daemon/src/index.ts
  apps/agor-daemon/src/mcp/routes.test.ts
  apps/agor-daemon/src/services/gateway.ts
  apps/agor-daemon/src/services/thread-session-map.ts
  apps/agor-docs/pages/blog/agor-openclaw.mdx
  apps/agor-docs/pages/blog/openclaw.mdx
  apps/agor-docs/pages/guide/message-gateway.mdx
  apps/agor-docs/pages/guide/multiplayer-unix-isolation.mdx
  apps/agor-docs/pages/security.mdx
  apps/agor-ui/src/components/Pill/Pill.tsx
  apps/agor-ui/src/components/Pill/index.ts
  apps/agor-ui/src/components/SettingsModal/MCPServersTable.tsx
  apps/agor-ui/src/components/WorktreeCard/WorktreeCard.tsx
  context/archives/README.md
  context/archives/rbac-exploration.md
  context/archives/unix-user-integration.md
  context/archives/unix-user-modes.md
  context/guides/rbac-and-unix-isolation.md
  docker-compose.override.yml
  packages/core/src/db/repositories/gateway-channels.ts
  packages/core/src/db/repositories/sessions.ts
  packages/core/src/db/repositories/thread-session-map.ts
  packages/core/src/db/repositories/worktrees.ts
  packages/core/src/gateway/connectors/slack.ts
Due: biome check --write --no-errors-on-unmatched --diagnostic-level=error, prettier --write
