Repository preset-io/agor: changes, and which lint-staged commands are due for each by the changed paths.
All: biome check --write --no-errors-on-unmatched --diagnostic-level=error, prettier --write

test(mcp): reach the OAuth buttons by text so CI stops timing out (#2332)
  apps/agor-ui/src/components/MCPServer/MCPServerFormFields.test.tsx
Due: biome check --write --no-errors-on-unmatched --diagnostic-level=error, prettier --write

refactor(mcp): let the endpoint, not the file, decide every connect
  AGENTS.md
  apps/agor-daemon/src/services/mcp-catalog-connect.install.test.ts
  apps/agor-daemon/src/services/mcp-catalog-connect.test.ts
  apps/agor-daemon/src/services/mcp-catalog-connect.ts
  apps/agor-daemon/src/services/mcp-catalog.test.ts
  apps/agor-daemon/src/services/mcp-catalog.ts
  apps/agor-ui/src/components/Marketplace/CatalogCard.tsx
  apps/agor-ui/src/components/Marketplace/CatalogDetailDrawer.test.tsx
  apps/agor-ui/src/components/Marketplace/CatalogDetailDrawer.tsx
  apps/agor-ui/src/components/Marketplace/CatalogTab.test.tsx
  apps/agor-ui/src/components/Marketplace/catalogPresentation.test.ts
  apps/agor-ui/src/components/Marketplace/catalogPresentation.ts
  packages/core/src/lib/feathers-validation.test.ts
  packages/core/src/lib/feathers-validation.ts
  packages/core/src/mcp-catalog/auth-probe.test.ts
  packages/core/src/mcp-catalog/auth-probe.ts
  packages/core/src/mcp-catalog/capped-body.ts
  packages/core/src/mcp-catalog/catalog.test.ts
  packages/core/src/mcp-catalog/catalog.ts
  packages/core/src/mcp-catalog/curated-loader.test.ts
  packages/core/src/mcp-catalog/curated-loader.ts
  packages/core/src/mcp-catalog/curated.yaml
  packages/core/src/mcp-catalog/index.ts
  packages/core/src/types/mcp-catalog.ts
Due: biome check --write --no-errors-on-unmatched --diagnostic-level=error, prettier --write

fix: harden GitHub gateway polling
  apps/agor-docs/content/guide/message-gateway.mdx
  packages/core/src/gateway/connectors/github.test.ts
  packages/core/src/gateway/connectors/github.ts
Due: biome check --write --no-errors-on-unmatched --diagnostic-level=error, prettier --write

test(executor): update Claude fixture after main merge
  packages/executor/src/sdk-handlers/claude/claude-tool.test.ts
Due: biome check --write --no-errors-on-unmatched --diagnostic-level=error, prettier --write

test(ui): wait for MCP create action
  apps/agor-ui/src/components/SettingsModal/MCPServersTable.test.tsx
Due: biome check --write --no-errors-on-unmatched --diagnostic-level=error, prettier --write

test: cover GitHub gateway lifecycle
  apps/agor-daemon/src/services/gateway.github.test.ts
Due: biome check --write --no-errors-on-unmatched --diagnostic-level=error, prettier --write

feat(markdown): render authenticated branch-file download links
  apps/agor-ui/src/components/MarkdownRenderer/MarkdownRenderer.test.tsx
  apps/agor-ui/src/components/MarkdownRenderer/MarkdownRenderer.tsx
  packages/core/src/types/file.test.ts
  packages/core/src/types/file.ts
  packages/executor/src/commands/files.test.ts
  packages/executor/src/commands/files.ts
Due: biome check --write --no-errors-on-unmatched --diagnostic-level=error, prettier --write

fix(hydration): close remaining client and write races
  AGENTS.md
  apps/agor-daemon/src/hooks/reject-message-multi-create.ts
  apps/agor-daemon/src/hooks/validate-message-create.ts
  apps/agor-daemon/src/register-hooks.ts
  apps/agor-daemon/src/services/messages.test.ts
  apps/agor-daemon/src/services/messages.ts
  apps/agor-docs/content/guide/development.mdx
  packages/client/src/reactive-session.test.ts
  packages/client/src/reactive-session.ts
  packages/core/src/api/index.ts
  packages/core/src/api/write-contracts.test.ts
  packages/core/src/db/migrate.ts
  packages/core/src/db/migrations.test.ts
  packages/core/src/db/repositories/messages.ts
  packages/core/src/types/message.ts
  packages/core/tsup.config.ts
Due: biome check --write --no-errors-on-unmatched --diagnostic-level=error, prettier --write

fix(hydration): verify multi-page membership stability
  apps/agor-daemon/src/services/messages.ts
  apps/agor-daemon/src/services/tasks.ts
  packages/client/src/reactive-session.ts
  packages/core/src/api/index.test.ts
  packages/core/src/api/index.ts
Due: biome check --write --no-errors-on-unmatched --diagnostic-level=error, prettier --write

perf(messages): project selected page fields in SQL
  apps/agor-daemon/src/services/messages.ts
  packages/core/src/db/repositories/messages.test.ts
  packages/core/src/db/repositories/messages.ts
Due: biome check --write --no-errors-on-unmatched --diagnostic-level=error, prettier --write

perf(tasks): project hydration membership IDs
  apps/agor-daemon/src/services/tasks.ts
  packages/core/src/db/repositories/tasks.test.ts
  packages/core/src/db/repositories/tasks.ts
Due: biome check --write --no-errors-on-unmatched --diagnostic-level=error, prettier --write

fix(markdown): download branch-file links directly, fix nested REST path 500
  apps/agor-daemon/src/services/file.integration.test.ts
  apps/agor-daemon/src/services/file.test.ts
  apps/agor-daemon/src/services/file.ts
  apps/agor-ui/src/components/MarkdownRenderer/MarkdownRenderer.test.tsx
  apps/agor-ui/src/components/MarkdownRenderer/MarkdownRenderer.tsx
Due: biome check --write --no-errors-on-unmatched --diagnostic-level=error, prettier --write

fix(markdown): widen branch-file label grammar safely with HTML-escaping
  apps/agor-ui/src/components/MarkdownRenderer/MarkdownRenderer.test.tsx
  apps/agor-ui/src/components/MarkdownRenderer/MarkdownRenderer.tsx
Due: biome check --write --no-errors-on-unmatched --diagnostic-level=error, prettier --write

fix(messages): close reviewed hydration contracts
  apps/agor-daemon/src/adapters/drizzle.ts
  apps/agor-daemon/src/hooks/validate-message-create.ts
  apps/agor-daemon/src/register-services.ts
  apps/agor-daemon/src/services/messages.test.ts
  apps/agor-daemon/src/services/messages.ts
  packages/client/src/reactive-session.test.ts
  packages/client/src/reactive-session.ts
  packages/core/src/api/write-contracts.test.ts
  packages/core/src/db/migrate.ts
  packages/core/src/db/migrations.test.ts
  packages/core/src/db/repositories/messages.postgres.test.ts
  packages/core/src/db/repositories/messages.test.ts
  packages/core/src/db/repositories/messages.ts
  packages/core/src/db/repositories/tasks.ts
  packages/core/src/lib/ids.test.ts
  packages/core/src/types/id.ts
  packages/executor/src/db/feathers-repositories.ts
  packages/executor/src/sdk-handlers/base/service-clients.ts
  packages/executor/src/sdk-handlers/claude/index.ts
Due: biome check --write --no-errors-on-unmatched --diagnostic-level=error, prettier --write

fix(messages): align published service contracts
  apps/agor-daemon/src/declarations.ts
  apps/agor-daemon/src/register-hooks.provider-failure.test.ts
  apps/agor-docs/public/openapi/agor.json
Due: biome check --write --no-errors-on-unmatched --diagnostic-level=error, prettier --write

fix(file-service): return 400 for malformed REST percent-encoding
  apps/agor-daemon/src/services/file.integration.test.ts
  apps/agor-daemon/src/services/file.test.ts
  apps/agor-daemon/src/services/file.ts
Due: biome check --write --no-errors-on-unmatched --diagnostic-level=error, prettier --write

docs(api): remove stale bulk schema
  apps/agor-docs/public/openapi/agor.json
Due: prettier --write

fix(markdown): widen branch-file label grammar to allow bracketed filenames
  apps/agor-ui/src/components/MarkdownRenderer/MarkdownRenderer.test.tsx
  apps/agor-ui/src/components/MarkdownRenderer/MarkdownRenderer.tsx
  packages/core/src/types/file.test.ts
  packages/core/src/types/file.ts
Due: biome check --write --no-errors-on-unmatched --diagnostic-level=error, prettier --write

fix(terminal): isolate fallback zellij sockets by uid
  packages/executor/src/commands/zellij.test.ts
  packages/executor/src/commands/zellij.ts
Due: biome check --write --no-errors-on-unmatched --diagnostic-level=error, prettier --write

fix: handle unpublished npm release versions
  .github/workflows/release-agor-live.yml
Due: prettier --write

fix: allow npm trusted publishing OIDC
  .github/workflows/release-agor-live.yml
Due: prettier --write

fix: preflight npm trusted publishers
  .github/workflows/release-agor-live.yml
Due: prettier --write

fix: simplify agor-live release retries
  .github/workflows/release-agor-live.yml
Due: prettier --write

fix: force fresh npm registry verification
  .github/workflows/release-agor-live.yml
Due: prettier --write

fix: pack agor-live through symlinked checkouts
  packages/agor-live/build.sh
  packages/agor-live/scripts/pack-release.mjs
  packages/agor-live/scripts/pack-release.test.js
Due: biome check --write --no-errors-on-unmatched --diagnostic-level=error, prettier --write

test: exercise symlinked packer entrypoint
  packages/agor-live/scripts/pack-release.mjs
  packages/agor-live/scripts/pack-release.test.js
Due: biome check --write --no-errors-on-unmatched --diagnostic-level=error, prettier --write

chore(brew): bump formula to 0.24.6
  Formula/agor-live.rb
Due: none

fix(install): make managed agentic-tool dir world-traversable
  apps/agor-cli/src/lib/agentic-tool-integrations.ts
Due: biome check --write --no-errors-on-unmatched --diagnostic-level=error, prettier --write

fix: share managed integrations with executor users
  apps/agor-cli/src/commands/install.ts
  apps/agor-cli/src/lib/agentic-tool-diagnostics.test.ts
  apps/agor-cli/src/lib/agentic-tool-diagnostics.ts
  apps/agor-cli/src/lib/agentic-tool-integrations.test.ts
  apps/agor-cli/src/lib/agentic-tool-integrations.ts
Due: biome check --write --no-errors-on-unmatched --diagnostic-level=error, prettier --write

test: prove fresh managed installs are shared
  apps/agor-cli/src/lib/agentic-tool-integrations.test.ts
Due: biome check --write --no-errors-on-unmatched --diagnostic-level=error, prettier --write

fix: fail fast on incomplete agent setup
  apps/agor-cli/src/commands/daemon/restart.ts
  apps/agor-cli/src/commands/daemon/start.ts
  apps/agor-cli/src/commands/init.ts
  apps/agor-cli/src/commands/install.test.ts
  apps/agor-cli/src/commands/install.ts
  apps/agor-cli/src/lib/agentic-tool-integrations.ts
  apps/agor-cli/src/lib/check-migrations.test.ts
  apps/agor-cli/src/lib/check-migrations.ts
  apps/agor-daemon/src/index.ts
  apps/agor-daemon/src/setup/agentic-tool-alignment.test.ts
  apps/agor-daemon/src/setup/agentic-tool-alignment.ts
  apps/agor-docs/content/guide/config-yaml.mdx
  apps/agor-docs/content/guide/extended-install.mdx
  packages/core/src/agentic-integrations.test.ts
  packages/core/src/agentic-integrations.ts
Due: biome check --write --no-errors-on-unmatched --diagnostic-level=error, prettier --write

feat: support prerelease package candidates
  .github/workflows/release-agor-live.yml
  packages/agor-live/build.sh
Due: prettier --write

fix: type interactive tool selection validation
  apps/agor-cli/src/lib/agentic-tool-integrations.ts
Due: biome check --write --no-errors-on-unmatched --diagnostic-level=error, prettier --write

chore(release): prepare agor-live 0.24.7
  .github/workflows/agor-live-smoke.yml
  packages/agor-claude/package.json
  packages/agor-claude/src/index.ts
  packages/agor-codex/package.json
  packages/agor-codex/src/index.ts
  packages/agor-copilot/package.json
  packages/agor-copilot/src/index.ts
  packages/agor-cursor/package.json
  packages/agor-cursor/src/index.ts
  packages/agor-gemini/package.json
  packages/agor-gemini/src/index.ts
  packages/agor-live/bin/agor-daemon.js
  packages/agor-live/bin/agor.js
  packages/agor-live/package.json
  packages/agor-opencode/package.json
  packages/agor-opencode/src/index.ts
  packages/client/package.json
Due: biome check --write --no-errors-on-unmatched --diagnostic-level=error, prettier --write

feat(executor): filesystem-sandbox isolation + unix_user_mode: sandbox
  .agor.yml
  apps/agor-cli/src/commands/doctor.ts
  apps/agor-cli/src/commands/init.ts
  apps/agor-cli/src/lib/sandbox-diagnostics.test.ts
  apps/agor-cli/src/lib/sandbox-diagnostics.ts
  apps/agor-daemon/src/register-services.ts
  apps/agor-daemon/src/startup.ts
  apps/agor-daemon/src/utils/sandbox-wrap.ts
  apps/agor-daemon/src/utils/spawn-executor.ts
  context/explorations/docker-executor-mode.md
  context/explorations/executor-sandboxing.md
  context/explorations/executor-sandboxing.md.agor-kb.json
  docker-compose.yml
  docker/Dockerfile
  packages/core/drizzle/postgres/0084_add_user_filesystem_home.sql
  packages/core/drizzle/postgres/meta/_journal.json
  packages/core/drizzle/sqlite/0087_add_user_filesystem_home.sql
  packages/core/drizzle/sqlite/meta/_journal.json
  packages/core/src/config/agor-yml.test.ts
  packages/core/src/config/config-manager.test.ts
  packages/core/src/config/config-manager.ts
  packages/core/src/config/index.ts
  packages/core/src/config/sandbox-policy.test.ts
  packages/core/src/config/sandbox-policy.ts
  packages/core/src/config/types.ts
  packages/core/src/db/repositories/users.ts
  packages/core/src/db/schema.postgres.ts
  packages/core/src/db/schema.sqlite.ts
  packages/core/src/types/opencode-auth.ts
  packages/core/src/types/user.ts
  packages/core/src/unix/user-manager.ts
  packages/executor/src/sdk-handlers/codex/prompt-service.ts
  scripts/daemon-filesystem-exceptions.json
  scripts/sandbox-home-migration-preflight.sh
  scripts/strict-to-sandbox-migration.sh
Due: biome check --write --no-errors-on-unmatched --diagnostic-level=error, prettier --write

docs(sandbox): document unix_user_mode: sandbox + strict→sandbox migration
  apps/agor-docs/content/guide/multiplayer-unix-isolation.mdx
  context/README.md
  context/guides/migrate-strict-to-sandbox.md
Due: prettier --write

fix(sandbox): address Codex review — RBAC/fail-closed hardening + CI
  apps/agor-cli/src/lib/sandbox-diagnostics.ts
  apps/agor-daemon/src/register-services.ts
  apps/agor-daemon/src/services/terminals.ts
  apps/agor-daemon/src/utils/sandbox-context.ts
  apps/agor-daemon/src/utils/sandbox-wrap.ts
  apps/agor-daemon/src/utils/spawn-executor.ts
  apps/agor-docs/content/guide/multiplayer-unix-isolation.mdx
  context/explorations/executor-sandboxing.md
  context/guides/migrate-strict-to-sandbox.md
  packages/core/src/config/config-manager.test.ts
  packages/core/src/config/config-manager.ts
  packages/core/src/config/sandbox-policy.test.ts
  packages/core/src/config/sandbox-policy.ts
  packages/core/src/db/migrations.test.ts
  packages/core/src/unix/bwrap.ts
  packages/core/src/unix/index.ts
  scripts/daemon-filesystem-exceptions.json
Due: biome check --write --no-errors-on-unmatched --diagnostic-level=error, prettier --write

fix(sandbox): close PID-namespace vector + review round 2
  apps/agor-daemon/src/register-services.ts
  apps/agor-daemon/src/services/terminals.ts
  apps/agor-daemon/src/utils/sandbox-context.test.ts
  apps/agor-daemon/src/utils/sandbox-context.ts
  apps/agor-daemon/src/utils/spawn-executor.ts
  apps/agor-docs/content/guide/multiplayer-unix-isolation.mdx
  context/explorations/executor-sandboxing.md
  packages/core/src/config/sandbox-policy.test.ts
  packages/core/src/config/sandbox-policy.ts
  packages/core/src/unix/bwrap.ts
  scripts/daemon-filesystem-exceptions.json
Due: biome check --write --no-errors-on-unmatched --diagnostic-level=error, prettier --write

Path conditions:
  biome check --write --no-errors-on-unmatched --diagnostic-level=error: any of: *.{ts,tsx,js,jsx,mjs,cjs}
  prettier --write: (any of: *.{ts,tsx,js,jsx,mjs,cjs}) or (any of: *.{json,md,yaml,yml})
