Repository preset-io/agor: changes, and which lint-staged commands are due for each by the changed paths.
All: biome check --write --no-errors-on-unmatched --diagnostic-level=error, prettier --write

fix(ui): spinner overlay on zone-trigger template render
  apps/agor-ui/src/components/SessionCanvas/canvas/ZoneTriggerModal.tsx
Due: biome check --write --no-errors-on-unmatched --diagnostic-level=error, prettier --write

fix(ui): disable Execute on zone-trigger modal while template renders
  apps/agor-ui/src/components/SessionCanvas/canvas/ZoneTriggerModal.tsx
Due: biome check --write --no-errors-on-unmatched --diagnostic-level=error, prettier --write

fix(defaults): make mapToCodexPermissionConfig the single source of truth
  apps/agor-ui/src/components/NewSessionModal/NewSessionModal.tsx
  apps/agor-ui/src/components/OnboardingWizard/OnboardingWizard.tsx
  apps/agor-ui/src/components/PermissionModeSelector/PermissionModeSelector.tsx
  apps/agor-ui/src/components/SessionPanel/SessionPanel.tsx
  apps/agor-ui/src/components/SessionSettingsModal/SessionSettingsModal.tsx
  apps/agor-ui/src/hooks/useSessionActions.ts
  packages/core/src/client/index.ts
  packages/core/src/sessions/resolve-child-session-config.test.ts
  packages/core/src/sessions/resolve-permission-config.ts
  packages/core/src/sessions/resolve-session-defaults.test.ts
  packages/core/src/utils/permission-mode-mapper.test.ts
  packages/core/src/utils/permission-mode-mapper.ts
  packages/executor/src/sdk-handlers/codex/prompt-service.ts
Due: biome check --write --no-errors-on-unmatched --diagnostic-level=error, prettier --write

docs: cover cost dedup, session state, and prior-art wrappers
  docs/internal/claude-code-cli-integration-analysis-2026-05-14.md
Due: prettier --write

docs: watcher design (no polling; fs.watch; triggers; lifecycle)
  docs/internal/claude-code-cli-integration-analysis-2026-05-14.md
Due: prettier --write

docs: analyze Claude Code CLI agentic-tool integration
  docs/internal/claude-code-cli-integration-analysis-2026-05-14.md
Due: prettier --write

docs: defaults panel, backgrounded PTY, view toggle, beta label
  docs/internal/claude-code-cli-integration-analysis-2026-05-14.md
Due: prettier --write

docs: close pre-v1 questions; permission mode is user-defined
  docs/internal/claude-code-cli-integration-analysis-2026-05-14.md
Due: prettier --write

docs: adopt ccusage as runtime dep; reverse vendor-our-own call
  docs/internal/claude-code-cli-integration-analysis-2026-05-14.md
Due: prettier --write

feat(claude-code-cli): v1 POC scaffold (types + watcher + Zellij spawn)
  .gitignore
  apps/agor-daemon/package.json
  apps/agor-daemon/src/mcp/tools/sessions.ts
  apps/agor-daemon/src/register-hooks.ts
  apps/agor-daemon/src/services/claude-cli-integration.ts
  apps/agor-daemon/src/services/claude-cli-watcher.test.ts
  apps/agor-daemon/src/services/claude-cli-watcher.ts
  apps/agor-ui/src/components/AgentSelectionGrid/availableAgents.ts
  packages/core/package.json
  packages/core/src/claude-cli/event-translator.test.ts
  packages/core/src/claude-cli/event-translator.ts
  packages/core/src/claude-cli/event-types.ts
  packages/core/src/claude-cli/index.ts
  packages/core/src/claude-cli/path-utils.test.ts
  packages/core/src/claude-cli/path-utils.ts
  packages/core/src/claude-cli/spawn-config.test.ts
  packages/core/src/claude-cli/spawn-config.ts
  packages/core/src/config/resource-schemas.ts
  packages/core/src/db/repositories/sessions.ts
  packages/core/src/db/schema.postgres.ts
  packages/core/src/db/schema.sqlite.ts
  packages/core/src/types/agentic-tool.ts
  packages/core/src/types/session.ts
  packages/core/src/types/user.ts
  packages/core/src/types/worktree.ts
  packages/core/tsup.config.ts
  packages/executor/src/commands/zellij.ts
  packages/executor/src/payload-types.ts
  packages/executor/src/sdk-handlers/base/types.ts
  packages/executor/src/sdk-handlers/claude-cli/index.ts
Due: biome check --write --no-errors-on-unmatched --diagnostic-level=error, prettier --write

docs: lock v1 as big-bang POC; resolve remaining open questions
  docs/internal/claude-code-cli-integration-analysis-2026-05-14.md
Due: prettier --write

docs: rewrite Claude Code CLI analysis around interactive-PTY architecture
  docs/internal/claude-code-cli-integration-analysis-2026-05-14.md
Due: prettier --write

docs(claude-code-cli): milestone screenshots
  docs/internal/screenshots/claude-code-cli-v1/claude-tab-active.png
  docs/internal/screenshots/claude-code-cli-v1/embedded-claude-live-in-pane.png
  docs/internal/screenshots/claude-code-cli-v1/post-tab-switcher-board.png
  docs/internal/screenshots/claude-code-cli-v1/tabs-and-defaults-shipped.png
  docs/internal/screenshots/claude-code-cli-v1/tabs-cli-view.png
Due: none

fix(claude-code-cli): bulletproof reopen-restore + Restart; bounded close-all
  apps/agor-daemon/src/register-routes.ts
  apps/agor-daemon/src/services/claude-cli-integration.ts
  apps/agor-daemon/src/services/terminals.ts
  packages/executor/src/commands/zellij.ts
  packages/executor/src/payload-types.ts
Due: biome check --write --no-errors-on-unmatched --diagnostic-level=error, prettier --write

fix(claude-code-cli): server-side ensure-create closes cold-start tab race
  apps/agor-daemon/src/services/terminals.ts
  apps/agor-ui/src/components/EmbeddedTerminal/EmbeddedTerminal.tsx
  apps/agor-ui/src/components/SessionPanel/SessionPanelContent.tsx
Due: biome check --write --no-errors-on-unmatched --diagnostic-level=error, prettier --write

copy(claude-code-cli): tighten card description to one line
  apps/agor-ui/src/components/AgentSelectionGrid/availableAgents.ts
Due: biome check --write --no-errors-on-unmatched --diagnostic-level=error, prettier --write

feat(claude-code-cli): per-turn token + cost rollup; SDK-shaped raw response
  apps/agor-daemon/src/services/claude-cli-integration.ts
  packages/core/src/claude-cli/index.ts
  packages/core/src/claude-cli/pricing.ts
Due: biome check --write --no-errors-on-unmatched --diagnostic-level=error, prettier --write

refactor(claude-code-cli): DRY initial user-message write across /prompt + watcher
  apps/agor-daemon/src/register-routes.ts
  apps/agor-daemon/src/services/claude-cli-integration.ts
  apps/agor-daemon/src/utils/build-initial-user-message.ts
Due: biome check --write --no-errors-on-unmatched --diagnostic-level=error, prettier --write

feat(claude-code-cli): pixel-bot icon, demote to last in pickers
  apps/agor-ui/src/assets/tools/claude-code-cli.png
  apps/agor-ui/src/components/AgentSelectionGrid/availableAgents.ts
  apps/agor-ui/src/components/SettingsModal/DefaultAgenticSettings.tsx
  apps/agor-ui/src/components/ToolIcon/ToolIcon.tsx
Due: biome check --write --no-errors-on-unmatched --diagnostic-level=error, prettier --write

refactor(claude-code-cli): tighten typing across the watcher integration
  apps/agor-daemon/src/services/claude-cli-integration.ts
  packages/core/src/claude-cli/pricing.ts
Due: biome check --write --no-errors-on-unmatched --diagnostic-level=error, prettier --write

feat(claude-code-cli): stale-task watchdog + wire rehydrate on daemon startup
  apps/agor-daemon/src/index.ts
  apps/agor-daemon/src/services/claude-cli-integration.ts
Due: biome check --write --no-errors-on-unmatched --diagnostic-level=error, prettier --write

feat(claude-code-cli): white plate for the pixel-bot icon
  apps/agor-ui/src/components/ToolIcon/ToolIcon.tsx
Due: biome check --write --no-errors-on-unmatched --diagnostic-level=error, prettier --write

fix(claude-code-cli): watcher owns task lifecycle; --resume idempotent restart
  apps/agor-daemon/src/register-routes.ts
  apps/agor-daemon/src/services/claude-cli-integration.ts
Due: biome check --write --no-errors-on-unmatched --diagnostic-level=error, prettier --write

feat(claude-code-cli): embedded REPL + UX (toggle, Defaults panel, PTY injection, sink)
  apps/agor-daemon/src/register-routes.ts
  apps/agor-daemon/src/services/terminals.ts
  apps/agor-ui/src/components/AgenticToolConfigForm/AgenticToolConfigForm.tsx
  apps/agor-ui/src/components/EmbeddedTerminal/EmbeddedTerminal.tsx
  apps/agor-ui/src/components/ModelSelector/ModelSelector.tsx
  apps/agor-ui/src/components/Pill/SessionMetadataCard.tsx
  apps/agor-ui/src/components/SessionPanel/SessionPanel.tsx
  apps/agor-ui/src/components/SessionPanel/SessionPanelContent.tsx
  apps/agor-ui/src/components/SettingsModal/DefaultAgenticSettings.tsx
Due: biome check --write --no-errors-on-unmatched --diagnostic-level=error, prettier --write

fix(daemon): expose db handle via app.set so getDb(app) actually works
  apps/agor-daemon/src/index.ts
Due: biome check --write --no-errors-on-unmatched --diagnostic-level=error, prettier --write

fix(claude-code-cli): bug fixes + DRY moves (addresses Codex review)
  apps/agor-daemon/src/services/claude-cli-integration.ts
  apps/agor-daemon/src/services/claude-cli-watcher.ts
  packages/core/src/claude-cli/event-translator.test.ts
  packages/core/src/claude-cli/event-translator.ts
  packages/core/src/claude-cli/index.ts
  packages/core/src/claude-cli/sdk-response.ts
  packages/core/src/claude-cli/spawn-config.ts
  packages/core/src/db/schema.postgres.ts
  packages/core/src/db/schema.sqlite.ts
  packages/core/src/types/session.ts
Due: biome check --write --no-errors-on-unmatched --diagnostic-level=error, prettier --write

fix(claude-code-cli): close 3 final issues from reviewer round-2 (RBAC, durability, --resume)
  apps/agor-daemon/src/register-routes.ts
  apps/agor-daemon/src/services/claude-cli-integration.ts
  apps/agor-daemon/src/services/terminals.ts
Due: biome check --write --no-errors-on-unmatched --diagnostic-level=error, prettier --write

chore(claude-code-cli): drop unused ccusage dep (CI fix)
  apps/agor-daemon/package.json
Due: prettier --write

fix(claude-code-cli): lint + typecheck cascade after main merge
  apps/agor-daemon/src/mcp/tools/sessions.ts
  apps/agor-daemon/src/register-hooks.ts
  apps/agor-daemon/src/register-routes.ts
  apps/agor-daemon/src/services/claude-cli-integration.ts
  apps/agor-daemon/src/services/claude-cli-watcher.test.ts
  apps/agor-daemon/src/services/claude-cli-watcher.ts
  apps/agor-daemon/src/services/terminals.ts
  apps/agor-daemon/src/utils/build-initial-user-message.ts
  apps/agor-ui/src/components/ApiKeyFields.tsx
  apps/agor-ui/src/components/EmbeddedTerminal/EmbeddedTerminal.tsx
  apps/agor-ui/src/components/ModelSelector/ModelSelector.tsx
  apps/agor-ui/src/components/OnboardingWizard/OnboardingWizard.tsx
  apps/agor-ui/src/components/PermissionModeSelector/PermissionModeSelector.tsx
  apps/agor-ui/src/components/SessionPanel/SessionPanel.tsx
  apps/agor-ui/src/components/SessionPanel/SessionPanelContent.tsx
  apps/agor-ui/src/components/SettingsModal/AgenticToolsSection.tsx
  apps/agor-ui/src/components/SettingsModal/UserSettingsModal.tsx
  packages/core/src/claude-cli/event-translator.test.ts
  packages/core/src/claude-cli/path-utils.test.ts
  packages/core/src/claude-cli/path-utils.ts
  packages/core/src/claude-cli/pricing.ts
  packages/core/src/claude-cli/spawn-config.test.ts
  packages/core/src/claude-cli/spawn-config.ts
  packages/core/src/types/message.ts
  packages/core/src/types/worktree.ts
  packages/executor/src/commands/zellij.ts
  packages/executor/src/handlers/sdk/base-executor.ts
Due: biome check --write --no-errors-on-unmatched --diagnostic-level=error, prettier --write

fix(ui): stop Conversation panel from reopening itself after close
  apps/agor-ui/src/hooks/useUrlState.ts
Due: biome check --write --no-errors-on-unmatched --diagnostic-level=error, prettier --write

docs(ui): tighten useUrlState comment to an invariant statement
  apps/agor-ui/src/hooks/useUrlState.ts
Due: biome check --write --no-errors-on-unmatched --diagnostic-level=error, prettier --write

fix: address code-review feedback on shortId centralization
  apps/agor-cli/src/commands/config/index.ts
  apps/agor-cli/src/commands/mcp/add.ts
  apps/agor-cli/src/commands/mcp/list.ts
  apps/agor-cli/src/commands/mcp/show.ts
  apps/agor-daemon/src/mcp/tools/sessions.ts
  apps/agor-daemon/src/register-hooks.ts
  apps/agor-daemon/src/register-routes.ts
  apps/agor-daemon/src/services/gateway.ts
  apps/agor-daemon/src/services/user-api-keys.ts
  apps/agor-daemon/src/setup/socketio.ts
  apps/agor-daemon/src/utils/session-state-hooks.ts
  apps/agor-ui/src/components/Pill/EventStreamPill.tsx
  apps/agor-ui/src/components/SettingsModal/MCPServersTable.tsx
  apps/agor-ui/src/hooks/useUrlState.test.ts
  apps/agor-ui/src/hooks/useUrlState.ts
  context/concepts/id-management.md
  packages/client/src/config.ts
  packages/core/src/config/config-manager.test.ts
  packages/core/src/config/config-manager.ts
  packages/core/src/config/types.ts
  packages/core/src/db/repositories/board-comments.test.ts
  packages/core/src/db/repositories/boards.test.ts
  packages/core/src/db/repositories/boards.ts
  packages/core/src/db/repositories/repos.ts
  packages/core/src/db/repositories/sessions.test.ts
  packages/core/src/db/repositories/sessions.ts
  packages/core/src/db/repositories/tasks.test.ts
  packages/core/src/db/repositories/tasks.ts
  packages/core/src/db/scripts/test-integration.test.ts
  packages/core/src/lib/ids.test.ts
  packages/core/src/lib/ids.ts
  packages/core/src/types/id.ts
  packages/core/src/unix/group-manager.ts
  packages/core/src/unix/short-id-naming.ts
  packages/core/src/unix/user-manager.ts
  scripts/check-no-ad-hoc-shortid.mjs
Due: biome check --write --no-errors-on-unmatched --diagnostic-level=error, prettier --write

fix(defaults): Codex MCP auto-approve + Claude bypass rollback + trim onboarding disclaimers
  apps/agor-daemon/src/utils/apply-session-config-defaults.test.ts
  apps/agor-ui/src/components/OnboardingWizard/OnboardingWizard.tsx
  packages/core/src/sessions/resolve-session-defaults.test.ts
  packages/core/src/types/session.test.ts
  packages/core/src/types/session.ts
  packages/executor/src/sdk-handlers/codex/prompt-service.ts
Due: biome check --write --no-errors-on-unmatched --diagnostic-level=error, prettier --write

fix(codex): address Codex review on PR #1219 (hoist MCP_AUTO_APPROVE, add regression test, tighten Claude comment)
  packages/core/src/sdk/index.ts
  packages/core/src/types/session.test.ts
  packages/core/src/types/session.ts
  packages/executor/src/sdk-handlers/codex/prompt-service.test.ts
  packages/executor/src/sdk-handlers/codex/prompt-service.ts
Due: biome check --write --no-errors-on-unmatched --diagnostic-level=error, prettier --write

fix(onboarding): Test Connection no longer skips Save (split ambient probe vs manual test)
  apps/agor-ui/src/components/OnboardingWizard/OnboardingWizard.tsx
Due: biome check --write --no-errors-on-unmatched --diagnostic-level=error, prettier --write

fix(onboarding): stop skipping api-keys + clone for fresh users (shared-framework-repo auto-pickup)
  apps/agor-ui/src/components/OnboardingWizard/OnboardingWizard.tsx
Due: biome check --write --no-errors-on-unmatched --diagnostic-level=error, prettier --write

fix(onboarding): new users see the LLM-auth step (don't auto-skip on host-level creds)
  apps/agor-ui/src/App.tsx
  apps/agor-ui/src/components/OnboardingWizard/OnboardingWizard.tsx
Due: biome check --write --no-errors-on-unmatched --diagnostic-level=error, prettier --write

fix(onboarding): bind OnboardingWizard lifecycle to user identity (no cross-user state leak)
  apps/agor-ui/src/App.tsx
Due: biome check --write --no-errors-on-unmatched --diagnostic-level=error, prettier --write

Path conditions:
  biome check --write --no-errors-on-unmatched --diagnostic-level=error: any of: *.{ts,tsx,js,jsx,mjs,cjs}
  prettier --write: (any of: *.{ts,tsx,js,jsx,mjs,cjs}) or (any of: *.{json,md,yaml,yml})
