Repository preset-io/agor: changes, and which lint-staged commands are due for each by the changed paths.
All: biome check --write --no-errors-on-unmatched --diagnostic-level=error, prettier --write

test(daemon): cover params.model on the prompt payload
  apps/agor-daemon/src/register-services.execute-payload.test.ts
  apps/agor-daemon/src/register-services.ts
Due: biome check --write --no-errors-on-unmatched --diagnostic-level=error, prettier --write

fix(tasks): drop the synthetic unverified diagnosis on termination retry
  packages/core/src/db/repositories/tasks.test.ts
  packages/core/src/db/repositories/tasks.ts
Due: biome check --write --no-errors-on-unmatched --diagnostic-level=error, prettier --write

test(recovery): provide required termination error in race fixture
  packages/core/src/db/repositories/tasks.test.ts
Due: biome check --write --no-errors-on-unmatched --diagnostic-level=error, prettier --write

fix: preserve cleanup uncertainty and concurrent quiescence evidence
  apps/agor-daemon/src/termination-coordinator.test.ts
  apps/agor-daemon/src/termination-coordinator.ts
  apps/agor-ui/src/components/SessionPanel/SessionPanel.test.tsx
  apps/agor-ui/src/components/SessionPanel/SessionPanel.tsx
  context/concepts/task-runtime-state.md
  packages/core/src/db/repositories/tasks.test.ts
  packages/core/src/db/repositories/tasks.ts
  packages/executor/src/handlers/sdk/base-executor.test.ts
  packages/executor/src/handlers/sdk/base-executor.ts
  packages/executor/src/handlers/sdk/opencode.test.ts
  packages/executor/src/handlers/sdk/opencode.ts
  packages/executor/src/index.test.ts
  packages/executor/src/index.ts
  packages/executor/src/sdk-handlers/claude/prompt-service.background-tasks.test.ts
  packages/executor/src/sdk-handlers/claude/prompt-service.ts
  packages/executor/src/termination-state.ts
Due: biome check --write --no-errors-on-unmatched --diagnostic-level=error, prettier --write

fix(recovery): satisfy process boundary checks and stabilize footer controls
  apps/agor-ui/src/components/SessionPanel/SessionFooter.layout.browser.test.tsx
  apps/agor-ui/src/components/SessionPanel/SessionFooter.tsx
  apps/agor-ui/src/components/SessionPanel/SessionPanel.test.tsx
  scripts/daemon-filesystem-exceptions.json
Due: biome check --write --no-errors-on-unmatched --diagnostic-level=error, prettier --write

fix(executor): accept only Codex stream exhaustion as teardown evidence
  packages/executor/src/handlers/sdk/base-executor.test.ts
  packages/executor/src/sdk-handlers/codex/prompt-service.test.ts
  packages/executor/src/sdk-handlers/codex/prompt-service.ts
Due: biome check --write --no-errors-on-unmatched --diagnostic-level=error, prettier --write

fix(executor): require teardown evidence from codex and cursor
  packages/executor/src/handlers/sdk/cursor.test.ts
  packages/executor/src/handlers/sdk/cursor.ts
  packages/executor/src/sdk-handlers/codex/prompt-service.test.ts
  packages/executor/src/sdk-handlers/codex/prompt-service.ts
Due: biome check --write --no-errors-on-unmatched --diagnostic-level=error, prettier --write

docs: describe external cleanup integration in generic runtime terms
  apps/agor-daemon/src/termination-coordinator.test.ts
  apps/agor-docs/content/guide/containerized-execution.mdx
  context/concepts/task-runtime-state.md
Due: biome check --write --no-errors-on-unmatched --diagnostic-level=error, prettier --write

fix(recovery): address provider cleanup and rebase review feedback
  apps/agor-daemon/src/services/task-runtime-reconciler.test.ts
  apps/agor-daemon/src/services/tasks.executor-heartbeat.test.ts
  apps/agor-daemon/src/services/tasks.ts
  apps/agor-daemon/src/termination-coordinator.test.ts
  apps/agor-daemon/src/termination-coordinator.ts
  apps/agor-daemon/src/utils/task-launch-state.test.ts
  apps/agor-docs/content/guide/containerized-execution.mdx
  apps/agor-ui/src/components/SessionPanel/RecoveryActions.test.tsx
  apps/agor-ui/src/components/TaskBlock/TaskBlock.lean.test.tsx
  apps/agor-ui/src/components/TaskBlock/describeTurnOutcome.test.ts
  apps/agor-ui/src/components/TaskBlock/describeTurnOutcome.ts
  apps/agor-ui/src/components/TaskBlock/taskRecovery.test.ts
  apps/agor-ui/src/components/TaskBlock/taskRecovery.ts
  apps/agor-ui/src/components/TaskBlock/turnOutcomeDetails.test.ts
  apps/agor-ui/src/components/TaskBlock/turnOutcomeDetails.ts
  context/concepts/task-runtime-state.md
  packages/core/src/types/task.test.ts
  packages/core/src/types/task.ts
  packages/executor/src/sdk-handlers/copilot/prompt-service.test.ts
  packages/executor/src/sdk-handlers/copilot/prompt-service.ts
  packages/executor/src/sdk-handlers/gemini/gemini-tool.ts
  packages/executor/src/sdk-handlers/gemini/prompt-service.test.ts
  packages/executor/src/sdk-handlers/gemini/prompt-service.ts
  packages/executor/test/helpers/signal-quiescence.ts
Due: biome check --write --no-errors-on-unmatched --diagnostic-level=error, prettier --write

fix(executor): pass the abort controller in the Gemini contract stop fixture
  packages/executor/scripts/gemini-contract.mts
Due: none

fix(executor): re-check signal ownership before terminal failure writes
  packages/executor/src/handlers/sdk/base-executor.test.ts
  packages/executor/src/handlers/sdk/base-executor.ts
  packages/executor/src/handlers/sdk/opencode.test.ts
  packages/executor/src/handlers/sdk/opencode.ts
Due: biome check --write --no-errors-on-unmatched --diagnostic-level=error, prettier --write

docs: clarify remote recovery for agents that cannot confirm shutdown
  apps/agor-docs/content/guide/containerized-execution.mdx
  apps/agor-docs/content/guide/sessions.mdx
Due: none

fix(executor): re-check Stop before managed OpenCode completion patches
  packages/executor/src/handlers/sdk/opencode-managed.test.ts
  packages/executor/src/handlers/sdk/opencode-managed.ts
  packages/executor/src/handlers/sdk/opencode.test.ts
  packages/executor/src/handlers/sdk/opencode.ts
Due: biome check --write --no-errors-on-unmatched --diagnostic-level=error, prettier --write

docs: describe reopen admission impact in generic launcher terms
  apps/agor-docs/content/guide/containerized-execution.mdx
Due: none

test(daemon): pass Stop check to managed OpenCode completion in hosted-turn test
  apps/agor-daemon/src/services/tasks.opencode-hosted-turn.test.ts
Due: biome check --write --no-errors-on-unmatched --diagnostic-level=error, prettier --write

fix(executor): hold Cursor quiescence for signals after a stream failure
  packages/executor/src/handlers/sdk/cursor.test.ts
  packages/executor/src/handlers/sdk/cursor.ts
Due: biome check --write --no-errors-on-unmatched --diagnostic-level=error, prettier --write

refactor(ui): share CreateDialog submit handlers via useCreateFlows
  apps/agor-ui/src/components/App/App.tsx
  apps/agor-ui/src/hooks/useCreateFlows.ts
Due: biome check --write --no-errors-on-unmatched --diagnostic-level=error, prettier --write

feat(ui): create entry on Home and in the mobile More sheet
  apps/agor-ui/src/App.tsx
  apps/agor-ui/src/components/App/App.tsx
  apps/agor-ui/src/components/CreateDialog/CreateDialog.tsx
  apps/agor-ui/src/components/CreateDialog/createMenuItems.tsx
  apps/agor-ui/src/components/CreateDialog/index.ts
  apps/agor-ui/src/components/HomePage/HomePage.create.test.tsx
  apps/agor-ui/src/components/HomePage/HomePage.tsx
  apps/agor-ui/src/components/mobile/MobileApp.test.tsx
  apps/agor-ui/src/components/mobile/MobileApp.tsx
  apps/agor-ui/src/components/mobile/MobileMoreSheet.test.tsx
  apps/agor-ui/src/components/mobile/MobileMoreSheet.tsx
  apps/agor-ui/src/components/mobile/MobileNavTree.tsx
Due: biome check --write --no-errors-on-unmatched --diagnostic-level=error, prettier --write

fix(ui): Open in Knowledge link on Teammate Knowledge tab respects /ui basename
  apps/agor-ui/src/components/BranchModal/tabs/KnowledgeTab.test.tsx
  apps/agor-ui/src/components/BranchModal/tabs/KnowledgeTab.tsx
Due: biome check --write --no-errors-on-unmatched --diagnostic-level=error, prettier --write

fix(ui): contain absolute transcript content inside the conversation scroller
  apps/agor-ui/src/components/ConversationView/ConversationView.tsx
  apps/agor-ui/src/components/ConversationView/TranscriptWindow.browser.test.tsx
Due: biome check --write --no-errors-on-unmatched --diagnostic-level=error, prettier --write

fix(ui): contain absolute transcript live regions
  apps/agor-ui/src/components/ConversationView/ConversationView.tsx
  apps/agor-ui/src/components/SessionPanel/SessionPanelContent.browser.test.tsx
Due: biome check --write --no-errors-on-unmatched --diagnostic-level=error, prettier --write

feat(home): show teammates' sessions in My work and rename Needs you
  apps/agor-ui/src/components/HomePage/HomeMyWork.tsx
  apps/agor-ui/src/components/HomePage/HomeNeedsYou.tsx
  apps/agor-ui/src/components/HomePage/HomePage.test.tsx
  apps/agor-ui/src/components/HomePage/HomePage.tsx
  apps/agor-ui/src/components/HomePage/HomeRecentBoards.tsx
  apps/agor-ui/src/components/HomePage/HomeRow.tsx
  apps/agor-ui/src/components/mobile/MobileApp.home.test.tsx
  apps/agor-ui/src/store/homeSelectors.ts
  apps/agor-ui/src/store/selectors.homeBuckets.test.ts
  apps/agor-ui/src/store/selectors.ts
Due: biome check --write --no-errors-on-unmatched --diagnostic-level=error, prettier --write

feat(ui): split create flows into focused modals + shared menu
  apps/agor-ui/src/App.tsx
  apps/agor-ui/src/components/App/App.homeSurface.test.tsx
  apps/agor-ui/src/components/App/App.quickstart.test.tsx
  apps/agor-ui/src/components/App/App.rerender.test.tsx
  apps/agor-ui/src/components/App/App.tsx
  apps/agor-ui/src/components/AppHeader/AppHeader.create.test.tsx
  apps/agor-ui/src/components/AppHeader/AppHeader.tsx
  apps/agor-ui/src/components/CreateDialog/CreateDialog.browser.test.tsx
  apps/agor-ui/src/components/CreateDialog/CreateDialog.test.tsx
  apps/agor-ui/src/components/CreateDialog/CreateDialog.tsx
  apps/agor-ui/src/components/CreateDialog/index.ts
  apps/agor-ui/src/components/CreateDialog/tabs/BranchTab.test.tsx
  apps/agor-ui/src/components/CreateDialog/tabs/BranchTab.tsx
  apps/agor-ui/src/components/CreateMenu/CreateMenu.tsx
  apps/agor-ui/src/components/CreateMenu/index.ts
  apps/agor-ui/src/components/CreateModals/CreateBoardModal.tsx
  apps/agor-ui/src/components/CreateModals/CreateBranchModal.tsx
  apps/agor-ui/src/components/CreateModals/CreateModalShell.tsx
  apps/agor-ui/src/components/CreateModals/CreateModals.test.tsx
  apps/agor-ui/src/components/CreateModals/CreateModals.tsx
  apps/agor-ui/src/components/CreateModals/CreateRepoModal.tsx
  apps/agor-ui/src/components/CreateModals/CreateTeammateModal.tsx
  apps/agor-ui/src/components/CreateModals/index.ts
  apps/agor-ui/src/components/NewSessionButton/NewSessionButton.tsx
  apps/agor-ui/src/components/NewSessionButton/index.ts
  apps/agor-ui/src/components/mobile/MobileApp.tsx
  apps/agor-ui/src/components/mobile/MobileMoreSheet.test.tsx
  apps/agor-ui/src/components/mobile/MobileMoreSheet.tsx
  apps/agor-ui/src/components/mobile/MobileNavTree.settings.test.tsx
  apps/agor-ui/src/components/mobile/MobileNavTree.tsx
  apps/agor-ui/src/hooks/useCreateFlows.test.tsx
  apps/agor-ui/src/hooks/useCreateFlows.ts
Due: biome check --write --no-errors-on-unmatched --diagnostic-level=error, prettier --write

feat(ui): admin-only Repository item and screen-height create modals
  apps/agor-ui/src/components/App/App.homeSurface.test.tsx
  apps/agor-ui/src/components/AppHeader/AppHeader.create.test.tsx
  apps/agor-ui/src/components/AppHeader/AppHeader.tsx
  apps/agor-ui/src/components/CreateMenu/CreateMenu.tsx
  apps/agor-ui/src/components/CreateMenu/index.ts
  apps/agor-ui/src/components/CreateModals/CreateBoardModal.tsx
  apps/agor-ui/src/components/CreateModals/CreateBranchModal.tsx
  apps/agor-ui/src/components/CreateModals/CreateModalShell.tsx
  apps/agor-ui/src/components/CreateModals/CreateModals.test.tsx
  apps/agor-ui/src/components/CreateModals/CreateRepoModal.tsx
  apps/agor-ui/src/components/HomePage/HomePage.tsx
  apps/agor-ui/src/components/mobile/MobileApp.tsx
  apps/agor-ui/src/components/mobile/MobileMoreSheet.test.tsx
  apps/agor-ui/src/components/mobile/MobileMoreSheet.tsx
  apps/agor-ui/src/components/mobile/MobileNavTree.settings.test.tsx
  apps/agor-ui/src/components/mobile/MobileNavTree.tsx
Due: biome check --write --no-errors-on-unmatched --diagnostic-level=error, prettier --write

pr-assets: home composer review captures 2026-10-08
  pr-assets/home-composer-layout/review-2026-10-08/default-desktop-dark.png
  pr-assets/home-composer-layout/review-2026-10-08/default-desktop-light.png
  pr-assets/home-composer-layout/review-2026-10-08/default-iphone15-dark.png
  pr-assets/home-composer-layout/review-2026-10-08/default-iphone15-light.png
  pr-assets/home-composer-layout/review-2026-10-08/default-m360-dark.png
  pr-assets/home-composer-layout/review-2026-10-08/default-m360-light.png
  pr-assets/home-composer-layout/review-2026-10-08/manifest.json
  pr-assets/home-composer-layout/review-2026-10-08/picker-open-desktop-dark.png
  pr-assets/home-composer-layout/review-2026-10-08/picker-open-desktop-light.png
  pr-assets/home-composer-layout/review-2026-10-08/picker-open-iphone15-dark.png
  pr-assets/home-composer-layout/review-2026-10-08/picker-open-iphone15-light.png
  pr-assets/home-composer-layout/review-2026-10-08/picker-open-m360-dark.png
  pr-assets/home-composer-layout/review-2026-10-08/picker-open-m360-light.png
  pr-assets/home-composer-layout/review-2026-10-08/send-menu-open-iphone15-dark.png
  pr-assets/home-composer-layout/review-2026-10-08/send-menu-open-iphone15-light.png
  pr-assets/home-composer-layout/review-2026-10-08/send-menu-open-m360-dark.png
  pr-assets/home-composer-layout/review-2026-10-08/send-menu-open-m360-light.png
  pr-assets/home-composer-layout/review-2026-10-08/truncation-desktop-dark.png
  pr-assets/home-composer-layout/review-2026-10-08/truncation-desktop-light.png
  pr-assets/home-composer-layout/review-2026-10-08/truncation-iphone15-dark.png
  pr-assets/home-composer-layout/review-2026-10-08/truncation-iphone15-light.png
  pr-assets/home-composer-layout/review-2026-10-08/truncation-m360-dark.png
  pr-assets/home-composer-layout/review-2026-10-08/truncation-m360-light.png
  pr-assets/home-composer-layout/review-2026-10-08/video-desktop-pick-and-continue-dark.webm
  pr-assets/home-composer-layout/review-2026-10-08/video-mobile-continue-iphone15-dark.webm
  pr-assets/home-composer-layout/review-2026-10-08/video-mobile-pick-and-send-iphone15-dark.webm
Due: prettier --write

pr-assets: recapture home composer truncation and send video
  pr-assets/home-composer-layout/review-2026-10-08/manifest.json
  pr-assets/home-composer-layout/review-2026-10-08/truncation-desktop-dark.png
  pr-assets/home-composer-layout/review-2026-10-08/truncation-desktop-light.png
  pr-assets/home-composer-layout/review-2026-10-08/truncation-iphone15-dark.png
  pr-assets/home-composer-layout/review-2026-10-08/truncation-iphone15-light.png
  pr-assets/home-composer-layout/review-2026-10-08/truncation-m360-dark.png
  pr-assets/home-composer-layout/review-2026-10-08/truncation-m360-light.png
  pr-assets/home-composer-layout/review-2026-10-08/video-mobile-pick-and-send-iphone15-dark.webm
Due: prettier --write

test(ui): wait for settings description popover before asserting visibility
  apps/agor-ui/src/components/SettingsModal/MCPServersTable.layout.browser.test.tsx
Due: biome check --write --no-errors-on-unmatched --diagnostic-level=error, prettier --write

refactor(ui): simplify footer fallback and pin info chrome
  apps/agor-ui/src/components/AutocompleteTextarea/AutocompleteTextarea.tsx
  apps/agor-ui/src/components/SessionPanel/SessionComposerDropZone.test.tsx
  apps/agor-ui/src/components/SessionPanel/SessionComposerDropZone.tsx
  apps/agor-ui/src/components/SessionPanel/SessionFooter.test.tsx
  apps/agor-ui/src/components/SessionPanel/SessionFooter.tsx
  apps/agor-ui/src/components/SessionPanel/SessionPanel.tsx
  apps/agor-ui/src/components/SessionPanel/SessionPanelContent.browser.test.tsx
Due: biome check --write --no-errors-on-unmatched --diagnostic-level=error, prettier --write

fix(ui): keep "add teammate to this board" context; hide create entry from viewers
  apps/agor-ui/src/components/AppHeader/AppHeader.create.test.tsx
  apps/agor-ui/src/components/AppHeader/AppHeader.tsx
  apps/agor-ui/src/components/CreateModals/CreateModalShell.tsx
  apps/agor-ui/src/components/CreateModals/CreateModals.tsx
  apps/agor-ui/src/components/CreateModals/CreateTeammateModal.tsx
  apps/agor-ui/src/components/mobile/MobileApp.tsx
  apps/agor-ui/src/components/mobile/MobileMoreSheet.test.tsx
  apps/agor-ui/src/components/mobile/MobileMoreSheet.tsx
  apps/agor-ui/src/components/mobile/MobileNavTree.tsx
  apps/agor-ui/src/hooks/useCreateFlows.test.tsx
  apps/agor-ui/src/hooks/useCreateFlows.ts
Due: biome check --write --no-errors-on-unmatched --diagnostic-level=error, prettier --write

Review captures 2026-10-08 for fix-composer-overflow-menu
  review-2026-10-08/android360-dark-chips-end.png
  review-2026-10-08/android360-dark-idle.png
  review-2026-10-08/android360-dark-more.png
  review-2026-10-08/android360-dark-multiline.png
  review-2026-10-08/android360-dark-running.png
  review-2026-10-08/android360-light-chips-end.png
  review-2026-10-08/android360-light-idle.png
  review-2026-10-08/android360-light-more.png
  review-2026-10-08/android360-light-multiline.png
  review-2026-10-08/android360-light-running.png
  review-2026-10-08/desktop-dark-idle.png
  review-2026-10-08/desktop-dark-more.png
  review-2026-10-08/desktop-dark-running.png
  review-2026-10-08/desktop-light-idle.png
  review-2026-10-08/desktop-light-more.png
  review-2026-10-08/desktop-light-running.png
  review-2026-10-08/iphone15-dark-idle.png
  review-2026-10-08/iphone15-dark-more.png
  review-2026-10-08/iphone15-dark-multiline.png
  review-2026-10-08/iphone15-dark-running.png
  review-2026-10-08/iphone15-light-idle.png
  review-2026-10-08/iphone15-light-more.png
  review-2026-10-08/iphone15-light-multiline.png
  review-2026-10-08/iphone15-light-running.png
  review-2026-10-08/manifest.json
  review-2026-10-08/video-desktop-popover.webm
  review-2026-10-08/video-phone-chips.webm
  review-2026-10-08/video-phone-send.webm
  review-2026-10-08/video-phone-sheet.webm
Due: prettier --write

PR #2801 review media: canvas first view, Home badge (not for merge)
  review-2026-10-08/android-dark-board-canvas.png
  review-2026-10-08/android-dark-home-top.png
  review-2026-10-08/android-light-board-canvas.png
  review-2026-10-08/android-light-home-top.png
  review-2026-10-08/iphone-dark-board-canvas.png
  review-2026-10-08/iphone-dark-home-top.png
  review-2026-10-08/iphone-light-board-canvas.png
  review-2026-10-08/iphone-light-home-top.png
  review-2026-10-08/manifest.json
  review-2026-10-08/video-a-home-scroll.webm
  review-2026-10-08/video-d-canvas.webm
Due: prettier --write

PR #2801 review media: re-capture remaining shots and videos b, c, e (not for merge)
  review-2026-10-08/android-dark-board-comments.png
  review-2026-10-08/android-dark-board-sessions.png
  review-2026-10-08/android-dark-board-teammate.png
  review-2026-10-08/android-dark-home-scrolled.png
  review-2026-10-08/android-dark-session.png
  review-2026-10-08/android-dark-subpage-header.png
  review-2026-10-08/android-light-board-comments.png
  review-2026-10-08/android-light-board-sessions.png
  review-2026-10-08/android-light-board-teammate.png
  review-2026-10-08/android-light-home-scrolled.png
  review-2026-10-08/android-light-session.png
  review-2026-10-08/android-light-subpage-header.png
  review-2026-10-08/iphone-dark-board-comments.png
  review-2026-10-08/iphone-dark-board-sessions.png
  review-2026-10-08/iphone-dark-board-teammate.png
  review-2026-10-08/iphone-dark-home-scrolled.png
  review-2026-10-08/iphone-dark-session.png
  review-2026-10-08/iphone-dark-subpage-header.png
  review-2026-10-08/iphone-light-board-comments.png
  review-2026-10-08/iphone-light-board-sessions.png
  review-2026-10-08/iphone-light-board-teammate.png
  review-2026-10-08/iphone-light-home-scrolled.png
  review-2026-10-08/iphone-light-session.png
  review-2026-10-08/iphone-light-subpage-header.png
  review-2026-10-08/video-b-more-comments.webm
  review-2026-10-08/video-c-board-tabs.webm
  review-2026-10-08/video-e-safe-area-iphone.webm
Due: none

feat(mcp): add customer-owned OAuth apps and stable Cloud callback alternative
  .github/workflows/ci.yml
  apps/agor-daemon/src/auth/launch-auth.test.ts
  apps/agor-daemon/src/auth/launch-auth.ts
  apps/agor-daemon/src/index.ts
  apps/agor-daemon/src/mcp/tools/mcp-servers.ts
  apps/agor-daemon/src/register-services.oauth-callback.test.ts
  apps/agor-daemon/src/register-services.oauth-ha.postgres.test.ts
  apps/agor-daemon/src/register-services.ts
  apps/agor-daemon/src/services/mcp-catalog-connect.test.ts
  apps/agor-daemon/src/services/mcp-catalog-connect.ts
  apps/agor-daemon/src/services/mcp-catalog-install-policy.ts
  apps/agor-daemon/src/services/mcp-catalog-readiness.ts
  apps/agor-daemon/src/services/mcp-oauth-compatibility.test.ts
  apps/agor-daemon/src/services/mcp-oauth-compatibility.ts
  apps/agor-daemon/src/services/mcp-oauth-pending-flow-authority.ts
  apps/agor-daemon/src/services/mcp-oauth-relay.test.ts
  apps/agor-daemon/src/services/mcp-oauth-relay.ts
  apps/agor-docs/content/guide/mcp-servers.mdx
  apps/agor-ui/src/components/Marketplace/CatalogConfiguredApp.browser.test.tsx
  apps/agor-ui/src/components/Marketplace/CatalogDetailDrawer.tsx
  apps/agor-ui/src/components/Marketplace/CatalogTab.tsx
  packages/core/src/config/config-manager.ts
  packages/core/src/config/types.ts
  packages/core/src/db/mcp-configured-client-secret.test.ts
  packages/core/src/db/mcp-configured-client-secret.ts
  packages/core/src/db/oauth-secret-envelope.ts
  packages/core/src/db/repositories/mcp-servers.ts
  packages/core/src/db/repositories/user-external-identities.ts
  packages/core/src/mcp-catalog/curated-loader.test.ts
  packages/core/src/mcp-catalog/curated-loader.ts
  packages/core/src/mcp-catalog/curated.yaml
  packages/core/src/tools/mcp/oauth-mcp-transport.ts
  packages/core/src/tools/mcp/oauth-stable-callback.integration.test.ts
  packages/core/src/tools/mcp/oauth-stable-callback.test-fixture.ts
  packages/core/src/types/index.ts
  packages/core/src/types/mcp-catalog.ts
  packages/core/src/types/mcp-oauth-relay.ts
  packages/core/src/types/mcp.ts
  scripts/test-mcp-oauth-browser.mts
Due: biome check --write --no-errors-on-unmatched --diagnostic-level=error, prettier --write

fix(mcp): audit configured app recipes without requiring live DCR
  packages/core/src/mcp-catalog/health-audit.test.ts
  packages/core/src/mcp-catalog/health-audit.ts
Due: biome check --write --no-errors-on-unmatched --diagnostic-level=error, prettier --write

fix(mcp): accept Shared OAuth mode on customer-owned app installs
  apps/agor-daemon/src/services/mcp-catalog-install-policy.ts
  apps/agor-daemon/src/services/mcp-oauth-compatibility.test.ts
Due: biome check --write --no-errors-on-unmatched --diagnostic-level=error, prettier --write

feat(mcp): declare daemon relay configuration compatibility
  apps/agor-daemon/runtime-capabilities.json
  apps/agor-daemon/src/runtime-capabilities.test.ts
  apps/agor-docs/content/guide/mcp-servers.mdx
Due: biome check --write --no-errors-on-unmatched --diagnostic-level=error, prettier --write

fix(mcp): keep direct pending OAuth flows on sealed envelope v3
  apps/agor-daemon/src/services/mcp-oauth-pending-flow-authority.postgres.test.ts
  apps/agor-daemon/src/services/mcp-oauth-pending-flow-authority.ts
  packages/core/src/types/mcp.ts
Due: biome check --write --no-errors-on-unmatched --diagnostic-level=error, prettier --write

fix(mcp): preserve safe relay preparation failure diagnostics
  apps/agor-daemon/src/services/mcp-oauth-relay.test.ts
  apps/agor-daemon/src/services/mcp-oauth-relay.ts
  packages/core/src/tools/mcp/external-error.ts
Due: biome check --write --no-errors-on-unmatched --diagnostic-level=error, prettier --write

Path conditions:
  biome check --write --no-errors-on-unmatched --diagnostic-level=error: any of: *.{ts,tsx,js,jsx,mjs,cjs}
  prettier --write: (any of: *.{ts,tsx,js,jsx,mjs,cjs}) or (any of: *.{json,md,yaml,yml})
