Repository preset-io/agor: changes, and which lint-staged commands are due for each by the changed paths.
All: biome check --write --no-errors-on-unmatched --diagnostic-level=error, prettier --write

Reverse landing eyebrow gradients
  apps/agor-docs/components/LandingPage.module.css
Due: none

Restore large hero headline
  apps/agor-docs/components/LandingPage.module.css
Due: none

Rebalance hero product collage
  apps/agor-docs/components/LandingPage.module.css
  apps/agor-docs/components/LandingPage.tsx
Due: biome check --write --no-errors-on-unmatched --diagnostic-level=error, prettier --write

Simplify hero screenshot collage
  apps/agor-docs/components/LandingPage.module.css
  apps/agor-docs/components/LandingPage.tsx
Due: biome check --write --no-errors-on-unmatched --diagnostic-level=error, prettier --write

Polish monster concept gallery
  context/brand/logo-monster-concepts/README.md
  context/brand/logo-monster-concepts/artifact/index.html
  context/brand/logo-monster-concepts/artifact/styles.css
  context/brand/logo-monster-concepts/index.html
  context/brand/logo-monster-concepts/styles.css
Due: prettier --write

Address remote relationship review feedback
  apps/agor-daemon/src/register-hooks.test.ts
  apps/agor-daemon/src/register-hooks.ts
  apps/agor-daemon/src/services/sessions.ts
  apps/agor-ui/src/hooks/useAgorData.ts
Due: biome check --write --no-errors-on-unmatched --diagnostic-level=error, prettier --write

Tighten hero collage corners
  apps/agor-docs/components/LandingPage.module.css
Due: none

Minimize hero collage corner radius
  apps/agor-docs/components/LandingPage.module.css
Due: none

Add perspective to hero collage
  apps/agor-docs/components/LandingPage.module.css
Due: none

Keep board sync client open during nested branch syncs
  packages/executor/src/commands/unix.ts
Due: biome check --write --no-errors-on-unmatched --diagnostic-level=error, prettier --write

Improve hero collage supporting screenshots
  apps/agor-docs/components/LandingPage.module.css
  apps/agor-docs/components/LandingPage.tsx
Due: biome check --write --no-errors-on-unmatched --diagnostic-level=error, prettier --write

Tune hero collage screenshot framing
  apps/agor-docs/components/LandingPage.module.css
Due: none

Simplify hero to single product screenshot
  apps/agor-docs/components/LandingPage.module.css
  apps/agor-docs/components/LandingPage.tsx
Due: biome check --write --no-errors-on-unmatched --diagnostic-level=error, prettier --write

Add hero description line break
  apps/agor-docs/components/LandingPage.tsx
Due: biome check --write --no-errors-on-unmatched --diagnostic-level=error, prettier --write

Remove guide roadmap section
  apps/agor-docs/pages/guide/development.mdx
  apps/agor-docs/pages/guide/index.mdx
  apps/agor-docs/pages/guide/sdk-comparison.mdx
Due: none

Add landing page product highlights
  apps/agor-docs/components/LandingPage.module.css
  apps/agor-docs/components/LandingPage.tsx
Due: biome check --write --no-errors-on-unmatched --diagnostic-level=error, prettier --write

Add assistants screenshot to landing section
  apps/agor-docs/components/LandingPage.module.css
  apps/agor-docs/components/LandingPage.tsx
Due: biome check --write --no-errors-on-unmatched --diagnostic-level=error, prettier --write

Update landing hero messaging
  apps/agor-docs/components/LandingPage.module.css
  apps/agor-docs/components/LandingPage.tsx
Due: biome check --write --no-errors-on-unmatched --diagnostic-level=error, prettier --write

Restore landing hero title
  apps/agor-docs/components/LandingPage.module.css
  apps/agor-docs/components/LandingPage.tsx
Due: biome check --write --no-errors-on-unmatched --diagnostic-level=error, prettier --write

Move terminal copy out of hero
  apps/agor-docs/components/LandingPage.module.css
  apps/agor-docs/components/LandingPage.tsx
Due: biome check --write --no-errors-on-unmatched --diagnostic-level=error, prettier --write

Update landing trust links
  apps/agor-docs/components/LandingPage.tsx
Due: biome check --write --no-errors-on-unmatched --diagnostic-level=error, prettier --write

Make terminal line hero subtitle
  apps/agor-docs/components/LandingPage.module.css
  apps/agor-docs/components/LandingPage.tsx
Due: biome check --write --no-errors-on-unmatched --diagnostic-level=error, prettier --write

Add no lock-in harness messaging
  apps/agor-docs/components/LandingPage.tsx
Due: biome check --write --no-errors-on-unmatched --diagnostic-level=error, prettier --write

Sharpen product highlights headline
  apps/agor-docs/components/LandingPage.tsx
Due: biome check --write --no-errors-on-unmatched --diagnostic-level=error, prettier --write

Move compound line to control section
  apps/agor-docs/components/LandingPage.tsx
Due: biome check --write --no-errors-on-unmatched --diagnostic-level=error, prettier --write

Remove landing problem section
  apps/agor-docs/components/LandingPage.module.css
  apps/agor-docs/components/LandingPage.tsx
Due: biome check --write --no-errors-on-unmatched --diagnostic-level=error, prettier --write

Simplify hero subtitle copy
  apps/agor-docs/components/LandingPage.module.css
  apps/agor-docs/components/LandingPage.tsx
Due: biome check --write --no-errors-on-unmatched --diagnostic-level=error, prettier --write

Collapse product highlight sections
  apps/agor-docs/components/LandingPage.module.css
  apps/agor-docs/components/LandingPage.tsx
Due: biome check --write --no-errors-on-unmatched --diagnostic-level=error, prettier --write

Move product surfaces earlier
  apps/agor-docs/components/LandingPage.module.css
  apps/agor-docs/components/LandingPage.tsx
Due: biome check --write --no-errors-on-unmatched --diagnostic-level=error, prettier --write

Simplify product cards
  apps/agor-docs/components/LandingPage.module.css
  apps/agor-docs/components/LandingPage.tsx
Due: biome check --write --no-errors-on-unmatched --diagnostic-level=error, prettier --write

Move assistant strip near workspace section
  apps/agor-docs/components/LandingPage.tsx
Due: biome check --write --no-errors-on-unmatched --diagnostic-level=error, prettier --write

Add third row of product surfaces
  apps/agor-docs/components/LandingPage.module.css
  apps/agor-docs/components/LandingPage.tsx
Due: biome check --write --no-errors-on-unmatched --diagnostic-level=error, prettier --write

Simplify lower landing sections
  apps/agor-docs/components/LandingPage.module.css
  apps/agor-docs/components/LandingPage.tsx
Due: biome check --write --no-errors-on-unmatched --diagnostic-level=error, prettier --write

Update final CTA paths
  apps/agor-docs/components/LandingPage.tsx
Due: biome check --write --no-errors-on-unmatched --diagnostic-level=error, prettier --write

Align landing page CTAs
  apps/agor-docs/components/LandingPage.module.css
  apps/agor-docs/components/LandingPage.tsx
Due: biome check --write --no-errors-on-unmatched --diagnostic-level=error, prettier --write

Shorten local install CTA
  apps/agor-docs/components/LandingPage.tsx
Due: biome check --write --no-errors-on-unmatched --diagnostic-level=error, prettier --write

Use get started CTA
  apps/agor-docs/components/LandingPage.tsx
Due: biome check --write --no-errors-on-unmatched --diagnostic-level=error, prettier --write

Refine team assistants section
  apps/agor-docs/components/LandingPage.tsx
Due: biome check --write --no-errors-on-unmatched --diagnostic-level=error, prettier --write

Simplify assistant cards
  apps/agor-docs/components/LandingPage.module.css
  apps/agor-docs/components/LandingPage.tsx
Due: biome check --write --no-errors-on-unmatched --diagnostic-level=error, prettier --write

Tighten final CTA copy
  apps/agor-docs/components/LandingPage.tsx
Due: biome check --write --no-errors-on-unmatched --diagnostic-level=error, prettier --write

Path conditions:
  biome check --write --no-errors-on-unmatched --diagnostic-level=error: any of: *.{ts,tsx,js,jsx,mjs,cjs}
  prettier --write: (any of: *.{ts,tsx,js,jsx,mjs,cjs}) or (any of: *.{json,md,yaml,yml})
