Repository preset-io/agor: changes, and which lint-staged commands are due for each by the changed paths.
All: biome check --write --no-errors-on-unmatched --diagnostic-level=error, prettier --write

.lintstagedrc.json:

{
  "*.{ts,tsx,js,jsx,mjs,cjs}": [
    "biome check --write --no-errors-on-unmatched --diagnostic-level=error",
    "prettier --write"
  ],
  "*.{json,md,yaml,yml}": ["prettier --write"]
}

Redesign docs landing: add multiplayer section, footer, tighten copy
  apps/agor-docs/components/LandingPage.module.css
  apps/agor-docs/components/LandingPage.tsx
Due: biome check --write --no-errors-on-unmatched --diagnostic-level=error, prettier --write

Landing: increase mobile gutters to 24px, tidy footer columns
  apps/agor-docs/components/LandingPage.module.css
Due: none

Investigate prompt cache drift
  context/explorations/prompt-cache-drift.md
  packages/core/src/templates/agor-system-prompt.md
  packages/core/src/templates/session-context.ts
  packages/executor/src/sdk-handlers/base/mcp-scoping.test.ts
  packages/executor/src/sdk-handlers/base/mcp-scoping.ts
Due: biome check --write --no-errors-on-unmatched --diagnostic-level=error, prettier --write

Move prompt cache report to knowledge base
  context/explorations/prompt-cache-drift.md
Due: prettier --write

Keep Agor system prompt static
  packages/core/src/templates/agor-system-prompt.md
  packages/core/src/templates/session-context.ts
Due: biome check --write --no-errors-on-unmatched --diagnostic-level=error, prettier --write

Prefer current context MCP tool in prompt
  packages/core/src/templates/agor-system-prompt.md
Due: prettier --write

Trim static Agor system prompt
  packages/core/src/templates/agor-system-prompt.md
Due: prettier --write

Streamline onboarding wizard
  apps/agor-ui/src/components/OnboardingWizard/OnboardingWizard.test.tsx
  apps/agor-ui/src/components/OnboardingWizard/OnboardingWizard.tsx
Due: biome check --write --no-errors-on-unmatched --diagnostic-level=error, prettier --write

Refine Agor prompt orientation
  packages/core/src/templates/agor-system-prompt.md
Due: prettier --write

Add Agor MCP domain hint
  packages/core/src/templates/agor-system-prompt.md
Due: prettier --write

Add assistant orientation to onboarding
  apps/agor-ui/src/components/OnboardingWizard/OnboardingWizard.test.tsx
  apps/agor-ui/src/components/OnboardingWizard/OnboardingWizard.tsx
Due: biome check --write --no-errors-on-unmatched --diagnostic-level=error, prettier --write

List Agor MCP domains in prompt
  packages/core/src/templates/agor-system-prompt.md
Due: prettier --write

Restore onboarding assistant orientation
  apps/agor-ui/src/components/OnboardingWizard/OnboardingWizard.test.tsx
  apps/agor-ui/src/components/OnboardingWizard/OnboardingWizard.tsx
Due: biome check --write --no-errors-on-unmatched --diagnostic-level=error, prettier --write

Clarify Agor MCP tool domains wording
  packages/core/src/templates/agor-system-prompt.md
Due: prettier --write

Use bounded dynamic onboarding modal height
  apps/agor-ui/src/components/OnboardingWizard/OnboardingWizard.test.tsx
  apps/agor-ui/src/components/OnboardingWizard/OnboardingWizard.tsx
Due: biome check --write --no-errors-on-unmatched --diagnostic-level=error, prettier --write

Fix MCP ordering typecheck
  packages/executor/src/sdk-handlers/base/mcp-scoping.test.ts
  packages/executor/src/sdk-handlers/base/mcp-scoping.ts
Due: biome check --write --no-errors-on-unmatched --diagnostic-level=error, prettier --write

Normalize onboarding default model config
  apps/agor-ui/src/components/OnboardingWizard/OnboardingWizard.test.tsx
  apps/agor-ui/src/components/OnboardingWizard/OnboardingWizard.tsx
Due: biome check --write --no-errors-on-unmatched --diagnostic-level=error, prettier --write

Simplify static Agor prompt plumbing
  packages/core/src/templates/session-context.ts
  packages/executor/src/sdk-handlers/base/mcp-scoping.test.ts
  packages/executor/src/sdk-handlers/base/mcp-scoping.ts
  packages/executor/src/sdk-handlers/claude/query-builder.ts
  packages/executor/src/sdk-handlers/codex/prompt-service.ts
  packages/executor/src/sdk-handlers/copilot/prompt-service.ts
  packages/executor/src/sdk-handlers/gemini/prompt-service.ts
Due: biome check --write --no-errors-on-unmatched --diagnostic-level=error, prettier --write

Fix onboarding framework repo retry
  apps/agor-ui/src/components/OnboardingWizard/OnboardingWizard.test.tsx
  apps/agor-ui/src/components/OnboardingWizard/OnboardingWizard.tsx
Due: biome check --write --no-errors-on-unmatched --diagnostic-level=error, prettier --write

fix: stop session realtime idle patch
  apps/agor-daemon/src/register-routes.ts
  apps/agor-daemon/src/services/tasks.executor-heartbeat.test.ts
  apps/agor-daemon/src/services/tasks.ts
  apps/agor-daemon/src/utils/session-stop.test.ts
  apps/agor-daemon/src/utils/session-stop.ts
  apps/agor-ui/src/hooks/useAgorData.test.tsx
Due: biome check --write --no-errors-on-unmatched --diagnostic-level=error, prettier --write

Add marketing screenshot demo board
  apps/agor-docs/public/screenshots/marketing/agor-marketing-board-wide.png
  apps/agor-docs/public/screenshots/marketing/agor-marketing-board.png
  apps/agor-ui/src/App.tsx
  apps/agor-ui/src/pages/MarketingScreenshotPage.css
  apps/agor-ui/src/pages/MarketingScreenshotPage.tsx
  apps/agor-ui/src/surfaces/surfaceRegistry.ts
  context/marketing/screenshots/README.md
  context/marketing/screenshots/agor-marketing-board-wide.png
  context/marketing/screenshots/agor-marketing-board.png
Due: biome check --write --no-errors-on-unmatched --diagnostic-level=error, prettier --write

Use base presence components in screenshot demo
  apps/agor-docs/public/screenshots/marketing/agor-marketing-board-wide.png
  apps/agor-docs/public/screenshots/marketing/agor-marketing-board.png
  apps/agor-ui/src/components/AppHeader/GlobalPresenceFacepile.tsx
  apps/agor-ui/src/components/SessionCanvas/canvas/RemoteCursorLayer.tsx
  apps/agor-ui/src/pages/MarketingScreenshotPage.css
  apps/agor-ui/src/pages/MarketingScreenshotPage.tsx
  context/marketing/screenshots/README.md
  context/marketing/screenshots/agor-marketing-board-wide.png
  context/marketing/screenshots/agor-marketing-board.png
Due: biome check --write --no-errors-on-unmatched --diagnostic-level=error, prettier --write

Stage marketing demo with product board components
  apps/agor-docs/public/screenshots/marketing/agor-marketing-board-wide.png
  apps/agor-docs/public/screenshots/marketing/agor-marketing-board.png
  apps/agor-ui/src/components/AppHeader/AppHeader.tsx
  apps/agor-ui/src/components/AppHeader/GlobalPresenceFacepile.tsx
  apps/agor-ui/src/components/SessionCanvas/SessionCanvas.tsx
  apps/agor-ui/src/pages/MarketingScreenshotPage.css
  apps/agor-ui/src/pages/MarketingScreenshotPage.tsx
  context/marketing/screenshots/README.md
  context/marketing/screenshots/agor-marketing-board-wide.png
  context/marketing/screenshots/agor-marketing-board.png
Due: biome check --write --no-errors-on-unmatched --diagnostic-level=error, prettier --write

Make screenshot presence and cursors obvious
  apps/agor-docs/public/screenshots/marketing/agor-marketing-board-wide.png
  apps/agor-docs/public/screenshots/marketing/agor-marketing-board.png
  apps/agor-ui/src/components/AppHeader/GlobalPresenceFacepile.tsx
  apps/agor-ui/src/components/SessionCanvas/canvas/RemoteCursorLayer.tsx
  apps/agor-ui/src/pages/MarketingScreenshotPage.tsx
  context/marketing/screenshots/agor-marketing-board-wide.png
  context/marketing/screenshots/agor-marketing-board.png
Due: biome check --write --no-errors-on-unmatched --diagnostic-level=error, prettier --write

Polish marketing board screenshot composition
  apps/agor-docs/public/screenshots/marketing/agor-marketing-board-wide.png
  apps/agor-docs/public/screenshots/marketing/agor-marketing-board.png
  apps/agor-docs/public/screenshots/marketing/agor-marketing-comment-popover.png
  apps/agor-docs/public/screenshots/marketing/agor-marketing-facepile-tooltip.png
  apps/agor-ui/src/pages/MarketingScreenshotPage.tsx
  context/marketing/screenshots/README.md
  context/marketing/screenshots/agor-marketing-board-wide.png
  context/marketing/screenshots/agor-marketing-board.png
  context/marketing/screenshots/agor-marketing-comment-popover.png
  context/marketing/screenshots/agor-marketing-facepile-tooltip.png
Due: biome check --write --no-errors-on-unmatched --diagnostic-level=error, prettier --write

feat(ui): add Cursor logo to ToolIcon
  apps/agor-ui/src/assets/tools/cursor.png
  apps/agor-ui/src/components/ToolIcon/ToolIcon.tsx
Due: biome check --write --no-errors-on-unmatched --diagnostic-level=error, prettier --write

Add marketing markdown diagram notes
  apps/agor-docs/public/screenshots/marketing/agor-marketing-board-wide.png
  apps/agor-docs/public/screenshots/marketing/agor-marketing-board.png
  apps/agor-ui/src/pages/MarketingScreenshotPage.tsx
  context/marketing/screenshots/agor-marketing-board-wide.png
  context/marketing/screenshots/agor-marketing-board.png
Due: biome check --write --no-errors-on-unmatched --diagnostic-level=error, prettier --write

docs(landing): refresh hero, add harness logo strip, OSS + AGOR cues
  apps/agor-docs/components/LandingPage.module.css
  apps/agor-docs/components/LandingPage.tsx
  apps/agor-docs/public/tools/claude-code.png
  apps/agor-docs/public/tools/codex.png
  apps/agor-docs/public/tools/copilot.png
  apps/agor-docs/public/tools/cursor.png
  apps/agor-docs/public/tools/gemini.png
  apps/agor-docs/public/tools/opencode.png
Due: biome check --write --no-errors-on-unmatched --diagnostic-level=error, prettier --write

docs(landing): drop em-dashes from marketing copy
  apps/agor-docs/components/LandingPage.tsx
Due: biome check --write --no-errors-on-unmatched --diagnostic-level=error, prettier --write

Tune marketing board zone palette
  apps/agor-docs/public/screenshots/marketing/agor-marketing-board-wide.png
  apps/agor-docs/public/screenshots/marketing/agor-marketing-board.png
  apps/agor-ui/src/pages/MarketingScreenshotPage.tsx
  context/marketing/screenshots/agor-marketing-board-wide.png
  context/marketing/screenshots/agor-marketing-board.png
Due: biome check --write --no-errors-on-unmatched --diagnostic-level=error, prettier --write

Remove stray markdown staging notes
  apps/agor-docs/public/screenshots/marketing/agor-marketing-board-wide.png
  apps/agor-docs/public/screenshots/marketing/agor-marketing-board.png
  apps/agor-ui/src/pages/MarketingScreenshotPage.tsx
  context/marketing/screenshots/agor-marketing-board-wide.png
  context/marketing/screenshots/agor-marketing-board.png
Due: biome check --write --no-errors-on-unmatched --diagnostic-level=error, prettier --write

Remove screenshot copy from demo chrome
  apps/agor-docs/public/screenshots/marketing/agor-marketing-board-wide.png
  apps/agor-docs/public/screenshots/marketing/agor-marketing-board.png
  apps/agor-ui/src/App.tsx
  apps/agor-ui/src/pages/MarketingScreenshotPage.tsx
  context/marketing/screenshots/agor-marketing-board-wide.png
  context/marketing/screenshots/agor-marketing-board.png
Due: biome check --write --no-errors-on-unmatched --diagnostic-level=error, prettier --write

Use Slack thread screenshot for message gateway docs
  apps/agor-docs/components/LandingPage.tsx
  apps/agor-docs/pages/guide/features-overview.mdx
  apps/agor-docs/pages/guide/message-gateway.mdx
  apps/agor-docs/public/screenshots/marketing/agor-marketing-slack-thread.png
  context/marketing/screenshots/README.md
  context/marketing/screenshots/agor-marketing-slack-thread.png
Due: biome check --write --no-errors-on-unmatched --diagnostic-level=error, prettier --write

Refine marketing artifact and board activity
  apps/agor-docs/public/screenshots/marketing/agor-marketing-board-wide.png
  apps/agor-docs/public/screenshots/marketing/agor-marketing-board.png
  apps/agor-ui/src/pages/MarketingScreenshotPage.tsx
  context/marketing/screenshots/agor-marketing-board-wide.png
  context/marketing/screenshots/agor-marketing-board.png
Due: biome check --write --no-errors-on-unmatched --diagnostic-level=error, prettier --write

Use staged board screenshot as docs hero
  README.md
  apps/agor-docs/README.md
  apps/agor-docs/components/BlogCard.tsx
  apps/agor-docs/components/LandingPage.module.css
  apps/agor-docs/components/LandingPage.tsx
  apps/agor-docs/lib/siteMetadata.ts
  apps/agor-docs/pages/guide/boards.mdx
  apps/agor-docs/pages/guide/index.mdx
  apps/agor-docs/public/hero.png
  apps/agor-docs/public/screenshots/board-hero.png
Due: biome check --write --no-errors-on-unmatched --diagnostic-level=error, prettier --write

Add cursor closeup to social collage
  apps/agor-docs/components/LandingPage.module.css
  apps/agor-docs/components/LandingPage.tsx
  apps/agor-docs/public/screenshots/marketing/agor-marketing-cursor-indicator.png
  context/marketing/screenshots/README.md
  context/marketing/screenshots/agor-marketing-cursor-indicator.png
Due: biome check --write --no-errors-on-unmatched --diagnostic-level=error, prettier --write

Enlarge marketing artifacts and add cost tracker
  apps/agor-docs/public/screenshots/marketing/agor-marketing-board-wide.png
  apps/agor-docs/public/screenshots/marketing/agor-marketing-board.png
  apps/agor-ui/src/pages/MarketingScreenshotPage.tsx
  context/marketing/screenshots/agor-marketing-board-wide.png
  context/marketing/screenshots/agor-marketing-board.png
Due: biome check --write --no-errors-on-unmatched --diagnostic-level=error, prettier --write

Add multiplayer screenshot collage
  apps/agor-docs/components/LandingPage.module.css
  apps/agor-docs/components/LandingPage.tsx
  apps/agor-docs/pages/guide/multiplayer-social.mdx
  apps/agor-docs/public/screenshots/marketing/agor-marketing-social-comment-closeup.png
  apps/agor-docs/public/screenshots/marketing/agor-marketing-social-comment-context.png
  context/marketing/screenshots/README.md
  context/marketing/screenshots/agor-marketing-social-comment-closeup.png
  context/marketing/screenshots/agor-marketing-social-comment-context.png
Due: biome check --write --no-errors-on-unmatched --diagnostic-level=error, prettier --write

Reposition marketing artifacts above kanban
  apps/agor-docs/public/screenshots/marketing/agor-marketing-board-wide.png
  apps/agor-docs/public/screenshots/marketing/agor-marketing-board.png
  apps/agor-ui/src/pages/MarketingScreenshotPage.tsx
  context/marketing/screenshots/agor-marketing-board-wide.png
  context/marketing/screenshots/agor-marketing-board.png
Due: biome check --write --no-errors-on-unmatched --diagnostic-level=error, prettier --write

Polish marketing screenshot board layout
  apps/agor-docs/public/screenshots/marketing/agor-marketing-board-wide.png
  apps/agor-docs/public/screenshots/marketing/agor-marketing-board.png
  apps/agor-ui/src/pages/MarketingScreenshotPage.css
  apps/agor-ui/src/pages/MarketingScreenshotPage.tsx
  context/marketing/screenshots/README.md
  context/marketing/screenshots/agor-marketing-board-wide.png
  context/marketing/screenshots/agor-marketing-board.png
Due: biome check --write --no-errors-on-unmatched --diagnostic-level=error, prettier --write
