Repository preset-io/agor: changes, and which lint-staged commands are due for each by the changed paths.
All: biome check --write --no-errors-on-unmatched --diagnostic-level=error, prettier --write

.lintstagedrc.json:

{
  "*.{ts,tsx,js,jsx,mjs,cjs}": [
    "biome check --write --no-errors-on-unmatched --diagnostic-level=error",
    "prettier --write"
  ],
  "*.{json,md,yaml,yml}": ["prettier --write"]
}

fix: tighten filesystem capability tracking
  apps/agor-daemon/src/host/operations.ts
  apps/agor-daemon/src/services/local-actions.ts
  scripts/check-daemon-filesystem-boundaries.mjs
  scripts/check-daemon-filesystem-boundaries.test.mjs
  scripts/daemon-filesystem-exceptions.json
Due: biome check --write --no-errors-on-unmatched --diagnostic-level=error, prettier --write

fix: harden upload policy and materialization
  apps/agor-daemon/src/mcp/tools/gateway-channels.ts
  apps/agor-daemon/src/register-routes.ts
  apps/agor-daemon/src/services/gateway-channels.ts
  apps/agor-daemon/src/utils/gateway-attachments.ts
  apps/agor-daemon/src/utils/metadata-upload-staging-store.ts
  apps/agor-daemon/src/utils/upload-staging.test.ts
  apps/agor-daemon/src/utils/upload-staging.ts
  apps/agor-daemon/src/utils/upload.ts
  apps/agor-ui/src/components/MarkdownRenderer/MarkdownRenderer.tsx
  apps/agor-ui/src/components/SessionPanel/composerAttachments.ts
  packages/core/src/types/upload.ts
  packages/executor/src/commands/upload.test.ts
  packages/executor/src/commands/upload.ts
Due: biome check --write --no-errors-on-unmatched --diagnostic-level=error, prettier --write

style: align upload actions with settings tables
  apps/agor-ui/src/components/SettingsModal/UploadsTab.tsx
Due: biome check --write --no-errors-on-unmatched --diagnostic-level=error, prettier --write

fix: register streaming gateway upload callback
  apps/agor-daemon/src/register-services.gateway-upload.test.ts
  apps/agor-daemon/src/register-services.ts
Due: biome check --write --no-errors-on-unmatched --diagnostic-level=error, prettier --write

refactor: clarify upload prompts and settings
  apps/agor-daemon/src/services/gateway.ts
  apps/agor-daemon/src/utils/gateway-attachments.test.ts
  apps/agor-daemon/src/utils/gateway-attachments.ts
  apps/agor-ui/src/App.tsx
  apps/agor-ui/src/components/SessionPanel/SessionPanel.send.test.tsx
  apps/agor-ui/src/components/SessionPanel/SessionPanel.tsx
  apps/agor-ui/src/components/SessionPanel/composerAttachments.test.ts
  apps/agor-ui/src/components/SessionPanel/composerAttachments.ts
  apps/agor-ui/src/components/SettingsModal/UploadsTab.test.tsx
  apps/agor-ui/src/components/SettingsModal/UploadsTab.tsx
Due: biome check --write --no-errors-on-unmatched --diagnostic-level=error, prettier --write

feat: render conversation upload actions
  apps/agor-daemon/src/utils/gateway-attachments.test.ts
  apps/agor-daemon/src/utils/gateway-attachments.ts
  apps/agor-ui/src/components/MarkdownRenderer/MarkdownRenderer.test.tsx
  apps/agor-ui/src/components/MarkdownRenderer/MarkdownRenderer.tsx
  apps/agor-ui/src/components/SessionPanel/SessionPanel.send.test.tsx
  apps/agor-ui/src/components/SessionPanel/composerAttachments.test.ts
  apps/agor-ui/src/components/SessionPanel/composerAttachments.ts
Due: biome check --write --no-errors-on-unmatched --diagnostic-level=error, prettier --write

fix: route upload settings requests to daemon
  apps/agor-ui/src/components/SettingsModal/UploadsTab.test.tsx
  apps/agor-ui/src/components/SettingsModal/UploadsTab.tsx
Due: biome check --write --no-errors-on-unmatched --diagnostic-level=error, prettier --write

fix: strip worktree ACL from postgres bootstrap
  docker/postgres-dev.Dockerfile
Due: none

fix: make postgres bootstrap script readable
  docker/postgres-dev.Dockerfile
Due: none

fix: harden S3 upload cleanup
  apps/agor-daemon/src/utils/s3-sdk-boundary.test.ts
  apps/agor-daemon/src/utils/s3-upload-staging-store.test.ts
  apps/agor-daemon/src/utils/s3-upload-staging-store.ts
  apps/agor-docs/content/guide/multi-tenant-filesystem.mdx
Due: biome check --write --no-errors-on-unmatched --diagnostic-level=error, prettier --write

fix: make postgres overlays sandbox-ready
  .agor.yml
  docker-compose.override.postgres.yml
  docker-compose.postgres.yml
Due: prettier --write

feat: add deployment-local upload cleanup
  apps/agor-cli/src/commands/local/uploads/cleanup.ts
  apps/agor-cli/src/lib/context.ts
  apps/agor-daemon/package.json
  apps/agor-daemon/src/uploads-maintenance.test.ts
  apps/agor-daemon/src/uploads-maintenance.ts
  apps/agor-docs/content/guide/multi-tenant-filesystem.mdx
  packages/core/drizzle/postgres/0069_upload_maintenance.sql
  packages/core/drizzle/postgres/meta/_journal.json
  packages/core/src/db/multitenancy-schema.test.ts
  packages/core/src/db/repositories/uploads.ts
  packages/core/src/db/tenant-context.ts
  scripts/check-multitenancy-boundaries.mjs
Due: biome check --write --no-errors-on-unmatched --diagnostic-level=error, prettier --write

fix: trust scoped clone destination in executor
  packages/executor/src/commands/git.executor-managed.test.ts
  packages/executor/src/commands/git.ts
  packages/executor/src/git/config-parameters.ts
  packages/executor/src/handlers/sdk/git-safe-directory.ts
Due: biome check --write --no-errors-on-unmatched --diagnostic-level=error, prettier --write

fix: grant runtime permissions through container sudo
  docker/docker-entrypoint.sh
Due: none

fix: keep isolated executor runtime in watch tree
  docker/docker-entrypoint.sh
Due: none

fix: enable nested sandboxing in postgres envs
  .agor.yml
Due: prettier --write

fix: use isolated injected executor deployment
  docker/docker-entrypoint.sh
Due: none

fix: use configured role for postgres healthcheck
  docker-compose.yml
Due: prettier --write

fix: keep executor deployment offline
  docker/docker-entrypoint.sh
Due: none

feat: add S3 upload staging adapter
  apps/agor-daemon/package.json
  apps/agor-daemon/src/utils/s3-upload-staging-store.test.ts
  apps/agor-daemon/src/utils/s3-upload-staging-store.ts
  apps/agor-daemon/src/utils/upload-staging.test.ts
  apps/agor-daemon/src/utils/upload-staging.ts
  apps/agor-daemon/vitest.config.ts
  apps/agor-docs/content/guide/multi-tenant-filesystem.mdx
  pnpm-lock.yaml
Due: biome check --write --no-errors-on-unmatched --diagnostic-level=error, prettier --write

fix: clone managed repos as lifecycle identity
  apps/agor-daemon/src/services/repos.test.ts
  apps/agor-daemon/src/services/repos.ts
Due: biome check --write --no-errors-on-unmatched --diagnostic-level=error, prettier --write

fix: reuse installed pnpm store for executor deployment
  docker/docker-entrypoint.sh
Due: none

test: update executor command count after rebase
  packages/executor/src/payload-types.test.ts
Due: biome check --write --no-errors-on-unmatched --diagnostic-level=error, prettier --write

fix: sync S3 dependencies into agor-live
  packages/agor-live/package.json
  pnpm-lock.yaml
Due: prettier --write

fix: honor branch ACLs and remove upload sweeps
  apps/agor-daemon/src/utils/metadata-upload-staging-store.ts
  apps/agor-daemon/src/utils/s3-upload-staging-store.test.ts
  apps/agor-daemon/src/utils/s3-upload-staging-store.ts
  apps/agor-daemon/src/utils/upload-staging-store.test.ts
  apps/agor-daemon/src/utils/upload-staging-store.ts
  apps/agor-docs/content/guide/multi-tenant-filesystem.mdx
  context/explorations/daemon-fs-decoupling.md
  packages/executor/src/commands/upload-permissions.test.ts
  packages/executor/src/commands/upload.ts
Due: biome check --write --no-errors-on-unmatched --diagnostic-level=error, prettier --write

fix: expose runtime prompt template to executors
  packages/core/tsup.config.ts
Due: biome check --write --no-errors-on-unmatched --diagnostic-level=error, prettier --write

fix: deploy executor runtime with pnpm legacy mode
  docker/docker-entrypoint.sh
Due: none

fix: expose resolved upload policy to composer
  apps/agor-daemon/src/register-routes.ts
  apps/agor-daemon/src/services/executor-callback-boundaries.test.ts
  apps/agor-daemon/src/utils/upload.ts
  apps/agor-ui/src/App.tsx
  apps/agor-ui/src/components/App/App.tsx
  apps/agor-ui/src/components/NewSessionModal/NewSessionModal.tsx
  apps/agor-ui/src/components/SessionPanel/SessionPanel.tsx
  apps/agor-ui/src/components/SessionPanel/composerAttachments.test.ts
  apps/agor-ui/src/components/SessionPanel/composerAttachments.ts
  apps/agor-ui/src/components/SessionPanel/useComposerAttachments.ts
  apps/agor-ui/src/hooks/useAuthConfig.ts
  packages/core/src/types/upload.ts
Due: biome check --write --no-errors-on-unmatched --diagnostic-level=error, prettier --write

refactor: make upload location a managed storage base
  apps/agor-daemon/src/utils/s3-upload-staging-store.ts
  apps/agor-daemon/src/utils/upload-staging.test.ts
  apps/agor-daemon/src/utils/upload-staging.ts
  apps/agor-docs/content/guide/multi-tenant-filesystem.mdx
  packages/core/src/config/config-manager.ts
  packages/core/src/config/index.ts
  packages/core/src/config/storage-layout.test.ts
  packages/core/src/config/storage-layout.ts
  packages/core/src/config/types.ts
Due: biome check --write --no-errors-on-unmatched --diagnostic-level=error, prettier --write

refactor: classify local upload staging boundary
  apps/agor-daemon/src/host/local/upload-staging-store.test.ts
  apps/agor-daemon/src/host/local/upload-staging-store.ts
  apps/agor-daemon/src/utils/gateway-attachments.test.ts
  apps/agor-daemon/src/utils/s3-upload-staging-store.ts
  apps/agor-daemon/src/utils/upload-staging-defaults.ts
  apps/agor-daemon/src/utils/upload-staging.ts
  scripts/daemon-filesystem-exceptions.json
Due: biome check --write --no-errors-on-unmatched --diagnostic-level=error, prettier --write

fix(analytics): remove runtime module plugins
  context/explorations/daemon-fs-decoupling.md
  packages/core/src/analytics/analytics.test.ts
  packages/core/src/analytics/plugins.ts
  packages/core/src/analytics/types.ts
  packages/core/src/config/analytics-defaults.ts
  packages/core/src/config/config-manager.test.ts
  packages/core/src/config/config-manager.ts
  packages/core/src/config/types.ts
  scripts/daemon-filesystem-exceptions.json
Due: biome check --write --no-errors-on-unmatched --diagnostic-level=error, prettier --write

refactor: remove daemon host maintenance actions
  apps/agor-cli/src/commands/admin/create-symlink.ts
  apps/agor-cli/src/commands/admin/remove-symlink.ts
  apps/agor-cli/src/commands/admin/scrub-git-remotes.ts
  apps/agor-cli/src/commands/admin/sync-user-symlinks.ts
  apps/agor-daemon/src/host/local/local-daemon-host-operations.ts
  apps/agor-daemon/src/host/operations.ts
  apps/agor-daemon/src/services/local-actions.test.ts
  apps/agor-daemon/src/services/local-actions.ts
  context/concepts/daemon-filesystem-boundary.md
  context/explorations/daemon-fs-decoupling.md
  context/explorations/git-remote-credential-spillover.md
  packages/core/package.json
  packages/core/src/local-actions/identity.ts
  packages/core/src/local-actions/unix-groups.ts
  packages/core/src/local-actions/unix-users.ts
  packages/core/tsup.config.ts
  scripts/check-daemon-filesystem-boundaries.mjs
  scripts/daemon-filesystem-exceptions.json
Due: biome check --write --no-errors-on-unmatched --diagnostic-level=error, prettier --write

refactor(analytics): keep migration policy in config
  packages/core/src/analytics/analytics.test.ts
  packages/core/src/analytics/plugins.ts
Due: biome check --write --no-errors-on-unmatched --diagnostic-level=error, prettier --write

docs: clarify offline git scrub tenancy scope
  context/explorations/git-remote-credential-spillover.md
Due: prettier --write

test: align filesystem boundary imports
  packages/executor/src/sdk-handlers/claude/query-builder.test.ts
  packages/git/src/index.ts
Due: biome check --write --no-errors-on-unmatched --diagnostic-level=error, prettier --write

fix: close daemon tenant filesystem boundary
  apps/agor-daemon/src/register-services.ts
  apps/agor-daemon/src/services/artifacts.ts
  apps/agor-daemon/src/services/users.ts
  apps/agor-daemon/src/utils/branch-workspace-path.ts
  apps/agor-daemon/src/utils/spawn-executor.configured.test.ts
  apps/agor-daemon/src/utils/spawn-executor.ts
  context/concepts/daemon-filesystem-boundary.md
  context/explorations/daemon-fs-decoupling.md
  packages/core/package.json
  packages/core/src/config/index.ts
  packages/core/src/environment/render-snapshot.ts
  packages/core/src/git/index.test.ts
  packages/core/src/index.ts
  packages/core/src/seed/dev-fixtures.ts
  packages/core/src/unix/environment-command-deny-list.ts
  packages/core/src/unix/environment-command-spawn.test.ts
  packages/core/src/unix/environment-command-spawn.ts
  packages/core/src/unix/index.ts
  packages/executor/src/commands/git.executor-managed.test.ts
  packages/executor/src/commands/git.ts
  packages/executor/src/sdk-handlers/claude/query-builder.ts
  packages/git/package.json
  packages/git/src/index.ts
  packages/git/src/pure.ts
  pnpm-lock.yaml
  scripts/daemon-filesystem-exceptions.json
Due: biome check --write --no-errors-on-unmatched --diagnostic-level=error, prettier --write

fix: remove merged upload boundary residuals
  context/concepts/daemon-filesystem-boundary.md
  context/explorations/daemon-fs-decoupling.md
  scripts/daemon-filesystem-exceptions.json
Due: prettier --write

fix: build narrow core node entrypoints
  packages/core/tsup.config.ts
Due: biome check --write --no-errors-on-unmatched --diagnostic-level=error, prettier --write

fix(analytics): include trusted tenant context
  context/concepts/multitenancy.md
  packages/core/src/analytics/analytics.test.ts
  packages/core/src/analytics/logger.ts
  packages/core/src/config/types.ts
Due: biome check --write --no-errors-on-unmatched --diagnostic-level=error, prettier --write
