Repository preset-io/agor: changes, and which lint-staged commands are due for each by the changed paths.
All: biome check --write --no-errors-on-unmatched --diagnostic-level=error, prettier --write

.lintstagedrc.json:

{
  "*.{ts,tsx,js,jsx,mjs,cjs}": [
    "biome check --write --no-errors-on-unmatched --diagnostic-level=error",
    "prettier --write"
  ],
  "*.{json,md,yaml,yml}": ["prettier --write"]
}

fix(ui): revert over-gated React Flow props that broke zone drag
  apps/agor-ui/src/components/SessionCanvas/SessionCanvas.tsx
  docs/disconnected-state-design.md
Due: biome check --write --no-errors-on-unmatched --diagnostic-level=error, prettier --write

test(executor): regression coverage for AskUserQuestion bypass-mode fix
  packages/executor/src/sdk-handlers/claude/permissions/permission-hooks.test.ts
  packages/executor/src/sdk-handlers/claude/query-builder.test.ts
Due: biome check --write --no-errors-on-unmatched --diagnostic-level=error, prettier --write

fix(auth): restore password-change-required redirect flow
  apps/agor-daemon/src/register-routes.ts
  apps/agor-ui/src/utils/tokenRefresh.ts
Due: biome check --write --no-errors-on-unmatched --diagnostic-level=error, prettier --write

fix(auth): throw NotAuthenticated on refresh failure
  apps/agor-daemon/src/register-routes.ts
Due: biome check --write --no-errors-on-unmatched --diagnostic-level=error, prettier --write

fix(ui): close grace-window race + extend chokepoints to canvas + comments
  apps/agor-ui/src/components/AppHeader/AppHeader.tsx
  apps/agor-ui/src/components/CommentsPanel/CommentsPanel.tsx
  apps/agor-ui/src/components/SessionCanvas/SessionCanvas.tsx
  apps/agor-ui/src/contexts/ConnectionContext.tsx
Due: biome check --write --no-errors-on-unmatched --diagnostic-level=error, prettier --write

fix(env): pin UID/GID in .agor.yml start commands
  .agor.yml
Due: prettier --write

fix(core): prevent OOM during build by raising Node heap (closes #932)
  packages/core/package.json
Due: prettier --write

fix(build): set NODE_OPTIONS in orchestrating scripts + dev docs
  .devcontainer/dev/start-services.sh
  apps/agor-docs/pages/guide/development.mdx
  docker/docker-entrypoint.sh
  packages/agor-live/build.sh
Due: none

chore: support Node 24 LTS / 25 (closes #278)
  .github/workflows/ci.yml
  packages/agor-live/package.json
  packages/executor/package.json
  packages/executor/src/commands/zellij.ts
  pnpm-lock.yaml
Due: biome check --write --no-errors-on-unmatched --diagnostic-level=error, prettier --write

fix(build): scope NODE_OPTIONS to build orchestrators only
  .devcontainer/dev/start-services.sh
  apps/agor-docs/pages/guide/development.mdx
  docker/docker-entrypoint.sh
Due: none

chore: address Codex review on Node 24/25 PR
  .github/workflows/ci.yml
  packages/agor-live/package-lock.json
  packages/executor/src/commands/zellij.ts
Due: biome check --write --no-errors-on-unmatched --diagnostic-level=error, prettier --write

Revert deletion of packages/agor-live/package-lock.json
  packages/agor-live/package-lock.json
Due: prettier --write

feat(mcp): support full OAuth 2.1 discovery (well-known + DCR fallback)
  apps/agor-daemon/src/register-services.ts
  packages/core/src/tools/mcp/oauth-mcp-transport.test.ts
  packages/core/src/tools/mcp/oauth-mcp-transport.ts
Due: biome check --write --no-errors-on-unmatched --diagnostic-level=error, prettier --write

fix(mcp): correct OIDC path-issuer construction + dedupe AS metadata fetch
  apps/agor-daemon/src/register-services.ts
  packages/core/src/tools/mcp/oauth-mcp-transport.test.ts
  packages/core/src/tools/mcp/oauth-mcp-transport.ts
Due: biome check --write --no-errors-on-unmatched --diagnostic-level=error, prettier --write

docs(context): add messaging & positioning doc
  context/messaging-and-positioning.md
Due: prettier --write

docs(context): tighten messaging & positioning doc
  context/messaging-and-positioning.md
Due: prettier --write

docs(context): expand multiplayer, worktree-anchor, and assistants
  context/messaging-and-positioning.md
Due: prettier --write

docs(context): add problem statements + expand long-paragraph compressor
  context/messaging-and-positioning.md
Due: prettier --write

docs: cascade canonical tagline across surfaces
  README.md
  apps/agor-cli/src/lib/banner.ts
  apps/agor-docs/pages/guide/index.mdx
  apps/agor-docs/pages/index.mdx
  apps/agor-docs/theme.config.tsx
  apps/agor-ui/src/components/LoginPage/LoginPage.tsx
  context/concepts/core.md
  context/messaging-and-positioning.md
  package.json
  packages/agor-live/package.json
Due: biome check --write --no-errors-on-unmatched --diagnostic-level=error, prettier --write

chore: format theme.config.tsx fullTitle ternary
  apps/agor-docs/theme.config.tsx
Due: biome check --write --no-errors-on-unmatched --diagnostic-level=error, prettier --write

docs(migrations): port two gotchas from deleted concept doc
  context/guides/creating-database-migrations.md
Due: prettier --write

fix(sessions): resolve config defaults centrally so dragged sessions don't hang (closes #1064)
  apps/agor-daemon/src/mcp/tools/sessions.ts
  apps/agor-daemon/src/mcp/tools/worktrees.ts
  apps/agor-daemon/src/register-hooks.ts
  apps/agor-daemon/src/services/gateway.ts
  apps/agor-daemon/src/services/sessions.ts
  apps/agor-daemon/src/utils/apply-session-config-defaults.test.ts
  apps/agor-daemon/src/utils/apply-session-config-defaults.ts
  apps/agor-ui/src/components/SessionCanvas/SessionCanvas.tsx
  packages/core/package.json
  packages/core/src/index.ts
  packages/core/src/sessions/index.ts
  packages/core/src/sessions/resolve-session-defaults.test.ts
  packages/core/src/sessions/resolve-session-defaults.ts
  packages/core/tsup.config.ts
Due: biome check --write --no-errors-on-unmatched --diagnostic-level=error, prettier --write

chore(deps): big-bang bump (consolidates dependabot PRs)
  .github/workflows/build-devcontainer.yml
  .github/workflows/ci.yml
  apps/agor-cli/package.json
  apps/agor-daemon/package.json
  apps/agor-docs/package.json
  apps/agor-ui/package.json
  package.json
  packages/agor-live/package.json
  packages/client/package.json
  packages/core/package.json
  packages/executor/package.json
  pnpm-lock.yaml
Due: prettier --write

fix(sessions): address review findings on resolve-session-defaults
  apps/agor-daemon/src/services/gateway.ts
  apps/agor-daemon/src/services/sessions.ts
  apps/agor-ui/src/components/SessionPanel/SessionPanel.tsx
Due: biome check --write --no-errors-on-unmatched --diagnostic-level=error, prettier --write

chore: tweak .agor.yml variants
  .agor.yml
Due: prettier --write

test(sessions): regression coverage for cross-tool spawn + gateway overrides
  packages/core/src/sessions/resolve-session-defaults.test.ts
Due: biome check --write --no-errors-on-unmatched --diagnostic-level=error, prettier --write

fix(ui): gate per-node drag + zone in-place mutators + zone modals
  apps/agor-ui/src/components/CommentsPanel/CommentsPanel.tsx
  apps/agor-ui/src/components/SessionCanvas/SessionCanvas.tsx
  apps/agor-ui/src/components/SessionCanvas/canvas/BoardObjectNodes.tsx
  apps/agor-ui/src/components/SessionCanvas/canvas/DeleteZoneModal.tsx
  apps/agor-ui/src/components/SessionCanvas/canvas/ZoneConfigModal.tsx
  apps/agor-ui/src/components/SessionCanvas/canvas/useBoardObjects.ts
  docs/disconnected-state-design.md
Due: biome check --write --no-errors-on-unmatched --diagnostic-level=error, prettier --write

feat(api-keys): add CLAUDE_CODE_OAUTH_TOKEN as first-class api key
  apps/agor-daemon/src/services/users.ts
  context/explorations/agentic-tool-auth-consolidation.md
  packages/core/drizzle/postgres/0031_lift_claude_oauth_token.sql
  packages/core/drizzle/postgres/meta/_journal.json
  packages/core/drizzle/sqlite/0041_lift_claude_oauth_token.sql
  packages/core/drizzle/sqlite/meta/_journal.json
  packages/core/src/db/repositories/users.ts
  packages/core/src/db/schema.postgres.ts
  packages/core/src/db/schema.sqlite.ts
  packages/core/src/types/user.ts
Due: biome check --write --no-errors-on-unmatched --diagnostic-level=error, prettier --write

feat(executor): pass CLAUDE_CODE_OAUTH_TOKEN through Unix impersonation
  apps/agor-daemon/src/utils/spawn-executor.ts
Due: biome check --write --no-errors-on-unmatched --diagnostic-level=error, prettier --write

feat(ui): per-tool auth fields, drop global API Keys section
  apps/agor-docs/pages/guide/extended-install.mdx
  apps/agor-docs/pages/guide/multiplayer-social.mdx
  apps/agor-ui/src/components/ApiKeyFields.tsx
  apps/agor-ui/src/components/OnboardingWizard/OnboardingWizard.tsx
  apps/agor-ui/src/components/SettingsModal/AgenticToolsSection.tsx
  apps/agor-ui/src/components/SettingsModal/AgenticToolsTab.tsx
  apps/agor-ui/src/components/SettingsModal/PersonalApiKeysTab.tsx
  apps/agor-ui/src/components/SettingsModal/UserSettingsModal.tsx
Due: biome check --write --no-errors-on-unmatched --diagnostic-level=error, prettier --write

docs(explorations): agentic tool auth consolidation design
  context/explorations/agentic-tool-auth-consolidation.md
Due: prettier --write

feat(ui): split per-tool screen into Authentication / Defaults tabs
  apps/agor-ui/src/components/SettingsModal/UserSettingsModal.tsx
Due: biome check --write --no-errors-on-unmatched --diagnostic-level=error, prettier --write

feat(ui): add GitHub Copilot screen to user settings
  apps/agor-ui/src/components/SettingsModal/UserSettingsModal.tsx
Due: biome check --write --no-errors-on-unmatched --diagnostic-level=error, prettier --write

feat(ui): explain GITHUB_TOKEN fallback on Copilot auth field
  apps/agor-ui/src/components/ApiKeyFields.tsx
Due: biome check --write --no-errors-on-unmatched --diagnostic-level=error, prettier --write

chore(.agor.yml): restore SEED=true on sqlite + postgres variants
  .agor.yml
Due: prettier --write

feat(users): scope SDK credentials per-tool, fix cross-SDK leak
  apps/agor-daemon/src/register-services.ts
  apps/agor-daemon/src/services/users.ts
  apps/agor-ui/src/components/ApiKeyFields.tsx
  apps/agor-ui/src/components/OnboardingWizard/OnboardingWizard.tsx
  apps/agor-ui/src/components/SettingsModal/UserSettingsModal.tsx
  packages/core/drizzle/postgres/0031_lift_claude_oauth_token.sql
  packages/core/drizzle/postgres/0031_restructure_agentic_tool_config.sql
  packages/core/drizzle/postgres/meta/_journal.json
  packages/core/drizzle/sqlite/0041_lift_claude_oauth_token.sql
  packages/core/drizzle/sqlite/0041_restructure_agentic_tool_config.sql
  packages/core/drizzle/sqlite/meta/_journal.json
  packages/core/src/config/env-resolver.test.ts
  packages/core/src/config/env-resolver.ts
  packages/core/src/config/key-resolver.ts
  packages/core/src/db/repositories/users.test.ts
  packages/core/src/db/repositories/users.ts
  packages/core/src/db/schema.postgres.ts
  packages/core/src/db/schema.sqlite.ts
  packages/core/src/types/user.ts
Due: biome check --write --no-errors-on-unmatched --diagnostic-level=error, prettier --write

fix(users): address PR review — DRY, env_vars preservation, runtime tool scoping
  apps/agor-daemon/src/services/config.ts
  apps/agor-daemon/src/services/users.ts
  apps/agor-ui/package.json
  apps/agor-ui/src/components/ApiKeyFields.tsx
  apps/agor-ui/src/components/OnboardingWizard/OnboardingWizard.tsx
  apps/agor-ui/src/components/SettingsModal/AgenticToolsSection.tsx
  apps/agor-ui/src/components/SettingsModal/AgenticToolsTab.tsx
  packages/core/src/config/env-resolver.test.ts
  packages/core/src/config/env-resolver.ts
  packages/core/src/config/key-resolver.test.ts
  packages/core/src/config/key-resolver.ts
  packages/core/src/db/repositories/users.test.ts
  packages/core/src/db/repositories/users.ts
  packages/core/src/types/user.ts
  packages/executor/src/handlers/sdk/base-executor.ts
  packages/executor/src/sdk-handlers/codex/prompt-service.ts
Due: biome check --write --no-errors-on-unmatched --diagnostic-level=error, prettier --write

fix(config): widen ApiKeyName, gate config.yaml lookup to global-only keys
  packages/core/src/config/config-manager.ts
  packages/core/src/config/key-resolver.test.ts
  packages/core/src/config/key-resolver.ts
  packages/executor/src/handlers/sdk/base-executor.ts
Due: biome check --write --no-errors-on-unmatched --diagnostic-level=error, prettier --write

fix(ui): correct MCP OAuth status display for expired tokens
  apps/agor-ui/src/components/MCPServerPill.tsx
  apps/agor-ui/src/utils/mcpAuth.ts
Due: biome check --write --no-errors-on-unmatched --diagnostic-level=error, prettier --write
