Repository preset-io/agor: changes, and which lint-staged commands are due for each by the changed paths.
All: biome check --write --no-errors-on-unmatched --diagnostic-level=error, prettier --write

fix(executor): stabilize gateway MCP startup
  packages/executor/src/sdk-handlers/claude/query-builder.test.ts
  packages/executor/src/sdk-handlers/claude/query-builder.ts
  packages/executor/src/sdk-handlers/codex/prompt-service.test.ts
  packages/executor/src/sdk-handlers/codex/prompt-service.ts
Due: biome check --write --no-errors-on-unmatched --diagnostic-level=error, prettier --write

fix(executor): avoid gateway startup block on missing mcp auth
  packages/executor/src/sdk-handlers/claude/query-builder.test.ts
  packages/executor/src/sdk-handlers/claude/query-builder.ts
  packages/executor/src/sdk-handlers/codex/prompt-service.test.ts
  packages/executor/src/sdk-handlers/codex/prompt-service.ts
Due: biome check --write --no-errors-on-unmatched --diagnostic-level=error, prettier --write

Centralize session promptability typing
  apps/agor-daemon/src/utils/session-task-state.ts
  packages/core/src/types/session.test.ts
  packages/core/src/types/session.ts
Due: biome check --write --no-errors-on-unmatched --diagnostic-level=error, prettier --write

Drain queue explicitly after stopping session
  apps/agor-daemon/src/register-routes.test.ts
  apps/agor-daemon/src/register-routes.ts
Due: biome check --write --no-errors-on-unmatched --diagnostic-level=error, prettier --write

Preserve heartbeat queue suppression through session patch
  apps/agor-daemon/src/register-hooks.test.ts
  apps/agor-daemon/src/register-hooks.ts
  apps/agor-daemon/src/services/tasks.executor-heartbeat.test.ts
  apps/agor-daemon/src/services/tasks.ts
Due: biome check --write --no-errors-on-unmatched --diagnostic-level=error, prettier --write

Type terminal queue suppression params
  apps/agor-daemon/src/register-hooks.ts
  apps/agor-daemon/src/services/tasks.ts
  apps/agor-daemon/src/utils/session-task-state.ts
Due: biome check --write --no-errors-on-unmatched --diagnostic-level=error, prettier --write

Instrument executor startup latency
  apps/agor-daemon/src/register-routes.ts
  apps/agor-daemon/src/register-services.ts
  packages/executor/src/cli.ts
  packages/executor/src/handlers/sdk/base-executor.ts
  packages/executor/src/handlers/sdk/tool-registry.ts
  packages/executor/src/index.ts
  packages/executor/src/sdk-handlers/codex/codex-tool.ts
  packages/executor/src/sdk-handlers/codex/prompt-service.ts
Due: biome check --write --no-errors-on-unmatched --diagnostic-level=error, prettier --write

Fix board permission propagation to branches
  apps/agor-daemon/src/register-hooks.ts
  context/guides/rbac-and-unix-isolation.md
  packages/core/src/db/repositories/branches.test.ts
  packages/core/src/db/repositories/branches.ts
  packages/core/src/unix/unix-integration-service.ts
Due: biome check --write --no-errors-on-unmatched --diagnostic-level=error, prettier --write

Include private board owners in Unix sync
  packages/core/src/db/repositories/branches.test.ts
  packages/core/src/db/repositories/branches.ts
Due: biome check --write --no-errors-on-unmatched --diagnostic-level=error, prettier --write

Clarify board owner filesystem access docs
  packages/core/src/db/repositories/branches.ts
Due: biome check --write --no-errors-on-unmatched --diagnostic-level=error, prettier --write

Fix stop handling with queued tasks
  apps/agor-daemon/src/register-routes.test.ts
  apps/agor-daemon/src/register-routes.ts
  apps/agor-daemon/src/services/tasks.executor-heartbeat.test.ts
  apps/agor-daemon/src/services/tasks.ts
  apps/agor-daemon/src/utils/session-stop.test.ts
  apps/agor-daemon/src/utils/session-stop.ts
  apps/agor-ui/src/components/BranchCard/BranchCard.tsx
  apps/agor-ui/src/components/BranchCard/BranchSessionSections.tsx
  apps/agor-ui/src/components/BranchCard/latestSessionTask.test.ts
  apps/agor-ui/src/components/BranchCard/latestSessionTask.ts
  packages/core/src/types/session.test.ts
  packages/core/src/types/session.ts
Due: biome check --write --no-errors-on-unmatched --diagnostic-level=error, prettier --write

Address PR review task execution semantics
  apps/agor-daemon/src/register-services.ts
  apps/agor-daemon/src/services/tasks.ts
  apps/agor-daemon/src/utils/session-stop.test.ts
  apps/agor-daemon/src/utils/session-tasks.ts
  apps/agor-ui/src/components/BranchCard/latestSessionTask.ts
  packages/core/src/types/task.test.ts
  packages/core/src/types/task.ts
Due: biome check --write --no-errors-on-unmatched --diagnostic-level=error, prettier --write

Refresh task state comments
  apps/agor-daemon/src/mcp/tools/sessions.ts
  apps/agor-daemon/src/startup.ts
Due: biome check --write --no-errors-on-unmatched --diagnostic-level=error, prettier --write

Sync board filesystem grants in executor
  apps/agor-daemon/src/register-services.ts
  apps/agor-daemon/src/services/groups.ts
  packages/executor/src/commands/unix.ts
Due: biome check --write --no-errors-on-unmatched --diagnostic-level=error, prettier --write

Avoid stale Unix cleanup on incomplete access fetch
  packages/executor/src/commands/unix.ts
Due: biome check --write --no-errors-on-unmatched --diagnostic-level=error, prettier --write

Batch board Unix sync in one executor
  apps/agor-daemon/src/register-hooks.ts
  apps/agor-daemon/src/register-services.ts
  apps/agor-daemon/src/services/groups.ts
  context/guides/rbac-and-unix-isolation.md
  packages/executor/src/commands/index.ts
  packages/executor/src/commands/unix.ts
  packages/executor/src/payload-types.test.ts
  packages/executor/src/payload-types.ts
Due: biome check --write --no-errors-on-unmatched --diagnostic-level=error, prettier --write

Tidy Unix sync payload guard comments
  packages/executor/src/payload-types.ts
Due: biome check --write --no-errors-on-unmatched --diagnostic-level=error, prettier --write

Explore Agor pixel monster logo concepts
  context/brand/logo-monster-concepts/README.md
  context/brand/logo-monster-concepts/index.html
Due: prettier --write

Add knowledge mentions to prompt autocomplete
  apps/agor-ui/src/components/AutocompleteTextarea/AutocompleteTextarea.test.tsx
  apps/agor-ui/src/components/AutocompleteTextarea/AutocompleteTextarea.tsx
Due: biome check --write --no-errors-on-unmatched --diagnostic-level=error, prettier --write

Fix logo concept artifact entrypoint
  context/brand/logo-monster-concepts/README.md
  context/brand/logo-monster-concepts/index.js
Due: biome check --write --no-errors-on-unmatched --diagnostic-level=error, prettier --write

Redesign docs landing page
  apps/agor-docs/components/LandingPage.module.css
  apps/agor-docs/components/LandingPage.tsx
  apps/agor-docs/components/index.ts
  apps/agor-docs/pages/index.mdx
Due: biome check --write --no-errors-on-unmatched --diagnostic-level=error, prettier --write

Render logo concepts through artifact entrypoint
  context/brand/logo-monster-concepts/README.md
  context/brand/logo-monster-concepts/index.html
  context/brand/logo-monster-concepts/index.js
  context/brand/logo-monster-concepts/styles.css
Due: biome check --write --no-errors-on-unmatched --diagnostic-level=error, prettier --write

Compact logo concept artifact gallery
  context/brand/logo-monster-concepts/styles.css
Due: none

Modernize logo concept gallery typography
  context/brand/logo-monster-concepts/index.js
  context/brand/logo-monster-concepts/styles.css
Due: biome check --write --no-errors-on-unmatched --diagnostic-level=error, prettier --write

Use product screenshots in docs hero
  apps/agor-docs/components/LandingPage.module.css
  apps/agor-docs/components/LandingPage.tsx
Due: biome check --write --no-errors-on-unmatched --diagnostic-level=error, prettier --write

Fix remote child session list enrichment
  apps/agor-daemon/src/declarations.ts
  apps/agor-daemon/src/register-hooks.ts
  apps/agor-daemon/src/services/sessions.ts
  apps/agor-ui/src/hooks/useAgorData.ts
Due: biome check --write --no-errors-on-unmatched --diagnostic-level=error, prettier --write

Align docs landing with dark theme
  apps/agor-docs/components/LandingPage.module.css
  apps/agor-docs/components/LandingPage.tsx
Due: biome check --write --no-errors-on-unmatched --diagnostic-level=error, prettier --write

Use clickable URLs for knowledge mentions
  apps/agor-ui/src/components/AutocompleteTextarea/AutocompleteTextarea.test.tsx
  apps/agor-ui/src/components/AutocompleteTextarea/AutocompleteTextarea.tsx
  apps/agor-ui/src/components/AutocompleteTextarea/kbMentions.ts
Due: biome check --write --no-errors-on-unmatched --diagnostic-level=error, prettier --write

Tune hero parallax motion
  apps/agor-docs/components/LandingPage.module.css
Due: none

Simplify docs landing hero branding
  apps/agor-docs/components/LandingPage.module.css
Due: none

Remove hero announcement pill
  apps/agor-docs/components/LandingPage.tsx
Due: biome check --write --no-errors-on-unmatched --diagnostic-level=error, prettier --write

Add progressive landing page reveals
  apps/agor-docs/components/LandingPage.module.css
  apps/agor-docs/components/LandingPage.tsx
Due: biome check --write --no-errors-on-unmatched --diagnostic-level=error, prettier --write

Add contextual landing page links
  apps/agor-docs/components/LandingPage.module.css
  apps/agor-docs/components/LandingPage.tsx
Due: biome check --write --no-errors-on-unmatched --diagnostic-level=error, prettier --write

Refine landing page headline scale
  apps/agor-docs/components/LandingPage.module.css
Due: none

Use Agor theme color for landing buttons
  apps/agor-docs/components/LandingPage.module.css
Due: none

Refine knowledge mention opt-in behavior
  apps/agor-ui/src/components/AutocompleteTextarea/AutocompleteTextarea.test.tsx
  apps/agor-ui/src/components/AutocompleteTextarea/AutocompleteTextarea.tsx
  apps/agor-ui/src/components/AutocompleteTextarea/index.ts
  apps/agor-ui/src/components/AutocompleteTextarea/kbMentions.ts
  apps/agor-ui/src/components/ForkSpawnModal/ForkSpawnModal.tsx
  apps/agor-ui/src/components/NewSessionModal/NewSessionModal.tsx
  apps/agor-ui/src/components/SessionPanel/SessionPanel.tsx
  apps/agor-ui/src/components/mobile/MobilePromptInput.tsx
  apps/agor-ui/src/pages/KnowledgePage.tsx
Due: biome check --write --no-errors-on-unmatched --diagnostic-level=error, prettier --write

Improve product visuals on landing page
  apps/agor-docs/components/LandingPage.module.css
  apps/agor-docs/components/LandingPage.tsx
Due: biome check --write --no-errors-on-unmatched --diagnostic-level=error, prettier --write

Add imagegen logo monster concept sheets
  context/brand/logo-monster-concepts/README.md
  context/brand/logo-monster-concepts/artifact/index.html
  context/brand/logo-monster-concepts/artifact/index.js
  context/brand/logo-monster-concepts/artifact/styles.css
  context/brand/logo-monster-concepts/generated/edgy-logo-monsters-artifact.webp
  context/brand/logo-monster-concepts/generated/edgy-logo-monsters.png
  context/brand/logo-monster-concepts/generated/refined-logo-monsters-artifact.webp
  context/brand/logo-monster-concepts/generated/refined-logo-monsters.png
  context/brand/logo-monster-concepts/index.html
  context/brand/logo-monster-concepts/index.js
Due: biome check --write --no-errors-on-unmatched --diagnostic-level=error, prettier --write

Refine landing page brand gradients
  apps/agor-docs/components/LandingPage.module.css
Due: none

Add wide board monster logo variants
  context/brand/logo-monster-concepts/README.md
  context/brand/logo-monster-concepts/artifact/index.html
  context/brand/logo-monster-concepts/artifact/styles.css
  context/brand/logo-monster-concepts/generated/wide-board-monster-variants-artifact.webp
  context/brand/logo-monster-concepts/generated/wide-board-monster-variants.png
  context/brand/logo-monster-concepts/index.html
  context/brand/logo-monster-concepts/styles.css
Due: prettier --write

Path conditions:
  biome check --write --no-errors-on-unmatched --diagnostic-level=error: any of: *.{ts,tsx,js,jsx,mjs,cjs}
  prettier --write: (any of: *.{ts,tsx,js,jsx,mjs,cjs}) or (any of: *.{json,md,yaml,yml})
