Repository preset-io/agor: changes, and which lint-staged commands are due for each by the changed paths.
All: biome check --write --no-errors-on-unmatched --diagnostic-level=error, prettier --write

.lintstagedrc.json:

{
  "*.{ts,tsx,js,jsx,mjs,cjs}": [
    "biome check --write --no-errors-on-unmatched --diagnostic-level=error",
    "prettier --write"
  ],
  "*.{json,md,yaml,yml}": ["prettier --write"]
}

docs(daemon): correct stale aware-flag comment (announce-only, not subscribe)
  apps/agor-daemon/src/utils/realtime-publish.ts
Due: biome check --write --no-errors-on-unmatched --diagnostic-level=error, prettier --write

fix(gateway): make Shortcut polling lossless
  apps/agor-daemon/src/services/gateway-channels-test.ts
  apps/agor-ui/src/components/SettingsModal/GatewayChannelsTable.tsx
  packages/core/src/gateway/connector.ts
  packages/core/src/gateway/connectors/shortcut.test.ts
  packages/core/src/gateway/connectors/shortcut.ts
  packages/core/src/types/gateway.ts
Due: biome check --write --no-errors-on-unmatched --diagnostic-level=error, prettier --write

docs(gateway): document Shortcut setup
  apps/agor-daemon/src/services/gateway.ts
  apps/agor-docs/content/guide/message-gateway.mdx
Due: biome check --write --no-errors-on-unmatched --diagnostic-level=error, prettier --write

chore(gateway): defer MCP tenant work
  apps/agor-daemon/src/mcp/server.test.ts
  apps/agor-daemon/src/mcp/server.ts
  apps/agor-daemon/src/register-routes.ts
Due: biome check --write --no-errors-on-unmatched --diagnostic-level=error, prettier --write

fix(ui): close Vega-Lite resource cap bypasses
  apps/agor-ui/src/components/MarkdownRenderer/MarkdownRenderer.test.tsx
  apps/agor-ui/src/components/MarkdownRenderer/MarkdownRenderer.tsx
  apps/agor-ui/src/components/MarkdownRenderer/VegaLiteRendererGate.tsx
  apps/agor-ui/src/components/MarkdownRenderer/vegaLiteActivationBudget.ts
  apps/agor-ui/src/components/MarkdownRenderer/vegaLiteSpec.test.ts
  apps/agor-ui/src/components/MarkdownRenderer/vegaLiteSpec.ts
  docs/internal/streamdown-rich-extensions-poc-2026-07-14.md
Due: biome check --write --no-errors-on-unmatched --diagnostic-level=error, prettier --write

fix(ui): validate Vega layout at schema boundaries
  apps/agor-ui/src/components/MarkdownRenderer/MarkdownRenderer.test.tsx
  apps/agor-ui/src/components/MarkdownRenderer/VegaLiteRendererGate.tsx
  apps/agor-ui/src/components/MarkdownRenderer/vegaLiteActivationBudget.ts
  apps/agor-ui/src/components/MarkdownRenderer/vegaLiteSpec.test.ts
  apps/agor-ui/src/components/MarkdownRenderer/vegaLiteSpec.ts
  docs/internal/streamdown-rich-extensions-poc-2026-07-14.md
Due: biome check --write --no-errors-on-unmatched --diagnostic-level=error, prettier --write

fix(ui): allowlist the Vega-Lite POC subset
  apps/agor-ui/src/components/MarkdownRenderer/VegaLiteRenderer.test.tsx
  apps/agor-ui/src/components/MarkdownRenderer/vegaLiteSpec.test.ts
  apps/agor-ui/src/components/MarkdownRenderer/vegaLiteSpec.ts
  apps/agor-ui/src/components/StreamdownDemo/StreamdownDemo.tsx
  docs/internal/streamdown-rich-extensions-poc-2026-07-14.md
Due: biome check --write --no-errors-on-unmatched --diagnostic-level=error, prettier --write

fix(ui): close Vega count field grammar
  apps/agor-ui/src/components/MarkdownRenderer/vegaLiteSpec.test.ts
  apps/agor-ui/src/components/MarkdownRenderer/vegaLiteSpec.ts
  docs/internal/streamdown-rich-extensions-poc-2026-07-14.md
Due: biome check --write --no-errors-on-unmatched --diagnostic-level=error, prettier --write

fix(ui): harden Vega-Lite POC boundaries
  apps/agor-ui/src/components/MarkdownRenderer/MarkdownRenderer.test.tsx
  apps/agor-ui/src/components/MarkdownRenderer/MarkdownRenderer.tsx
  apps/agor-ui/src/components/MarkdownRenderer/VegaLiteRenderer.test.tsx
  apps/agor-ui/src/components/MarkdownRenderer/VegaLiteRenderer.tsx
  apps/agor-ui/src/components/MarkdownRenderer/VegaLiteRendererGate.tsx
  apps/agor-ui/src/components/MarkdownRenderer/richContentPlugins.ts
  apps/agor-ui/src/components/MarkdownRenderer/streamdownControls.ts
  apps/agor-ui/src/components/MarkdownRenderer/vegaLiteSpec.test.ts
  apps/agor-ui/src/components/MarkdownRenderer/vegaLiteSpec.ts
  apps/agor-ui/src/components/MarkdownRenderer/vegaRendererLoader.test.ts
  apps/agor-ui/src/components/MarkdownRenderer/vegaRendererLoader.ts
  apps/agor-ui/src/components/StreamdownDemo/StreamdownDemo.tsx
  docs/internal/streamdown-rich-extensions-poc-2026-07-14.md
  packages/core/src/templates/agor-system-prompt.md
  packages/core/src/templates/session-context.test.ts
Due: biome check --write --no-errors-on-unmatched --diagnostic-level=error, prettier --write

fix(ui): avoid cold Vega load timeouts
  apps/agor-ui/src/components/MarkdownRenderer/VegaLiteRenderer.test.tsx
  apps/agor-ui/src/components/MarkdownRenderer/VegaLiteRenderer.tsx
  apps/agor-ui/src/components/MarkdownRenderer/vegaRuntime.ts
  docs/internal/streamdown-rich-extensions-poc-2026-07-14.md
  packages/core/src/templates/agor-system-prompt.md
  packages/core/src/templates/session-context.test.ts
Due: biome check --write --no-errors-on-unmatched --diagnostic-level=error, prettier --write

feat(ui): prototype secure Streamdown rich content
  apps/agor-ui/package.json
  apps/agor-ui/src/components/MarkdownRenderer/MarkdownRenderer.css
  apps/agor-ui/src/components/MarkdownRenderer/MarkdownRenderer.test.tsx
  apps/agor-ui/src/components/MarkdownRenderer/MarkdownRenderer.tsx
  apps/agor-ui/src/components/MarkdownRenderer/VegaLiteRenderer.test.tsx
  apps/agor-ui/src/components/MarkdownRenderer/VegaLiteRenderer.tsx
  apps/agor-ui/src/components/MarkdownRenderer/VegaLiteRendererGate.tsx
  apps/agor-ui/src/components/MarkdownRenderer/richContentPlugins.ts
  apps/agor-ui/src/components/MarkdownRenderer/vegaLiteSpec.test.ts
  apps/agor-ui/src/components/MarkdownRenderer/vegaLiteSpec.ts
  apps/agor-ui/src/components/StreamdownDemo/StreamdownDemo.tsx
  apps/agor-ui/vite.config.ts
  docs/internal/streamdown-rich-extensions-poc-2026-07-14.md
  pnpm-lock.yaml
Due: biome check --write --no-errors-on-unmatched --diagnostic-level=error, prettier --write

fix(onboarding): align teammate first-session handoff
  apps/agor-docs/content/guide/teammates.mdx
  apps/agor-ui/src/utils/seedOnboardingTeammate.test.ts
  apps/agor-ui/src/utils/seedOnboardingTeammate.ts
  apps/agor-ui/src/utils/teammateBootstrapPrompt.test.ts
  apps/agor-ui/src/utils/teammateBootstrapPrompt.ts
Due: biome check --write --no-errors-on-unmatched --diagnostic-level=error, prettier --write

fix(onboarding): keep teammate terminology consistent
  apps/agor-docs/content/blog/agor-assistants.mdx
  apps/agor-ui/src/components/App/App.tsx
  apps/agor-ui/src/utils/seedOnboardingTeammate.ts
  apps/agor-ui/src/utils/teammateBootstrapPrompt.test.ts
  apps/agor-ui/src/utils/teammateBootstrapPrompt.ts
Due: biome check --write --no-errors-on-unmatched --diagnostic-level=error, prettier --write

copy(landing): drop em dashes, bold key phrases, tighten wording
  apps/agor-docs/components/LandingPage.module.css
  apps/agor-docs/components/LandingPage.tsx
Due: biome check --write --no-errors-on-unmatched --diagnostic-level=error, prettier --write

copy(docs): minimize em dashes across the docs site
  apps/agor-docs/content/api-reference/index.mdx
  apps/agor-docs/content/blog/agent-modeling-101.mdx
  apps/agor-docs/content/blog/agor-assistants.mdx
  apps/agor-docs/content/blog/agor-cloud.mdx
  apps/agor-docs/content/blog/agor-openclaw.mdx
  apps/agor-docs/content/blog/agor-platform.mdx
  apps/agor-docs/content/blog/announcement.mdx
  apps/agor-docs/content/blog/claude-tag-vs-agor-assistants.mdx
  apps/agor-docs/content/blog/context-engineering.mdx
  apps/agor-docs/content/blog/making-of-agor.mdx
  apps/agor-docs/content/blog/openclaw.mdx
  apps/agor-docs/content/blog/orchestration-layers.mdx
  apps/agor-docs/content/blog/raise-team-helper-agent.mdx
  apps/agor-docs/content/guide/api-proxies.mdx
  apps/agor-docs/content/guide/architecture.mdx
  apps/agor-docs/content/guide/artifacts.mdx
  apps/agor-docs/content/guide/boards.mdx
  apps/agor-docs/content/guide/branches.mdx
  apps/agor-docs/content/guide/cards.mdx
  apps/agor-docs/content/guide/containerized-execution.mdx
  apps/agor-docs/content/guide/development.mdx
  apps/agor-docs/content/guide/environment-configuration.mdx
  apps/agor-docs/content/guide/extended-install.mdx
  apps/agor-docs/content/guide/features-overview.mdx
  apps/agor-docs/content/guide/getting-started.mdx
  apps/agor-docs/content/guide/in-conversation-widgets.mdx
  apps/agor-docs/content/guide/index.mdx
  apps/agor-docs/content/guide/internal-mcp.mdx
  apps/agor-docs/content/guide/knowledge.mdx
  apps/agor-docs/content/guide/message-gateway.mdx
  apps/agor-docs/content/guide/multiplayer-social.mdx
  apps/agor-docs/content/guide/multiplayer-unix-isolation.mdx
  apps/agor-docs/content/guide/rich-chat-ux.mdx
  apps/agor-docs/content/guide/scheduler.mdx
  apps/agor-docs/content/guide/sdk-comparison.mdx
  apps/agor-docs/content/guide/sessions.mdx
  apps/agor-docs/content/guide/teammates.mdx
  apps/agor-docs/content/guide/typescript-client.mdx
  apps/agor-docs/content/security.mdx
Due: none

refactor(ui): make session-streams capability announce UI-private
  apps/agor-ui/src/hooks/sessionStreamsCapability.test.ts
  apps/agor-ui/src/hooks/sessionStreamsCapability.ts
  apps/agor-ui/src/hooks/useAgorClient.test.tsx
  apps/agor-ui/src/hooks/useAgorClient.ts
  packages/client/src/index.ts
  packages/client/src/reactive-session.test.ts
  packages/client/src/reactive-session.ts
Due: biome check --write --no-errors-on-unmatched --diagnostic-level=error, prettier --write

feat(docs): containerize FAQ answers into cards
  apps/agor-docs/components/FaqSection.module.css
  apps/agor-docs/components/FaqSection.tsx
  apps/agor-docs/content/faq.mdx
Due: biome check --write --no-errors-on-unmatched --diagnostic-level=error, prettier --write

docs(executor): replace ASCII diagram with mermaid; fix drifted facts
  apps/agor-docs/content/guide/containerized-execution.mdx
Due: none

docs(executor): tidy mermaid — uniform 90° edges, cleaner node labels
  apps/agor-docs/content/guide/containerized-execution.mdx
Due: none

docs(executor): drop step routing for clean default curves
  apps/agor-docs/content/guide/containerized-execution.mdx
Due: none

docs(executor): clean edge routing — single payload node
  apps/agor-docs/content/guide/containerized-execution.mdx
Due: none

docs(executor): revert diagram to the original mermaid layout
  apps/agor-docs/content/guide/containerized-execution.mdx
Due: none

docs(executor): uniform rounded-rectangle corners on the loop
  apps/agor-docs/components/ExecutorDiagram.tsx
Due: biome check --write --no-errors-on-unmatched --diagnostic-level=error, prettier --write

docs(executor): hand-authored SVG diagram with perimeter-loop routing
  apps/agor-docs/components/ExecutorDiagram.tsx
  apps/agor-docs/content/guide/containerized-execution.mdx
Due: biome check --write --no-errors-on-unmatched --diagnostic-level=error, prettier --write

docs(executor): consistent labels, tighter daemon box
  apps/agor-docs/components/ExecutorDiagram.tsx
Due: biome check --write --no-errors-on-unmatched --diagnostic-level=error, prettier --write

docs(faq): styled Tree component replaces ASCII tree code blocks
  apps/agor-docs/components/Tree.module.css
  apps/agor-docs/components/Tree.tsx
  apps/agor-docs/content/faq.mdx
Due: biome check --write --no-errors-on-unmatched --diagnostic-level=error, prettier --write

docs: click-to-zoom lightbox for mermaid diagrams
  apps/agor-docs/app/(docs)/layout.tsx
  apps/agor-docs/components/MermaidZoom.module.css
  apps/agor-docs/components/MermaidZoom.tsx
Due: biome check --write --no-errors-on-unmatched --diagnostic-level=error, prettier --write

docs(rich-chat): fix squished favicon status images
  apps/agor-docs/content/guide/rich-chat-ux.mdx
Due: none

docs(style): display font + light tint on content headings
  apps/agor-docs/app/styles.css
Due: none

docs(sdk): ScrollTable with pinned first column for the Feature Matrix
  apps/agor-docs/components/ScrollTable.module.css
  apps/agor-docs/components/ScrollTable.tsx
  apps/agor-docs/content/guide/sdk-comparison.mdx
Due: biome check --write --no-errors-on-unmatched --diagnostic-level=error, prettier --write

fix(onboarding): preserve legacy framework fallback
  apps/agor-ui/src/utils/seedOnboardingTeammate.test.ts
  apps/agor-ui/src/utils/teammateBootstrapPrompt.test.ts
  apps/agor-ui/src/utils/teammateBootstrapPrompt.ts
Due: biome check --write --no-errors-on-unmatched --diagnostic-level=error, prettier --write

fix(ci): skip image publishing for fork PRs
  .github/workflows/build-image.yml
Due: prettier --write

feat(tasks): distinguish executor dispatch from connection (#1888)
  apps/agor-daemon/src/auth/executor-runtime-scope.test.ts
  apps/agor-daemon/src/auth/executor-runtime-scope.ts
  apps/agor-daemon/src/declarations.ts
  apps/agor-daemon/src/register-hooks.test.ts
  apps/agor-daemon/src/register-hooks.ts
  apps/agor-daemon/src/register-routes.ts
  apps/agor-daemon/src/register-services.ts
  apps/agor-daemon/src/services/tasks.executor-connection.test.ts
  apps/agor-daemon/src/services/tasks.executor-heartbeat.test.ts
  apps/agor-daemon/src/services/tasks.ts
  apps/agor-daemon/src/startup.ts
  apps/agor-daemon/src/utils/session-tasks.ts
  apps/agor-daemon/src/utils/task-launch-state.test.ts
  apps/agor-daemon/src/utils/task-launch-state.ts
  apps/agor-docs/content/api-reference/index.mdx
  apps/agor-docs/content/guide/containerized-execution.mdx
  apps/agor-ui/src/components/Pill/TimerPill.tsx
  apps/agor-ui/src/components/SessionPanel/SessionPanel.tsx
  apps/agor-ui/src/components/TaskStatusIcon.tsx
  context/concepts/task-queueing.md
  packages/core/drizzle/postgres/0064_task_dispatching.sql
  packages/core/drizzle/postgres/meta/_journal.json
  packages/core/drizzle/sqlite/0071_task_dispatching.sql
  packages/core/drizzle/sqlite/meta/_journal.json
  packages/core/src/api/index.test.ts
  packages/core/src/api/index.ts
  packages/core/src/db/migrations.test.ts
  packages/core/src/db/repositories/tasks.postgres.test.ts
  packages/core/src/db/repositories/tasks.test.ts
  packages/core/src/db/repositories/tasks.ts
  packages/core/src/db/schema.postgres.ts
  packages/core/src/db/schema.sqlite.ts
  packages/core/src/feathers/index.ts
  packages/core/src/lib/feathers-validation.ts
  packages/core/src/types/agentic-tool.ts
  packages/core/src/types/task.test.ts
  packages/core/src/types/task.ts
  packages/executor/src/index.ts
  packages/executor/src/sdk-handlers/claude/permissions/permission-hooks.test.ts
  packages/executor/src/sdk-handlers/copilot/permission-mapper.test.ts
Due: biome check --write --no-errors-on-unmatched --diagnostic-level=error, prettier --write

fix: resolve schedule default config sentinels at runtime
  apps/agor-daemon/src/services/scheduler.ts
  apps/agor-daemon/src/services/schedules.ts
  apps/agor-ui/src/components/AgenticToolConfigurationPicker/AgenticToolConfigurationPicker.tsx
  apps/agor-ui/src/components/ScheduleModal/ScheduleModal.tsx
  packages/core/src/config/agentic-tool-preset-resolver.test.ts
  packages/core/src/db/repositories/schedules.test.ts
  packages/core/src/types/agentic-tool-preset.ts
  packages/core/src/types/schedule.ts
Due: biome check --write --no-errors-on-unmatched --diagnostic-level=error, prettier --write

fix: harden schedule default configuration resolution
  apps/agor-daemon/src/mcp/tools/schedules.test.ts
  apps/agor-daemon/src/mcp/tools/schedules.ts
  apps/agor-daemon/src/services/scheduler.test.ts
  apps/agor-daemon/src/services/scheduler.ts
  apps/agor-daemon/src/services/schedules.test.ts
  apps/agor-daemon/src/services/schedules.ts
  apps/agor-daemon/src/services/sessions.ts
  apps/agor-daemon/src/utils/apply-session-config-defaults.test.ts
  apps/agor-daemon/src/utils/apply-session-config-defaults.ts
  apps/agor-docs/app/styles.css
  apps/agor-docs/components/HubSpotForm.tsx
  apps/agor-docs/components/HubSpotMeetingModal.tsx
  apps/agor-docs/content/guide/extended-install.mdx
  apps/agor-ui/src/components/AgenticToolConfigForm/agenticConfigHelpers.test.ts
  apps/agor-ui/src/components/AgenticToolConfigForm/agenticConfigHelpers.ts
  apps/agor-ui/src/components/AgenticToolConfigurationPicker/AgenticToolConfigurationPicker.test.tsx
  apps/agor-ui/src/components/AgenticToolConfigurationPicker/AgenticToolConfigurationPicker.tsx
  apps/agor-ui/src/components/ScheduleModal/ScheduleModal.test.tsx
  apps/agor-ui/src/components/ScheduleModal/ScheduleModal.tsx
  packages/core/src/config/agentic-tool-preset-resolver.test.ts
  packages/core/src/config/agentic-tool-preset-resolver.ts
  packages/core/src/config/index.ts
  packages/core/src/config/schedule-agentic-tool-config.test.ts
  packages/core/src/config/schedule-agentic-tool-config.ts
  packages/core/src/types/agentic-tool-preset.ts
  packages/core/src/types/schedule.ts
Due: biome check --write --no-errors-on-unmatched --diagnostic-level=error, prettier --write

fix: type scheduled session creation params
  apps/agor-daemon/src/services/scheduler.ts
Due: biome check --write --no-errors-on-unmatched --diagnostic-level=error, prettier --write

test: ignore generated model config timestamp
  apps/agor-daemon/src/services/scheduler.test.ts
Due: biome check --write --no-errors-on-unmatched --diagnostic-level=error, prettier --write

fix(docs): biome format apps/agor-docs/app/styles.css
  apps/agor-docs/app/styles.css
Due: none

fix(ci): format docs styles
  apps/agor-docs/app/styles.css
Due: none

Simplify session creation into a right-drawer quick-start flow
  apps/agor-daemon/src/services/sessions.agentic-tool-guard.test.ts
  apps/agor-daemon/src/services/sessions.swap-remove-guard.test.ts
  apps/agor-daemon/src/services/sessions.ts
  apps/agor-daemon/src/services/tasks.auto-title.test.ts
  apps/agor-daemon/src/services/tasks.ts
  apps/agor-ui/src/components/AgentSelectionCard/AgentSelectionCard.tsx
  apps/agor-ui/src/components/AgentSelectionGrid/AgentSelectionGrid.tsx
  apps/agor-ui/src/components/App/App.quickstart.test.tsx
  apps/agor-ui/src/components/App/App.tsx
  apps/agor-ui/src/components/SessionPanel/PendingToolChoicePanel.test.tsx
  apps/agor-ui/src/components/SessionPanel/PendingToolChoicePanel.tsx
  apps/agor-ui/src/components/SessionPanel/SessionPanel.quickstart.test.tsx
  apps/agor-ui/src/components/SessionPanel/SessionPanel.tsx
  apps/agor-ui/src/components/SettingsModal/UserSettingsModal.tsx
  apps/agor-ui/src/contexts/AppActionsContext.tsx
  apps/agor-ui/src/hooks/useUrlState.integration.test.tsx
  apps/agor-ui/src/utils/resolveQuickStartMcpServerIds.test.ts
  apps/agor-ui/src/utils/resolveQuickStartMcpServerIds.ts
  context/explorations/kb-teammate-framework-integration.md
  packages/core/src/lib/feathers-validation.test.ts
  packages/core/src/lib/feathers-validation.ts
  packages/core/src/sessions/derive-title-from-prompt.test.ts
  packages/core/src/sessions/derive-title-from-prompt.ts
  packages/core/src/sessions/index.ts
  packages/core/src/types/user.ts
Due: biome check --write --no-errors-on-unmatched --diagnostic-level=error, prettier --write
