Repository preset-io/agor: changes, and which lint-staged commands are due for each by the changed paths.
All: biome check --write --no-errors-on-unmatched --diagnostic-level=error, prettier --write

Reduce overlap in multiplayer collage
  apps/agor-docs/components/LandingPage.module.css
  apps/agor-docs/components/LandingPage.tsx
  context/marketing/screenshots/README.md
Due: biome check --write --no-errors-on-unmatched --diagnostic-level=error, prettier --write

docs(readme): use release-hosted URL for board screenshot
  README.md
Due: prettier --write

fix(ui): typecheck the marketing screenshot demo fixtures
  apps/agor-ui/src/components/SessionCanvas/canvas/RemoteCursorLayer.tsx
  apps/agor-ui/src/pages/MarketingScreenshotPage.tsx
Due: biome check --write --no-errors-on-unmatched --diagnostic-level=error, prettier --write

docs: refresh environment screenshot (Branch terminology + lifecycle)
  README.md
  apps/agor-docs/public/screenshots/env_configuration.png
Due: prettier --write

chore(brew): bump formula to 0.21.2
  Formula/agor-live.rb
Due: none

fix(ui): pin conversation auto-scroll with use-stick-to-bottom
  apps/agor-ui/package.json
  apps/agor-ui/src/components/ConversationView/ConversationView.test.tsx
  apps/agor-ui/src/components/ConversationView/ConversationView.tsx
  apps/agor-ui/src/components/SessionPanel/SessionPanel.tsx
  pnpm-lock.yaml
Due: biome check --write --no-errors-on-unmatched --diagnostic-level=error, prettier --write

fix(ui): harden conversation auto-scroll against bottom-lock races
  apps/agor-ui/src/components/ConversationView/ConversationView.test.tsx
  apps/agor-ui/src/components/ConversationView/ConversationView.tsx
Due: biome check --write --no-errors-on-unmatched --diagnostic-level=error, prettier --write

Bump agor-live packages to 0.22.0
  CHANGELOG.md
  packages/agor-live/package-lock.json
  packages/agor-live/package.json
  packages/client/package.json
Due: prettier --write

Refresh root README for GitHub audience
  README.md
Due: prettier --write

README: adopt v2 positioning; move M&P doc to the team KB
  AGENTS.md
  README.md
  context/README.md
  context/concepts/core.md
  context/messaging-and-positioning.md
Due: prettier --write

README: declarative top, harnesses+npm up front
  README.md
Due: prettier --write

README: make assistants copy KB-oriented
  README.md
Due: prettier --write

README: center clickable harness logos, plainer copy
  README.md
Due: prettier --write

README: surface governance, RBAC, and observability
  README.md
Due: prettier --write

README: remove Roadmap section
  README.md
Due: prettier --write

README: credit Codexes too; drop stray closing tags
  README.md
Due: prettier --write

README: replace dated making-of link with current posts
  README.md
Due: prettier --write

Add MCP server CRUD tools
  apps/agor-daemon/src/mcp/tokens.test.ts
  apps/agor-daemon/src/mcp/tools/mcp-servers.test.ts
  apps/agor-daemon/src/mcp/tools/mcp-servers.ts
  apps/agor-daemon/src/utils/sandpack-config.test.ts
  apps/agor-docs/launch-video/composition/assets/music/cues/adventure-epic-478847.music-cues.json
  apps/agor-docs/launch-video/composition/assets/music/cues/agor-epic-40s.music-cues.json
  apps/agor-docs/launch-video/composition/index.html
  apps/agor-docs/launch-video/composition/meta.json
  biome.json
Due: biome check --write --no-errors-on-unmatched --diagnostic-level=error, prettier --write

fix user settings tab retention
  apps/agor-ui/src/components/EnvVarEditor.test.tsx
  apps/agor-ui/src/components/EnvVarEditor.tsx
  apps/agor-ui/src/components/SettingsModal/UserSettingsModal.test.tsx
  apps/agor-ui/src/components/SettingsModal/UserSettingsModal.tsx
Due: biome check --write --no-errors-on-unmatched --diagnostic-level=error, prettier --write

clear accepted password before ancillary saves
  apps/agor-ui/src/components/SettingsModal/UserSettingsModal.tsx
Due: biome check --write --no-errors-on-unmatched --diagnostic-level=error, prettier --write

exclude launch video asset from biome
  biome.json
Due: prettier --write

clear password after user settings save
  apps/agor-ui/src/components/SettingsModal/UserSettingsModal.test.tsx
  apps/agor-ui/src/components/SettingsModal/UserSettingsModal.tsx
Due: biome check --write --no-errors-on-unmatched --diagnostic-level=error, prettier --write

Polish Settings artifact and action lists
  apps/agor-ui/src/components/SettingsModal/ArtifactsTable.tsx
  apps/agor-ui/src/components/SettingsModal/AssistantsTable.tsx
  apps/agor-ui/src/components/SettingsModal/BoardsTable.tsx
  apps/agor-ui/src/components/SettingsModal/BranchesTable.tsx
  apps/agor-ui/src/components/SettingsModal/CardsTable.tsx
  apps/agor-ui/src/components/SettingsModal/GatewayChannelsTable.tsx
  apps/agor-ui/src/components/SettingsModal/GroupsTable.tsx
  apps/agor-ui/src/components/SettingsModal/MCPServersTable.tsx
  apps/agor-ui/src/components/SettingsModal/SettingsActionGroup.tsx
  apps/agor-ui/src/components/SettingsModal/UsersTable.tsx
Due: biome check --write --no-errors-on-unmatched --diagnostic-level=error, prettier --write

Address schedules list review nits
  apps/agor-ui/src/components/BranchModal/tabs/ScheduleTab.tsx
Due: biome check --write --no-errors-on-unmatched --diagnostic-level=error, prettier --write

Improve BranchModal schedules list layout
  apps/agor-ui/src/components/BranchModal/tabs/ScheduleTab.test.tsx
  apps/agor-ui/src/components/BranchModal/tabs/ScheduleTab.tsx
Due: biome check --write --no-errors-on-unmatched --diagnostic-level=error, prettier --write

Add gateway channel MCP CRUD tools
  apps/agor-daemon/src/mcp/server.ts
  apps/agor-daemon/src/mcp/tool-registry.ts
  apps/agor-daemon/src/mcp/tools/gateway-channels.test.ts
  apps/agor-daemon/src/mcp/tools/gateway-channels.ts
  apps/agor-daemon/src/register-hooks.ts
  packages/core/src/types/config-services.ts
Due: biome check --write --no-errors-on-unmatched --diagnostic-level=error, prettier --write

Address gateway channel MCP review feedback
  apps/agor-daemon/src/mcp/tools/gateway-channels.test.ts
  apps/agor-daemon/src/mcp/tools/gateway-channels.ts
  apps/agor-daemon/src/register-hooks.ts
  packages/core/src/db/repositories/gateway-channels.ts
  packages/core/src/types/gateway.ts
Due: biome check --write --no-errors-on-unmatched --diagnostic-level=error, prettier --write

Tighten gateway list skip schema wording
  apps/agor-daemon/src/mcp/tools/gateway-channels.ts
Due: biome check --write --no-errors-on-unmatched --diagnostic-level=error, prettier --write

Implement gateway outbound seeded threads
  apps/agor-daemon/src/mcp/tools/gateway-channels.test.ts
  apps/agor-daemon/src/mcp/tools/gateway-channels.ts
  apps/agor-daemon/src/register-services.ts
  apps/agor-daemon/src/services/gateway.ts
  apps/agor-ui/src/pages/MarketingScreenshotPage.tsx
  packages/core/drizzle/postgres/0052_gateway_outbound_messages.sql
  packages/core/drizzle/postgres/meta/_journal.json
  packages/core/drizzle/sqlite/0061_gateway_outbound_messages.sql
  packages/core/drizzle/sqlite/meta/_journal.json
  packages/core/src/db/repositories/gateway-outbound-messages.test.ts
  packages/core/src/db/repositories/gateway-outbound-messages.ts
  packages/core/src/db/repositories/index.ts
  packages/core/src/db/schema.postgres.ts
  packages/core/src/db/schema.sqlite.ts
  packages/core/src/db/schema.ts
  packages/core/src/gateway/connectors/slack.ts
  packages/core/src/types/gateway.ts
Due: biome check --write --no-errors-on-unmatched --diagnostic-level=error, prettier --write

Restrict gateway outbound seeds to channels
  apps/agor-daemon/src/mcp/tools/gateway-channels.test.ts
  apps/agor-daemon/src/mcp/tools/gateway-channels.ts
  apps/agor-daemon/src/services/gateway.ts
Due: biome check --write --no-errors-on-unmatched --diagnostic-level=error, prettier --write

Hide unusable gateway outbound targets
  apps/agor-daemon/src/mcp/tools/gateway-channels.ts
Due: biome check --write --no-errors-on-unmatched --diagnostic-level=error, prettier --write

Fix gateway channel run-as user selection
  apps/agor-ui/src/components/SettingsModal/GatewayChannelsTable.tsx
Due: biome check --write --no-errors-on-unmatched --diagnostic-level=error, prettier --write

Support friendly Slack outbound targets
  apps/agor-daemon/src/mcp/tools/gateway-channels.test.ts
  apps/agor-daemon/src/mcp/tools/gateway-channels.ts
  apps/agor-daemon/src/services/gateway.ts
  apps/agor-ui/src/components/SettingsModal/GatewayChannelsTable.tsx
  packages/core/src/gateway/connectors/slack.test.ts
  packages/core/src/gateway/connectors/slack.ts
Due: biome check --write --no-errors-on-unmatched --diagnostic-level=error, prettier --write

Fix KB namespace switch routing races
  apps/agor-ui/src/pages/KnowledgePage.routing.test.ts
  apps/agor-ui/src/pages/KnowledgePage.tsx
Due: biome check --write --no-errors-on-unmatched --diagnostic-level=error, prettier --write

Fix dev deep-link auth routing
  apps/agor-ui/src/App.tsx
  apps/agor-ui/src/components/SettingsModal/AboutTab.tsx
  apps/agor-ui/src/config/daemon.ts
  apps/agor-ui/src/config/urlRuntime.test.ts
  apps/agor-ui/src/config/urlRuntime.ts
  apps/agor-ui/src/hooks/useAuth.launch.test.tsx
  apps/agor-ui/src/hooks/useAuth.ts
  apps/agor-ui/src/utils/uiRoutes.test.ts
  apps/agor-ui/src/utils/uiRoutes.ts
Due: biome check --write --no-errors-on-unmatched --diagnostic-level=error, prettier --write

Use generic Slack outbound placeholders
  apps/agor-daemon/src/mcp/tools/gateway-channels.test.ts
  apps/agor-daemon/src/mcp/tools/gateway-channels.ts
  apps/agor-ui/src/components/SettingsModal/GatewayChannelsTable.tsx
  packages/core/src/gateway/connectors/slack.test.ts
Due: biome check --write --no-errors-on-unmatched --diagnostic-level=error, prettier --write

Redact Slack outbound resolver errors
  apps/agor-daemon/src/services/gateway.ts
Due: biome check --write --no-errors-on-unmatched --diagnostic-level=error, prettier --write

fix: prevent stale Codex model aliases
  apps/agor-daemon/src/mcp/tools/sessions.test.ts
  apps/agor-daemon/src/mcp/tools/sessions.ts
  apps/agor-daemon/src/services/sessions.ts
  apps/agor-daemon/src/utils/apply-session-config-defaults.test.ts
  apps/agor-daemon/src/utils/apply-session-config-defaults.ts
  packages/core/src/models/codex.test.ts
  packages/core/src/models/codex.ts
Due: biome check --write --no-errors-on-unmatched --diagnostic-level=error, prettier --write

fix: normalize board icon emoji shortcodes
  apps/agor-daemon/src/mcp/tools/boards.ts
  packages/core/package.json
  packages/core/src/db/repositories/boards.test.ts
  packages/core/src/db/repositories/boards.ts
  packages/core/src/utils/emoji-shortcodes.ts
  packages/core/src/utils/emojibase-data.d.ts
  pnpm-lock.yaml
Due: biome check --write --no-errors-on-unmatched --diagnostic-level=error, prettier --write

Path conditions:
  biome check --write --no-errors-on-unmatched --diagnostic-level=error: any of: *.{ts,tsx,js,jsx,mjs,cjs}
  prettier --write: (any of: *.{ts,tsx,js,jsx,mjs,cjs}) or (any of: *.{json,md,yaml,yml})
