Repository preset-io/agor: changes, and which lint-staged commands are due for each by the changed paths.
All: biome check --write --no-errors-on-unmatched --diagnostic-level=error, prettier --write

ci: relax PR-push checks; move full Node matrix to main + nightly
  .github/workflows/agor-live-smoke.yml
  .github/workflows/ci.yml
  .github/workflows/heavy-checks.yml
  CONTRIBUTING.md
Due: prettier --write

ci: drop push-to-main trigger from heavy-checks; nightly + dispatch only
  .github/workflows/heavy-checks.yml
  CONTRIBUTING.md
Due: prettier --write

fix(ui): expand Edit (and other diff-bearing) tool cards by default
  apps/agor-ui/src/components/ToolBlock/defaultExpansion.ts
Due: biome check --write --no-errors-on-unmatched --diagnostic-level=error, prettier --write

ci: collapse install + 4 parallel jobs into one; drop turbo-cache handoff
  .github/workflows/ci.yml
Due: prettier --write

ci: split audit into its own workflow; path-filter PR, also run nightly
  .github/workflows/audit.yml
  .github/workflows/ci.yml
  .github/workflows/heavy-checks.yml
  CONTRIBUTING.md
Due: prettier --write

docs(changelog): backfill 0.16.2–0.19.0 + style consistency pass
  CHANGELOG.md
Due: prettier --write

refactor(gemini): use Config as AgentLoopContext, extract tool-result converter
  packages/executor/src/sdk-handlers/gemini/prompt-service.ts
  packages/executor/src/sdk-handlers/gemini/tool-result-converter.test.ts
  packages/executor/src/sdk-handlers/gemini/tool-result-converter.ts
Due: biome check --write --no-errors-on-unmatched --diagnostic-level=error, prettier --write

chore(deps): clean up deprecation warnings on global install
  package.json
  packages/agor-live/package.json
  packages/core/package.json
  packages/executor/src/sdk-handlers/gemini/prompt-service.ts
Due: biome check --write --no-errors-on-unmatched --diagnostic-level=error, prettier --write

chore(deps): refresh pnpm-lock.yaml after rebase
  pnpm-lock.yaml
Due: prettier --write

docs: repo health audit 2026-05-15
  docs/internal/repo-health-audit-2026-05-15.md
Due: prettier --write

docs(changelog): convert PR refs to proper markdown links
  CHANGELOG.md
Due: prettier --write

chore(devex): adopt audit-recommended tooling baseline
  .editorconfig
  .husky/pre-commit
  .nvmrc
  CONTRIBUTING.md
  apps/agor-docs/pages/guide/development.mdx
  knip.json
Due: prettier --write

chore: address audit code-cleanup quick wins
  apps/agor-cli/src/commands/daemon/start.ts
  apps/agor-cli/src/commands/repo/list.ts
  apps/agor-cli/src/commands/session/list.ts
  apps/agor-daemon/src/register-routes.ts
  apps/agor-daemon/src/services/sessions.ts
  apps/agor-daemon/src/services/worktrees.ts
  apps/agor-daemon/src/utils/parse-pagination.ts
  apps/agor-daemon/src/utils/spawn-executor.ts
  packages/core/src/db/repositories/board-objects.test.ts
  packages/executor/src/sdk-handlers/claude/claude-tool.ts
  packages/executor/src/sdk-handlers/claude/permissions/permission-hooks.ts
  packages/executor/src/sdk-handlers/claude/prompt-service.ts
  packages/executor/src/sdk-handlers/claude/query-builder.ts
  packages/executor/src/sdk-handlers/copilot/copilot-tool.ts
  packages/executor/src/sdk-handlers/copilot/permission-mapper.ts
  packages/executor/src/sdk-handlers/copilot/prompt-service.ts
Due: biome check --write --no-errors-on-unmatched --diagnostic-level=error, prettier --write

chore(deps,build): drop unused deps and add Vite manualChunks
  apps/agor-ui/package.json
  apps/agor-ui/src/types/react-textarea-autocomplete.d.ts
  apps/agor-ui/vite.config.ts
  packages/agor-live/package.json
  packages/core/package.json
  packages/executor/package.json
  pnpm-lock.yaml
Due: biome check --write --no-errors-on-unmatched --diagnostic-level=error, prettier --write

docs: mark shipped vs deferred quick wins in the audit
  docs/internal/repo-health-audit-2026-05-15.md
Due: prettier --write

chore: address Codex review feedback on PR #1199
  apps/agor-cli/src/commands/repo/list.ts
  apps/agor-cli/src/commands/session/list.ts
  apps/agor-daemon/src/services/check-auth.ts
  apps/agor-daemon/src/services/sessions.ts
  apps/agor-daemon/src/services/worktrees.ts
  apps/agor-daemon/src/utils/mcp-probe-templates.ts
  apps/agor-daemon/src/utils/parse-pagination.ts
  apps/agor-daemon/src/utils/query-params.ts
  packages/client/src/index.ts
  packages/executor/src/sdk-handlers/base/index.ts
  packages/executor/src/sdk-handlers/base/service-clients.ts
  packages/executor/src/sdk-handlers/claude/claude-tool.ts
  packages/executor/src/sdk-handlers/claude/message-builder.test.ts
  packages/executor/src/sdk-handlers/claude/message-builder.ts
  packages/executor/src/sdk-handlers/claude/permissions/permission-hooks.ts
  packages/executor/src/sdk-handlers/claude/prompt-service.ts
  packages/executor/src/sdk-handlers/claude/query-builder.ts
  packages/executor/src/sdk-handlers/claude/safe-message-service.ts
  packages/executor/src/sdk-handlers/codex/codex-tool.ts
  packages/executor/src/sdk-handlers/copilot/copilot-tool.ts
  packages/executor/src/sdk-handlers/copilot/permission-mapper.ts
  packages/executor/src/sdk-handlers/copilot/prompt-service.ts
  packages/executor/src/sdk-handlers/gemini/gemini-tool.ts
  packages/executor/src/sdk-handlers/opencode/opencode-tool.ts
Due: biome check --write --no-errors-on-unmatched --diagnostic-level=error, prettier --write

fix(ui): preserve board state and URL through transient socket disconnects
  apps/agor-ui/src/App.tsx
  apps/agor-ui/src/components/App/App.tsx
  apps/agor-ui/src/hooks/useAgorData.ts
Due: biome check --write --no-errors-on-unmatched --diagnostic-level=error, prettier --write

fix(ui): address codex review — self-heal URL layer + connected-aware fallback
  apps/agor-ui/src/App.tsx
  apps/agor-ui/src/components/App/App.tsx
  apps/agor-ui/src/hooks/useUrlState.ts
Due: biome check --write --no-errors-on-unmatched --diagnostic-level=error, prettier --write

docs: internal LLM service design
  docs/internal/internal-llm-service-design-2026-05-16.md
Due: prettier --write

docs: daemon FS decoupling analysis
  docs/internal/daemon-fs-decoupling-analysis-2026-05-16.md
Due: prettier --write

docs: move FS decoupling analysis to explorations + fold in config scope
  context/explorations/daemon-fs-decoupling.md
Due: prettier --write

fix(ui): make untrusted artifact badge open the consent modal on click
  apps/agor-ui/src/components/SessionCanvas/canvas/ArtifactNode.tsx
Due: biome check --write --no-errors-on-unmatched --diagnostic-level=error, prettier --write

chore(ui): inline trustBadge assignment to satisfy formatter
  apps/agor-ui/src/components/SessionCanvas/canvas/ArtifactNode.tsx
Due: biome check --write --no-errors-on-unmatched --diagnostic-level=error, prettier --write

docs(daemon-fs): drop AGOR_HOSTED flag — capability-driven instead
  context/explorations/daemon-fs-decoupling.md
Due: prettier --write

feat(core/config): stat-validated cache for loadConfig/loadConfigSync
  packages/core/src/config/config-manager.test.ts
  packages/core/src/config/config-manager.ts
Due: biome check --write --no-errors-on-unmatched --diagnostic-level=error, prettier --write

feat(executor): resolvedConfig payload slice — stop reading config.yaml
  apps/agor-daemon/src/utils/spawn-executor.resolved-config.test.ts
  apps/agor-daemon/src/utils/spawn-executor.ts
  packages/executor/src/cli.ts
  packages/executor/src/commands/git.ts
  packages/executor/src/handlers/sdk/claude.ts
  packages/executor/src/handlers/sdk/copilot.ts
  packages/executor/src/handlers/sdk/opencode.ts
  packages/executor/src/handlers/sdk/tool-registry.ts
  packages/executor/src/index.ts
  packages/executor/src/payload-types.ts
Due: biome check --write --no-errors-on-unmatched --diagnostic-level=error, prettier --write

fix(daemon): log when shutdown-sentinel write fails (read-only AGOR_HOME)
  apps/agor-daemon/src/startup.ts
Due: biome check --write --no-errors-on-unmatched --diagnostic-level=error, prettier --write

feat(daemon): capability-driven secret resolution (JWT, master, admin)
  apps/agor-daemon/src/index.ts
  apps/agor-daemon/src/setup/first-run-admin.test.ts
  apps/agor-daemon/src/setup/first-run-admin.ts
  apps/agor-daemon/src/startup.ts
Due: biome check --write --no-errors-on-unmatched --diagnostic-level=error, prettier --write

docs(daemon-fs): mark Phase 1A H1–H4 shipped; H5 split to follow-up
  context/explorations/daemon-fs-decoupling.md
Due: prettier --write

chore: address Codex review feedback on PR #1209
  apps/agor-daemon/src/index.ts
  apps/agor-daemon/src/setup/persisted-secret.test.ts
  apps/agor-daemon/src/setup/persisted-secret.ts
  apps/agor-daemon/src/startup.ts
  apps/agor-daemon/src/utils/build-resolved-config-slice.ts
  apps/agor-daemon/src/utils/spawn-executor.resolved-config.test.ts
  apps/agor-daemon/src/utils/spawn-executor.ts
  context/explorations/daemon-fs-decoupling.md
  packages/core/src/config/config-manager.test.ts
  packages/core/src/config/config-manager.ts
  packages/core/src/config/index.ts
  packages/core/src/config/resolved-config-slice.ts
  packages/executor/src/cli.ts
  packages/executor/src/config.ts
  packages/executor/src/contract.test.ts
  packages/executor/src/payload-types.ts
Due: biome check --write --no-errors-on-unmatched --diagnostic-level=error, prettier --write

chore: second pass on Codex review feedback
  apps/agor-daemon/src/utils/build-resolved-config-slice.ts
  apps/agor-daemon/src/utils/spawn-executor.resolved-config.test.ts
  apps/agor-daemon/src/utils/spawn-executor.ts
  packages/core/src/config/resolved-config-slice.ts
Due: biome check --write --no-errors-on-unmatched --diagnostic-level=error, prettier --write

fix(bootstrap): set bootstrap admin to superadmin with unix_username
  apps/agor-daemon/src/setup/first-run-admin.test.ts
  apps/agor-daemon/src/setup/first-run-admin.ts
Due: biome check --write --no-errors-on-unmatched --diagnostic-level=error, prettier --write

fix(bootstrap): set DEFAULT_ADMIN_USER to superadmin with unix_username
  packages/core/src/db/user-utils.test.ts
  packages/core/src/db/user-utils.ts
Due: biome check --write --no-errors-on-unmatched --diagnostic-level=error, prettier --write

fix(ui): require confirmation before nuking environment
  apps/agor-ui/src/components/EnvironmentPill/EnvironmentPill.tsx
  apps/agor-ui/src/components/WorktreeHeaderPill/WorktreeHeaderPill.tsx
Due: biome check --write --no-errors-on-unmatched --diagnostic-level=error, prettier --write

fix(docker): provision bootstrap admin OS user in strict mode
  docker/docker-entrypoint.sh
Due: none

feat(ui): show per-resource counts on "Loading workspace…" rows
  apps/agor-ui/src/App.tsx
  apps/agor-ui/src/components/InitialLoadingScreen.tsx
Due: biome check --write --no-errors-on-unmatched --diagnostic-level=error, prettier --write

refactor(ui): unify nuke-environment confirm into a single hook
  apps/agor-ui/src/components/EnvironmentPill/EnvironmentPill.tsx
  apps/agor-ui/src/components/WorktreeHeaderPill/WorktreeHeaderPill.tsx
  apps/agor-ui/src/components/WorktreeModal/tabs/EnvironmentTab.tsx
  apps/agor-ui/src/hooks/index.ts
  apps/agor-ui/src/hooks/useConfirmNukeEnvironment.tsx
Due: biome check --write --no-errors-on-unmatched --diagnostic-level=error, prettier --write

fix(docker): add --build to full variant start command
  .agor.yml
Due: prettier --write

refactor(ui): collapse loading-checklist API into one InitialLoadItem[]
  apps/agor-ui/src/App.tsx
  apps/agor-ui/src/components/InitialLoadingScreen.tsx
  apps/agor-ui/src/hooks/useAgorData.ts
  apps/agor-ui/src/hooks/useInitialLoaderPhase.ts
Due: biome check --write --no-errors-on-unmatched --diagnostic-level=error, prettier --write

feat(defaults): relax Codex/Claude permission defaults for Agor's MCP-heavy model
  apps/agor-daemon/src/utils/apply-session-config-defaults.test.ts
  apps/agor-ui/src/components/OnboardingWizard/OnboardingWizard.tsx
  packages/core/src/sessions/resolve-child-session-config.test.ts
  packages/core/src/sessions/resolve-session-defaults.test.ts
  packages/core/src/types/session.test.ts
  packages/core/src/types/session.ts
  packages/executor/src/sdk-handlers/codex/prompt-service.ts
Due: biome check --write --no-errors-on-unmatched --diagnostic-level=error, prettier --write

Path conditions:
  biome check --write --no-errors-on-unmatched --diagnostic-level=error: any of: *.{ts,tsx,js,jsx,mjs,cjs}
  prettier --write: (any of: *.{ts,tsx,js,jsx,mjs,cjs}) or (any of: *.{json,md,yaml,yml})
