Repository preset-io/agor: changes, and which lint-staged commands are due for each by the changed paths.
All: biome check --write --no-errors-on-unmatched --diagnostic-level=error, prettier --write

.lintstagedrc.json:

{
  "*.{ts,tsx,js,jsx,mjs,cjs}": [
    "biome check --write --no-errors-on-unmatched --diagnostic-level=error",
    "prettier --write"
  ],
  "*.{json,md,yaml,yml}": ["prettier --write"]
}

refactor(docker): consolidate Dockerfiles using multi-stage build
  docker-compose.prod.yml
  docker-compose.yml
  docker/Dockerfile
  docker/Dockerfile.prod
Due: prettier --write

fix(gemini): update for SDK 0.15.1 API changes
  packages/core/src/tools/gemini/prompt-service.ts
Due: biome check --write --no-errors-on-unmatched --diagnostic-level=error, prettier --write

fix(lint): remove any type from Gemini response handling
  packages/core/src/tools/gemini/prompt-service.ts
Due: biome check --write --no-errors-on-unmatched --diagnostic-level=error, prettier --write

docs: add real-time activity feed exploration
  context/explorations/activity-feed.md
Due: prettier --write

Optimize SessionCanvas lookups for performance
  apps/agor-ui/src/components/SessionCanvas/SessionCanvas.tsx
Due: biome check --write --no-errors-on-unmatched --diagnostic-level=error, prettier --write

Optimize session drawer streaming renders
  apps/agor-ui/src/components/ConversationView/ConversationView.tsx
  apps/agor-ui/src/components/TaskBlock/TaskBlock.tsx
Due: biome check --write --no-errors-on-unmatched --diagnostic-level=error, prettier --write

Add favicon status indicator with colored dots
  apps/agor-docs/pages/guide/advanced-features.mdx
  apps/agor-docs/public/screenshots/favicon-outstanding-items.png
  apps/agor-docs/public/screenshots/favicon-running.png
  apps/agor-ui/src/components/App/App.tsx
  apps/agor-ui/src/hooks/useFaviconStatus.ts
  apps/agor-ui/src/utils/faviconDot.ts
Due: biome check --write --no-errors-on-unmatched --diagnostic-level=error, prettier --write

Refactor favicon dots: white (running) + green (ready)
  apps/agor-docs/pages/guide/advanced-features.mdx
  apps/agor-docs/public/screenshots/favicon-both.png
  apps/agor-docs/public/screenshots/favicon-green-dot.png
  apps/agor-docs/public/screenshots/favicon-outstanding-items.png
  apps/agor-docs/public/screenshots/favicon-running.png
  apps/agor-docs/public/screenshots/favicon-white-dot.png
  apps/agor-ui/src/hooks/useFaviconStatus.ts
  apps/agor-ui/src/utils/faviconDot.ts
Due: biome check --write --no-errors-on-unmatched --diagnostic-level=error, prettier --write

Silence lint warning for TaskBlock useMemo
  apps/agor-ui/src/components/TaskBlock/TaskBlock.tsx
Due: biome check --write --no-errors-on-unmatched --diagnostic-level=error, prettier --write

fix: biome formatting in useFaviconStatus
  apps/agor-ui/src/hooks/useFaviconStatus.ts
Due: biome check --write --no-errors-on-unmatched --diagnostic-level=error, prettier --write

refactor: use .some() instead of for loop for better performance
  apps/agor-ui/src/hooks/useFaviconStatus.ts
Due: biome check --write --no-errors-on-unmatched --diagnostic-level=error, prettier --write

refactor: trust session.status instead of checking task-level status
  apps/agor-ui/src/components/App/App.tsx
  apps/agor-ui/src/hooks/useFaviconStatus.ts
Due: biome check --write --no-errors-on-unmatched --diagnostic-level=error, prettier --write

Fix MCP server scope not persisting on update
  packages/core/src/db/repositories/mcp-servers.ts
Due: biome check --write --no-errors-on-unmatched --diagnostic-level=error, prettier --write

Fix lint-staged to enforce formatting with biome ci
  .lintstagedrc.json
Due: prettier --write

Replace SDK response 'as any' assertions with proper TypeScript typing
  apps/agor-daemon/src/index.ts
  apps/agor-ui/src/components/TaskBlock/TaskBlock.tsx
  packages/core/src/db/repositories/tasks.ts
  packages/core/src/tools/base/normalizer.interface.ts
  packages/core/src/tools/claude/claude-tool.ts
  packages/core/src/tools/claude/normalizer.ts
  packages/core/src/tools/codex/codex-tool.ts
  packages/core/src/tools/codex/normalizer.ts
  packages/core/src/tools/gemini/gemini-tool.ts
  packages/core/src/tools/gemini/normalizer.ts
  packages/core/src/types/sdk-response.ts
  packages/core/src/utils/sdk-normalizer.ts
Due: biome check --write --no-errors-on-unmatched --diagnostic-level=error, prettier --write

Fix biome formatting (add parentheses to arrow function parameters)
  apps/agor-daemon/src/index.ts
  apps/agor-ui/src/components/TaskBlock/TaskBlock.tsx
  packages/core/src/db/repositories/tasks.ts
  packages/core/src/tools/claude/claude-tool.ts
  packages/core/src/tools/codex/codex-tool.ts
  packages/core/src/tools/gemini/gemini-tool.ts
Due: biome check --write --no-errors-on-unmatched --diagnostic-level=error, prettier --write

Add blog post: The Orchestration Layers
  apps/agor-docs/pages/blog/_meta.ts
  apps/agor-docs/pages/blog/orchestration-layers.mdx
Due: biome check --write --no-errors-on-unmatched --diagnostic-level=error, prettier --write

Fix: Docker Compose permission errors on Linux (#248)
  .env.example
  docker-compose.yml
  docker/README.md
  docker/docker-entrypoint.sh
Due: prettier --write

Add blog post: More Than a GUI - Agor is a Full Platform to Orchestrate AI Agents
  apps/agor-docs/pages/blog/agor-platform.mdx
Due: none

Fix YAML frontmatter: quote date field to resolve parsing error
  apps/agor-docs/pages/blog/agor-platform.mdx
Due: none

Fix date format: use 2025-01-16 (January) instead of 2025-11-16 (November)
  apps/agor-docs/pages/blog/agor-platform.mdx
Due: none

Revert to correct date: 2025-11-16 (today's actual date)
  apps/agor-docs/pages/blog/agor-platform.mdx
Due: none

Fix YAML frontmatter: remove special characters causing parse error
  apps/agor-docs/pages/blog/agor-platform.mdx
Due: none

Fix compaction detection in computeContextWindow for Claude Code
  packages/core/src/tools/claude/claude-tool.ts
Due: biome check --write --no-errors-on-unmatched --diagnostic-level=error, prettier --write

Add themed message utility with copy-to-clipboard for all toasts
  apps/agor-ui/src/App.tsx
  apps/agor-ui/src/components/App/App.tsx
  apps/agor-ui/src/components/SettingsModal/AgenticToolsSection.tsx
  apps/agor-ui/src/components/WorktreeModal/tabs/GeneralTab.tsx
  apps/agor-ui/src/hooks/useBoardActions.ts
  apps/agor-ui/src/utils/clipboard.ts
  apps/agor-ui/src/utils/message.tsx
Due: biome check --write --no-errors-on-unmatched --diagnostic-level=error, prettier --write

Style tmux integration with Agor teal theme
  apps/agor-daemon/src/services/terminals.ts
  apps/agor-ui/src/components/TerminalModal/TerminalModal.tsx
Due: biome check --write --no-errors-on-unmatched --diagnostic-level=error, prettier --write

fix: eliminate race condition in session status updates
  RACE_CONDITION_ANALYSIS.md
  SESSION_LIFECYCLE_ANALYSIS.md
  apps/agor-daemon/src/index.ts
  apps/agor-daemon/src/services/tasks.ts
Due: biome check --write --no-errors-on-unmatched --diagnostic-level=error, prettier --write

feat: add advanced spawn modal with full SpawnConfig support
  apps/agor-daemon/src/declarations.ts
  apps/agor-daemon/src/index.ts
  apps/agor-daemon/src/mcp/routes.ts
  apps/agor-daemon/src/services/sessions.ts
  apps/agor-ui/src/App.tsx
  apps/agor-ui/src/components/App/App.tsx
  apps/agor-ui/src/components/ForkSpawnModal/ForkSpawnModal.tsx
  apps/agor-ui/src/components/SessionCanvas/SessionCanvas.tsx
  apps/agor-ui/src/components/SessionDrawer/SessionDrawer.tsx
  apps/agor-ui/src/components/WorktreeCard/WorktreeCard.tsx
  apps/agor-ui/src/hooks/useSessionActions.ts
  packages/core/src/types/session.ts
Due: biome check --write --no-errors-on-unmatched --diagnostic-level=error, prettier --write

debug: add task created event logging to track spawn subsession state
  apps/agor-daemon/src/index.ts
  apps/agor-ui/src/hooks/useAgorData.ts
Due: biome check --write --no-errors-on-unmatched --diagnostic-level=error, prettier --write

feat: implement parent session callbacks for child completion
  apps/agor-daemon/src/declarations.ts
  apps/agor-daemon/src/index.ts
  apps/agor-daemon/src/services/sessions.ts
  apps/agor-daemon/src/services/tasks.ts
  context/explorations/parent-session-callbacks.md
  packages/core/package.json
  packages/core/src/callbacks/child-completion-template.ts
  packages/core/src/db/repositories/messages.ts
  packages/core/src/db/schema.ts
  packages/core/src/types/session.ts
  packages/core/tsup.config.ts
Due: biome check --write --no-errors-on-unmatched --diagnostic-level=error, prettier --write

fix: add polling fallback for missed session state updates
  FINDINGS.md
  ROOT_CAUSE_AND_SOLUTION.md
  apps/agor-ui/src/hooks/useAgorData.ts
Due: biome check --write --no-errors-on-unmatched --diagnostic-level=error, prettier --write

fix: use app.service() instead of sessionsService to trigger WebSocket events
  apps/agor-daemon/src/index.ts
Due: biome check --write --no-errors-on-unmatched --diagnostic-level=error, prettier --write

debug: add comprehensive session/task state logging
  apps/agor-daemon/src/adapters/drizzle.ts
  apps/agor-ui/src/hooks/useAgorData.ts
Due: biome check --write --no-errors-on-unmatched --diagnostic-level=error, prettier --write

fix: pass params to sessionsService.patch() to enable WebSocket event publishing
  apps/agor-daemon/src/index.ts
Due: biome check --write --no-errors-on-unmatched --diagnostic-level=error, prettier --write

chore: remove unnecessary biome-ignore suppressions
  apps/agor-daemon/src/services/worktrees.ts
Due: biome check --write --no-errors-on-unmatched --diagnostic-level=error, prettier --write

fix: use app.service() for all session/task patches to broadcast WebSocket events
  apps/agor-daemon/src/adapters/drizzle.ts
  apps/agor-daemon/src/index.ts
  apps/agor-ui/src/hooks/useAgorData.ts
Due: biome check --write --no-errors-on-unmatched --diagnostic-level=error, prettier --write

debug: add WebSocket event publishing logs to track missing events
  CROSS_SESSION_STATE_ANALYSIS.md
  FINDINGS.md
  apps/agor-daemon/src/index.ts
Due: biome check --write --no-errors-on-unmatched --diagnostic-level=error, prettier --write

fix: remove polling fallback workarounds, prepare to investigate queue handler
  apps/agor-ui/src/hooks/useAgorData.ts
Due: biome check --write --no-errors-on-unmatched --diagnostic-level=error, prettier --write

debug: add session RUNNING patch logging in prompt endpoint
  apps/agor-daemon/src/index.ts
Due: biome check --write --no-errors-on-unmatched --diagnostic-level=error, prettier --write

chore: promote biome warnings to errors and fix all violations
  apps/agor-daemon/src/services/scheduler.ts
  apps/agor-daemon/src/services/tasks.ts
  apps/agor-ui/src/components/AgentChain/AgentChain.tsx
  apps/agor-ui/src/components/CollapsibleText/CollapsibleText.tsx
  apps/agor-ui/src/components/ConnectionStatus/ConnectionStatus.tsx
  apps/agor-ui/src/components/ConversationView/ConversationView.tsx
  apps/agor-ui/src/components/MessageBlock/MessageBlock.tsx
  apps/agor-ui/src/components/ModelSelector/ModelSelector.tsx
  apps/agor-ui/src/components/ToolUseRenderer/ToolUseRenderer.tsx
  apps/agor-ui/src/components/mobile/MobileApp.tsx
  apps/agor-ui/src/components/mobile/MobilePromptInput.tsx
  biome.json
  packages/core/src/callbacks/child-completion-template.ts
  packages/core/src/db/repositories/messages.ts
Due: biome check --write --no-errors-on-unmatched --diagnostic-level=error, prettier --write
