Repository preset-io/agor: changes, and which lint-staged commands are due for each by the changed paths.
All: biome check --write --no-errors-on-unmatched --diagnostic-level=error, prettier --write

.lintstagedrc.json:

{
  "*.{ts,tsx,js,jsx,mjs,cjs}": [
    "biome check --write --no-errors-on-unmatched --diagnostic-level=error",
    "prettier --write"
  ],
  "*.{json,md,yaml,yml}": ["prettier --write"]
}

feat(env-vars): per-session scope selection (v0.5 env-var-access)
  apps/agor-daemon/src/index.ts
  apps/agor-daemon/src/register-hooks.ts
  apps/agor-daemon/src/register-routes.ts
  apps/agor-daemon/src/register-services.ts
  apps/agor-daemon/src/services/session-env-selections.ts
  apps/agor-daemon/src/services/sessions.ts
  apps/agor-daemon/src/services/users.ts
  apps/agor-daemon/src/utils/ensure-session-owner-or-admin.test.ts
  apps/agor-daemon/src/utils/worktree-authorization.ts
  apps/agor-ui/src/App.tsx
  apps/agor-ui/src/components/App/App.tsx
  apps/agor-ui/src/components/EnvVarEditor.tsx
  apps/agor-ui/src/components/ForkSpawnModal/ForkSpawnModal.tsx
  apps/agor-ui/src/components/NewSessionModal/NewSessionModal.tsx
  apps/agor-ui/src/components/SessionEnvVarsSelector/SessionEnvVarsSelector.tsx
  apps/agor-ui/src/components/SessionEnvVarsSelector/index.ts
  apps/agor-ui/src/components/SessionSettingsModal/SessionSettingsModal.tsx
  apps/agor-ui/src/components/SettingsModal/UserSettingsModal.tsx
  context/explorations/env-var-access.md
  packages/core/drizzle/postgres/0025_add_session_env_selections.sql
  packages/core/drizzle/postgres/meta/_journal.json
  packages/core/drizzle/sqlite/0036_add_session_env_selections.sql
  packages/core/drizzle/sqlite/meta/_journal.json
  packages/core/src/config/env-resolver.test.ts
  packages/core/src/config/env-resolver.ts
  packages/core/src/config/env-vars.ts
  packages/core/src/config/index.ts
  packages/core/src/db/repositories/index.ts
  packages/core/src/db/repositories/session-env-selections.test.ts
  packages/core/src/db/repositories/session-env-selections.ts
  packages/core/src/db/schema.postgres.ts
  packages/core/src/db/schema.sqlite.ts
  packages/core/src/db/schema.ts
  packages/core/src/types/session.ts
  packages/core/src/types/user.ts
Due: biome check --write --no-errors-on-unmatched --diagnostic-level=error, prettier --write

fix(core): annotate fetchRows return type for DTS build
  packages/core/src/db/repositories/session-env-selections.ts
Due: biome check --write --no-errors-on-unmatched --diagnostic-level=error, prettier --write

fix(ui): show stopped/unknown todo items when parent task is no longer running
  apps/agor-ui/src/components/StickyTodoRenderer/StickyTodoRenderer.tsx
  apps/agor-ui/src/components/TaskBlock/TaskBlock.tsx
  apps/agor-ui/src/components/ToolUseRenderer/renderers/TodoListRenderer.stories.tsx
  apps/agor-ui/src/components/ToolUseRenderer/renderers/TodoListRenderer.tsx
Due: biome check --write --no-errors-on-unmatched --diagnostic-level=error, prettier --write

fix(core,daemon): unbreak CI build + typecheck for env-var-access
  apps/agor-daemon/src/mcp/tools/messages.test.ts
  apps/agor-daemon/src/register-routes.ts
  apps/agor-daemon/src/services/sessions.ts
  apps/agor-daemon/src/utils/rbac-find-scoping.test.ts
  apps/agor-daemon/src/utils/worktree-authorization.ts
  apps/agor-ui/src/components/EnvVarEditor.tsx
  apps/agor-ui/src/components/SessionEnvVarsSelector/index.ts
  packages/core/src/config/env-resolver.test.ts
  packages/core/src/config/env-resolver.ts
  packages/core/src/config/index.ts
  packages/core/src/db/repositories/users.ts
Due: biome check --write --no-errors-on-unmatched --diagnostic-level=error, prettier --write

chore(ui): biome formatter fix in StickyTodoRenderer
  apps/agor-ui/src/components/StickyTodoRenderer/StickyTodoRenderer.tsx
Due: biome check --write --no-errors-on-unmatched --diagnostic-level=error, prettier --write

test(ui): add StickyTodoRenderer story matrix for taskStatus x in_progress
  apps/agor-ui/src/components/StickyTodoRenderer/StickyTodoRenderer.stories.tsx
Due: biome check --write --no-errors-on-unmatched --diagnostic-level=error, prettier --write

fix(ui): import v0.5 env var types from @agor-live/client
  apps/agor-ui/src/components/EnvVarEditor.tsx
  apps/agor-ui/src/components/SettingsModal/UserSettingsModal.tsx
Due: biome check --write --no-errors-on-unmatched --diagnostic-level=error, prettier --write

analysis: env-command security model review
  ANALYSIS.md
Due: prettier --write

analysis: lock PR scope, add addendum
  ANALYSIS.md
Due: prettier --write

feat(security): service-level role gate for env command triggers
  apps/agor-daemon/src/register-routes.ts
  apps/agor-daemon/src/services/worktrees.ts
  apps/agor-daemon/src/utils/authorization.test.ts
  apps/agor-daemon/src/utils/authorization.ts
  packages/core/src/config/types.ts
Due: biome check --write --no-errors-on-unmatched --diagnostic-level=error, prettier --write

fix(unix): shell-interpret env commands under impersonation with secrets
  packages/core/src/unix/environment-command-spawn.ts
  packages/core/src/unix/run-as-user.test.ts
  packages/core/src/unix/run-as-user.ts
Due: biome check --write --no-errors-on-unmatched --diagnostic-level=error, prettier --write

analysis: pivot — keep member-trigger as intended UX
  ANALYSIS.md
Due: prettier --write

feat(security): env-command deny-list + structured audit log on spawn
  apps/agor-daemon/src/services/worktrees.ts
  packages/core/src/unix/environment-command-deny-list.test.ts
  packages/core/src/unix/environment-command-deny-list.ts
  packages/core/src/unix/environment-command-spawn.ts
  packages/core/src/unix/index.ts
Due: biome check --write --no-errors-on-unmatched --diagnostic-level=error, prettier --write

chore: remove ANALYSIS.md scratchpad
  ANALYSIS.md
Due: prettier --write

feat(templates): {{host.ip_address}} template var with auto-detection + config override
  apps/agor-daemon/src/startup.ts
  packages/core/package.json
  packages/core/src/config/types.ts
  packages/core/src/environment/variable-resolver.ts
  packages/core/src/templates/handlebars-helpers.test.ts
  packages/core/src/templates/handlebars-helpers.ts
  packages/core/src/utils/host-ip.test.ts
  packages/core/src/utils/host-ip.ts
  packages/core/tsup.config.ts
  packages/executor/src/commands/git.ts
Due: biome check --write --no-errors-on-unmatched --diagnostic-level=error, prettier --write

fix(security): address Codex code review feedback on PR #1034
  apps/agor-daemon/src/register-routes.ts
  apps/agor-daemon/src/services/repos.ts
  packages/core/src/unix/environment-command-deny-list.test.ts
  packages/core/src/unix/environment-command-deny-list.ts
  packages/core/src/unix/environment-command-spawn.test.ts
  packages/core/src/unix/environment-command-spawn.ts
  packages/executor/src/commands/git.ts
Due: biome check --write --no-errors-on-unmatched --diagnostic-level=error, prettier --write

feat(ui): role-aware env command triggers (disabled + tooltip for non-members)
  apps/agor-daemon/src/register-routes.ts
  apps/agor-ui/src/components/WorktreeModal/tabs/EnvironmentTab.tsx
  apps/agor-ui/src/hooks/useAuthConfig.ts
Due: biome check --write --no-errors-on-unmatched --diagnostic-level=error, prettier --write

feat(repos): .agor.yml import/export operates on current worktree path
  apps/agor-daemon/src/declarations.ts
  apps/agor-daemon/src/register-routes.ts
  apps/agor-daemon/src/services/repos.ts
  apps/agor-ui/src/components/WorktreeModal/tabs/EnvironmentTab.tsx
Due: biome check --write --no-errors-on-unmatched --diagnostic-level=error, prettier --write

feat(config): top-level worktrees: section with create-time defaults
  apps/agor-daemon/src/services/worktrees.ts
  packages/core/src/config/types.ts
Due: biome check --write --no-errors-on-unmatched --diagnostic-level=error, prettier --write

fix(test): correct stale handlebars "invalid syntax" expectation
  packages/core/src/templates/handlebars-helpers.test.ts
Due: biome check --write --no-errors-on-unmatched --diagnostic-level=error, prettier --write

fix(core): migrate to UUIDv7 and plug null-safety holes in repositories
  packages/core/src/db/repositories/repos.ts
  packages/core/src/db/repositories/worktrees.ts
  packages/core/src/lib/ids.ts
Due: biome check --write --no-errors-on-unmatched --diagnostic-level=error, prettier --write

test: repair pre-existing rot in @agor/core and @agor/executor
  packages/core/src/config/config-manager.test.ts
  packages/core/src/db/client.test.ts
  packages/core/src/db/repositories/repos.test.ts
  packages/core/src/db/repositories/sessions.test.ts
  packages/core/src/db/repositories/worktrees.test.ts
  packages/core/src/db/scripts/test-integration.test.ts
  packages/core/src/db/test-helpers.ts
  packages/core/src/git/index.test.ts
  packages/core/src/unix/user-manager.test.ts
  packages/executor/src/sdk-handlers/gemini/permission-mapper.test.ts
Due: biome check --write --no-errors-on-unmatched --diagnostic-level=error, prettier --write

sec(daemon): authenticate terminal:* websocket events
  apps/agor-daemon/src/index.ts
  apps/agor-daemon/src/setup/socketio.test.ts
  apps/agor-daemon/src/setup/socketio.ts
Due: biome check --write --no-errors-on-unmatched --diagnostic-level=error, prettier --write

sec(sessions): default to caller-as-owner on spawn/fork; gate legacy behavior behind dangerously_allow_session_sharing
  AGENTS.md
  apps/agor-daemon/src/services/sessions.ts
  apps/agor-daemon/src/utils/determine-spawn-identity.test.ts
  apps/agor-daemon/src/utils/worktree-authorization.ts
  apps/agor-ui/src/components/WorktreeModal/components/OwnersSection.tsx
  context/explorations/session-sharing.md
  packages/core/src/db/repositories/worktrees.ts
  packages/core/src/db/schema.postgres.ts
  packages/core/src/db/schema.sqlite.ts
  packages/core/src/types/worktree.ts
Due: biome check --write --no-errors-on-unmatched --diagnostic-level=error, prettier --write

sec(sessions): loosen determineSpawnIdentity types to satisfy typecheck
  apps/agor-daemon/src/utils/worktree-authorization.ts
Due: biome check --write --no-errors-on-unmatched --diagnostic-level=error, prettier --write

sec(mcp): add jti/exp + revocation ledger to MCP tokens
  AGENTS.md
  apps/agor-daemon/src/mcp/tokens.test.ts
  apps/agor-daemon/src/mcp/tokens.ts
  apps/agor-daemon/src/register-hooks.ts
  apps/agor-daemon/src/register-routes.ts
  apps/agor-daemon/src/register-services.ts
  apps/agor-docs/pages/guide/internal-mcp.mdx
  context/concepts/auth.md
  packages/core/drizzle/postgres/0026_add_mcp_token_revocations.sql
  packages/core/drizzle/postgres/meta/_journal.json
  packages/core/drizzle/sqlite/0037_add_mcp_token_revocations.sql
  packages/core/drizzle/sqlite/meta/_journal.json
  packages/core/src/config/types.ts
  packages/core/src/db/schema.postgres.ts
  packages/core/src/db/schema.sqlite.ts
  packages/core/src/db/schema.ts
Due: biome check --write --no-errors-on-unmatched --diagnostic-level=error, prettier --write

sec(sessions): address Codex review on PR #1037
  apps/agor-daemon/src/services/sessions.ts
  apps/agor-daemon/src/utils/determine-spawn-identity.test.ts
  apps/agor-daemon/src/utils/worktree-authorization.ts
  context/explorations/session-sharing.md
Due: biome check --write --no-errors-on-unmatched --diagnostic-level=error, prettier --write

sec(daemon): fix service-socket detection for post-connect auth
  apps/agor-daemon/src/setup/socketio.test.ts
  apps/agor-daemon/src/setup/socketio.ts
Due: biome check --write --no-errors-on-unmatched --diagnostic-level=error, prettier --write

sec(create-hooks): unconditionally overwrite created_by on external calls
  apps/agor-daemon/src/register-hooks.ts
  apps/agor-daemon/src/register-routes.ts
  apps/agor-daemon/src/utils/inject-created-by.test.ts
  apps/agor-daemon/src/utils/inject-created-by.ts
Due: biome check --write --no-errors-on-unmatched --diagnostic-level=error, prettier --write

refactor(mcp-tokens): address Codex review — move DB to core repos, kill dialect branching
  apps/agor-daemon/src/mcp/tokens.test.ts
  apps/agor-daemon/src/mcp/tokens.ts
  apps/agor-daemon/src/register-hooks.ts
  apps/agor-daemon/src/register-routes.ts
  packages/core/src/db/database-wrapper.ts
  packages/core/src/db/index.ts
  packages/core/src/db/repositories/index.ts
  packages/core/src/db/repositories/mcp-token-revocations.ts
  packages/core/src/db/repositories/sessions.ts
  packages/core/src/types/mcp.ts
Due: biome check --write --no-errors-on-unmatched --diagnostic-level=error, prettier --write

refactor(mcp-tokens): drop per-jti revocation ledger, keep gen-based bulk revoke
  apps/agor-daemon/src/mcp/tokens.test.ts
  apps/agor-daemon/src/mcp/tokens.ts
  apps/agor-daemon/src/register-hooks.ts
  apps/agor-daemon/src/register-routes.ts
  apps/agor-daemon/src/register-services.ts
  apps/agor-docs/pages/guide/internal-mcp.mdx
  context/concepts/auth.md
  packages/core/drizzle/postgres/0026_add_mcp_token_generation.sql
  packages/core/drizzle/postgres/0026_add_mcp_token_revocations.sql
  packages/core/drizzle/postgres/meta/_journal.json
  packages/core/drizzle/sqlite/0037_add_mcp_token_generation.sql
  packages/core/drizzle/sqlite/0037_add_mcp_token_revocations.sql
  packages/core/drizzle/sqlite/meta/_journal.json
  packages/core/src/db/repositories/index.ts
  packages/core/src/db/repositories/mcp-token-revocations.ts
  packages/core/src/db/schema.postgres.ts
  packages/core/src/db/schema.sqlite.ts
  packages/core/src/db/schema.ts
  packages/core/src/types/mcp.ts
Due: biome check --write --no-errors-on-unmatched --diagnostic-level=error, prettier --write

design: env command variants & override layering (analysis)
  docs/designs/env-command-variants.md
Due: prettier --write

refactor(mcp-tokens): drop mcp_token_generation column + all revocation mechanics
  AGENTS.md
  apps/agor-daemon/src/mcp/tokens.test.ts
  apps/agor-daemon/src/mcp/tokens.ts
  apps/agor-daemon/src/register-hooks.ts
  apps/agor-docs/pages/guide/internal-mcp.mdx
  context/concepts/auth.md
  packages/core/drizzle/postgres/0026_add_mcp_token_generation.sql
  packages/core/drizzle/postgres/meta/_journal.json
  packages/core/drizzle/sqlite/0037_add_mcp_token_generation.sql
  packages/core/drizzle/sqlite/meta/_journal.json
  packages/core/src/config/types.ts
  packages/core/src/db/repositories/sessions.ts
  packages/core/src/db/schema.postgres.ts
  packages/core/src/db/schema.sqlite.ts
Due: biome check --write --no-errors-on-unmatched --diagnostic-level=error, prettier --write

design: simplify — YAML editors, template_overrides, no extends
  docs/designs/env-command-variants.md
Due: prettier --write

design: single-level extends + tighten member/admin permissions
  docs/designs/env-command-variants.md
Due: prettier --write

design: resolve remaining open questions
  docs/designs/env-command-variants.md
Due: prettier --write

docs: rewrite environment-configuration guide for named variants
  apps/agor-docs/pages/guide/environment-configuration.mdx
Due: none

feat(types,db): add v2 environment variants + worktree.environment_variant
  packages/core/drizzle/postgres/0026_env_command_variants.sql
  packages/core/drizzle/postgres/meta/_journal.json
  packages/core/drizzle/sqlite/0037_env_command_variants.sql
  packages/core/drizzle/sqlite/meta/_journal.json
  packages/core/src/db/schema.postgres.ts
  packages/core/src/db/schema.sqlite.ts
  packages/core/src/types/repo.ts
  packages/core/src/types/worktree.ts
Due: biome check --write --no-errors-on-unmatched --diagnostic-level=error, prettier --write

feat(db): keep v1 environment_config view in sync with v2 environment
  packages/core/src/db/repositories/repos.ts
  packages/core/src/db/repositories/worktrees.ts
Due: biome check --write --no-errors-on-unmatched --diagnostic-level=error, prettier --write

feat(agor-yml): parse v2 variants with single-level extends validation
  packages/core/src/config/agor-yml.test.ts
  packages/core/src/config/agor-yml.ts
Due: biome check --write --no-errors-on-unmatched --diagnostic-level=error, prettier --write
