Repository preset-io/agor: changes, and which lint-staged commands are due for each by the changed paths.
All: biome check --write --no-errors-on-unmatched --diagnostic-level=error, prettier --write

fix(ui): stop session panel from jumping scroll position during streaming
  apps/agor-ui/src/components/ConversationView/ConversationView.tsx
  apps/agor-ui/src/components/SessionPanel/SessionPanel.tsx
Due: biome check --write --no-errors-on-unmatched --diagnostic-level=error, prettier --write

fix(gateway): canonicalize session links for Slack
  apps/agor-daemon/src/services/gateway.ts
  packages/core/src/gateway/index.ts
  packages/core/src/gateway/system-message.test.ts
  packages/core/src/gateway/system-message.ts
Due: biome check --write --no-errors-on-unmatched --diagnostic-level=error, prettier --write

fix(lint): move biome-ignore comment to correct position before useEffect
  apps/agor-ui/src/components/SessionPanel/SessionPanel.tsx
Due: biome check --write --no-errors-on-unmatched --diagnostic-level=error, prettier --write

fix: address chime double-trigger at the source, not in the UI
  apps/agor-daemon/src/adapters/drizzle.ts
  apps/agor-ui/src/hooks/useTaskCompletionChime.test.tsx
  apps/agor-ui/src/hooks/useTaskCompletionChime.ts
  packages/executor/src/index.ts
Due: biome check --write --no-errors-on-unmatched --diagnostic-level=error, prettier --write

feat(docs): promote Agor Cloud invite CTA in navbar
  apps/agor-docs/components/NavbarCloudCTA.module.css
  apps/agor-docs/components/NavbarCloudCTA.tsx
  apps/agor-docs/components/index.ts
  apps/agor-docs/lib/links.ts
  apps/agor-docs/theme.config.tsx
Due: biome check --write --no-errors-on-unmatched --diagnostic-level=error, prettier --write

Refresh Claude Code and Codex dependencies
  apps/agor-daemon/package.json
  apps/agor-docs/pages/guide/message-gateway.mdx
  apps/agor-docs/pages/guide/rich-chat-ux.mdx
  docker/Dockerfile
  packages/agor-live/package-lock.json
  packages/agor-live/package.json
  packages/core/package.json
  packages/core/src/claude-cli/event-types.ts
  packages/core/src/claude-cli/path-utils.ts
  packages/core/src/claude-cli/spawn-config.ts
  packages/core/src/models/claude.ts
  packages/core/src/models/codex.ts
  packages/core/src/models/resolve-config.test.ts
  packages/core/src/sessions/resolve-child-session-config.test.ts
  packages/executor/src/sdk-handlers/codex/models.test.ts
  pnpm-lock.yaml
Due: biome check --write --no-errors-on-unmatched --diagnostic-level=error, prettier --write

fix(docs): pin pnpm@9.15.1 in agor-docs so corepack matches Node 20
  apps/agor-docs/package.json
Due: prettier --write

fix(auth): gate trusted launch email linking
  apps/agor-daemon/src/auth/launch-auth.test.ts
  apps/agor-daemon/src/auth/launch-auth.ts
  packages/core/src/config/types.ts
Due: biome check --write --no-errors-on-unmatched --diagnostic-level=error, prettier --write

refactor(docs): navbar links to Agor Cloud post; refresh post + CTAs
  apps/agor-docs/components/CloudInviteCTA.module.css
  apps/agor-docs/components/CloudInviteCTA.tsx
  apps/agor-docs/components/NavbarCloudCTA.module.css
  apps/agor-docs/components/NavbarCloudCTA.tsx
  apps/agor-docs/components/index.ts
  apps/agor-docs/pages/blog/agor-cloud.mdx
Due: biome check --write --no-errors-on-unmatched --diagnostic-level=error, prettier --write

docs(agor-cloud): rewrite around BYOK + managed-ops thesis
  apps/agor-docs/pages/blog/agor-cloud.mdx
Due: none

docs(agor-cloud): lead managed-ops section with "writers run it best"
  apps/agor-docs/pages/blog/agor-cloud.mdx
Due: none

docs(agor-cloud): scope shared-dev-box pitch to MPC, not default Cloud
  apps/agor-docs/pages/blog/agor-cloud.mdx
Due: none

docs(agor-cloud): add 'Hardened for the Public Internet' section
  apps/agor-docs/pages/blog/agor-cloud.mdx
Due: none

feat(docs): Agor Cloud nav CTA — left-of-search, gradient pill, pulse
  apps/agor-docs/components/NavbarCloudCTA.module.css
  apps/agor-docs/components/NavbarCloudCTA.tsx
  apps/agor-docs/pages/styles.css
Due: biome check --write --no-errors-on-unmatched --diagnostic-level=error, prettier --write

fix(docs): tighten Agor Cloud nav pill — narrow gradient, glassy depth
  apps/agor-docs/components/NavbarCloudCTA.module.css
Due: none

feat(docs): add Book a Demo as secondary CTA on Agor Cloud post
  apps/agor-docs/components/CloudInviteCTA.module.css
  apps/agor-docs/components/CloudInviteCTA.tsx
  apps/agor-docs/lib/links.ts
Due: biome check --write --no-errors-on-unmatched --diagnostic-level=error, prettier --write

fix(docs): point Book a Demo CTA at preset.io/contact-us-about-agor
  apps/agor-docs/components/CloudInviteCTA.tsx
  apps/agor-docs/lib/links.ts
Due: biome check --write --no-errors-on-unmatched --diagnostic-level=error, prettier --write

test+fix: tighten executor terminal-guard, lock event-emit contracts
  apps/agor-daemon/src/adapters/drizzle.test.ts
  packages/executor/src/index.test.ts
  packages/executor/src/index.ts
Due: biome check --write --no-errors-on-unmatched --diagnostic-level=error, prettier --write

refactor: extract terminal-task helpers to own module, soften chime comments
  apps/agor-ui/src/hooks/useTaskCompletionChime.ts
  packages/executor/src/index.ts
  packages/executor/src/terminal-task.test.ts
  packages/executor/src/terminal-task.ts
Due: biome check --write --no-errors-on-unmatched --diagnostic-level=error, prettier --write

docs: keep npm primary and fix docs env startup
  README.md
  apps/agor-docs/Dockerfile
  apps/agor-docs/pages/guide/extended-install.mdx
  apps/agor-docs/pages/guide/getting-started.mdx
  apps/agor-docs/pages/guide/index.mdx
  packages/agor-live/README.md
Due: prettier --write

docs: keep npm primary and fix docs env startup
  README.md
  apps/agor-docs/Dockerfile
  apps/agor-docs/components/InstallTabs.mdx
  apps/agor-docs/pages/guide/extended-install.mdx
  apps/agor-docs/pages/guide/getting-started.mdx
  apps/agor-docs/pages/guide/index.mdx
  packages/agor-live/README.md
Due: prettier --write

Estimate Codex API cost when pricing is known
  apps/agor-ui/src/components/SessionPanel/SessionPanel.tsx
  apps/agor-ui/src/components/TaskBlock/TaskBlock.tsx
  packages/core/package.json
  packages/core/src/models/index.ts
  packages/core/src/models/pricing.test.ts
  packages/core/src/models/pricing.ts
  packages/executor/src/handlers/sdk/base-executor.ts
  packages/executor/src/sdk-handlers/base/normalizer.interface.ts
  packages/executor/src/sdk-handlers/codex/models.ts
  packages/executor/src/sdk-handlers/codex/normalizer.test.ts
  packages/executor/src/sdk-handlers/codex/normalizer.ts
  packages/executor/src/sdk-handlers/normalizer-factory.ts
Due: biome check --write --no-errors-on-unmatched --diagnostic-level=error, prettier --write

chore(deps): bump next to 15.5.18 (security backports) instead of 16
  .github/dependabot.yml
  apps/agor-docs/package.json
  pnpm-lock.yaml
Due: prettier --write

Use ccusage CLI for Codex cost estimates
  packages/core/package.json
  packages/core/src/models/index.ts
  packages/core/src/models/pricing.test.ts
  packages/core/src/models/pricing.ts
  packages/executor/package.json
  packages/executor/src/handlers/sdk/base-executor.ts
  packages/executor/src/sdk-handlers/codex/ccusage.test.ts
  packages/executor/src/sdk-handlers/codex/ccusage.ts
  packages/executor/src/sdk-handlers/codex/normalizer.test.ts
  packages/executor/src/sdk-handlers/codex/normalizer.ts
  packages/executor/src/sdk-handlers/normalizer-factory.ts
  packages/executor/vitest.config.ts
  pnpm-lock.yaml
Due: biome check --write --no-errors-on-unmatched --diagnostic-level=error, prettier --write

Fix Codex model subpath build export
  apps/agor-ui/src/components/SessionPanel/SessionPanel.tsx
  packages/core/tsup.config.ts
Due: biome check --write --no-errors-on-unmatched --diagnostic-level=error, prettier --write

docs(agor-cloud): point Join the Private Beta CTA at HubSpot meetings link
  apps/agor-docs/lib/links.ts
Due: biome check --write --no-errors-on-unmatched --diagnostic-level=error, prettier --write

docs(agor-cloud): swap Book a Demo CTA instead of Join the Beta
  apps/agor-docs/lib/links.ts
Due: biome check --write --no-errors-on-unmatched --diagnostic-level=error, prettier --write

docs(agor-cloud): use Preset landing page for sign-up, HubSpot for demo
  apps/agor-docs/lib/links.ts
Due: biome check --write --no-errors-on-unmatched --diagnostic-level=error, prettier --write

chore(mcp): genericize embedding-host references
  packages/core/src/mcp/template-resolver.test.ts
  packages/core/src/mcp/template-resolver.ts
  packages/executor/src/sdk-handlers/base/mcp-scoping.ts
Due: biome check --write --no-errors-on-unmatched --diagnostic-level=error, prettier --write

feat(mcp): thread session.custom_context into MCP template resolver
  packages/core/src/mcp/index.ts
  packages/core/src/mcp/template-resolver.test.ts
  packages/core/src/mcp/template-resolver.ts
  packages/executor/src/sdk-handlers/base/mcp-scoping.ts
Due: biome check --write --no-errors-on-unmatched --diagnostic-level=error, prettier --write

Optimize collaborative cursor rendering
  apps/agor-ui/src/components/App/App.tsx
  apps/agor-ui/src/components/AppHeader/AppHeader.tsx
  apps/agor-ui/src/components/AppHeader/GlobalPresenceFacepile.tsx
  apps/agor-ui/src/components/SessionCanvas/SessionCanvas.tsx
  apps/agor-ui/src/components/SessionCanvas/SessionCanvas.zoom.test.tsx
  apps/agor-ui/src/components/SessionCanvas/canvas/CursorNode.tsx
  apps/agor-ui/src/components/SessionCanvas/canvas/RemoteCursorLayer.tsx
  apps/agor-ui/src/config/presence.ts
  apps/agor-ui/src/hooks/usePresence.test.tsx
  apps/agor-ui/src/hooks/usePresence.ts
Due: biome check --write --no-errors-on-unmatched --diagnostic-level=error, prettier --write

Scope presence broadcasts and pin event stream gating
  apps/agor-daemon/src/setup/socketio.test.ts
  apps/agor-daemon/src/setup/socketio.ts
  apps/agor-ui/src/components/SessionCanvas/canvas/RemoteCursorLayer.tsx
  apps/agor-ui/src/hooks/useBoardPresenceRoom.test.tsx
  apps/agor-ui/src/hooks/useBoardPresenceRoom.ts
  apps/agor-ui/src/hooks/useEventStream.test.tsx
  apps/agor-ui/src/hooks/useEventStream.ts
  apps/agor-ui/src/hooks/usePresence.test.tsx
  apps/agor-ui/src/hooks/usePresence.ts
  packages/core/src/types/presence.ts
Due: biome check --write --no-errors-on-unmatched --diagnostic-level=error, prettier --write

Redesign board assistant panel
  apps/agor-daemon/src/declarations.ts
  apps/agor-daemon/src/register-hooks.ts
  apps/agor-daemon/src/register-services.ts
  apps/agor-daemon/src/services/boards.ts
  apps/agor-daemon/src/services/branches.ts
  apps/agor-ui/src/components/App/App.tsx
  apps/agor-ui/src/components/AppHeader/AppHeader.tsx
  apps/agor-ui/src/components/AutocompleteTextarea/AutocompleteTextarea.tsx
  apps/agor-ui/src/components/BoardAssistantPanel/BoardAssistantPanel.tsx
  apps/agor-ui/src/components/BoardAssistantPanel/index.ts
  apps/agor-ui/src/components/BranchCard/BranchCard.tsx
  apps/agor-ui/src/components/BranchCard/BranchSessionSections.tsx
  apps/agor-ui/src/components/BranchCard/index.ts
  apps/agor-ui/src/components/BranchHeaderPill/BranchHeaderPill.tsx
  apps/agor-ui/src/components/BranchListDrawer/BranchListDrawer.tsx
  apps/agor-ui/src/components/BranchListDrawer/index.ts
  apps/agor-ui/src/components/OnboardingWizard/OnboardingWizard.tsx
  apps/agor-ui/src/components/SessionCanvas/SessionCanvas.tsx
  apps/agor-ui/src/components/SessionCanvas/canvas/MarkdownNode.tsx
  apps/agor-ui/src/components/SessionCanvas/canvas/useBoardObjects.ts
  apps/agor-ui/src/components/SessionPanel/SessionPanel.tsx
  apps/agor-ui/src/components/ThemeSwitcher/ThemeSwitcher.tsx
  apps/agor-ui/src/components/forms/AssistantFormFields.tsx
  apps/agor-ui/src/index.css
  apps/agor-ui/src/utils/assistantCreation.test.ts
  apps/agor-ui/src/utils/assistantCreation.ts
  apps/agor-ui/src/utils/assistantWelcomeNote.ts
  packages/core/drizzle/postgres/0038_primary_assistant_id.sql
  packages/core/drizzle/postgres/meta/_journal.json
  packages/core/drizzle/sqlite/0047_primary_assistant_id.sql
  packages/core/drizzle/sqlite/meta/_journal.json
  packages/core/src/api/index.ts
  packages/core/src/db/repositories/boards.ts
  packages/core/src/db/schema.postgres.ts
  packages/core/src/db/schema.sqlite.ts
  packages/core/src/types/board.ts
Due: biome check --write --no-errors-on-unmatched --diagnostic-level=error, prettier --write

Make assistant the default create path
  apps/agor-ui/src/components/App/App.tsx
  apps/agor-ui/src/components/CreateDialog/CreateDialog.test.tsx
  apps/agor-ui/src/components/CreateDialog/CreateDialog.tsx
Due: biome check --write --no-errors-on-unmatched --diagnostic-level=error, prettier --write

Harden board presence room rejoin
  apps/agor-ui/src/components/SessionCanvas/SessionCanvas.tsx
  apps/agor-ui/src/hooks/useBoardPresenceRoom.test.tsx
  apps/agor-ui/src/hooks/useBoardPresenceRoom.ts
Due: biome check --write --no-errors-on-unmatched --diagnostic-level=error, prettier --write

Tighten primary assistant invariants
  apps/agor-daemon/src/services/branches.ts
  apps/agor-ui/src/components/App/App.tsx
  apps/agor-ui/src/components/BoardAssistantPanel/BoardAssistantPanel.tsx
  apps/agor-ui/src/components/CreateDialog/CreateDialog.test.tsx
  apps/agor-ui/src/components/CreateDialog/CreateDialog.tsx
  apps/agor-ui/src/components/CreateDialog/tabs/AssistantTab.tsx
  apps/agor-ui/src/components/SettingsModal/AssistantsTable.tsx
  apps/agor-ui/src/components/forms/AssistantFormFields.tsx
  apps/agor-ui/src/utils/assistantConstants.ts
  apps/agor-ui/src/utils/assistantCreation.ts
  packages/core/drizzle/postgres/0038_primary_assistant_id.sql
  packages/core/drizzle/sqlite/0047_primary_assistant_id.sql
  packages/core/src/db/repositories/boards.test.ts
  packages/core/src/db/repositories/boards.ts
  packages/core/src/types/board.ts
Due: biome check --write --no-errors-on-unmatched --diagnostic-level=error, prettier --write

Close primary assistant edge cases
  apps/agor-daemon/src/services/branches.test.ts
  apps/agor-daemon/src/services/branches.ts
  packages/core/src/db/repositories/boards.test.ts
  packages/core/src/db/repositories/boards.ts
Due: biome check --write --no-errors-on-unmatched --diagnostic-level=error, prettier --write

Suppress left panel during onboarding
  apps/agor-ui/src/App.tsx
  apps/agor-ui/src/components/App/App.tsx
Due: biome check --write --no-errors-on-unmatched --diagnostic-level=error, prettier --write

Tune assistant panel width and pill density
  apps/agor-ui/src/components/App/App.tsx
  apps/agor-ui/src/components/BoardAssistantPanel/BoardAssistantPanel.tsx
  apps/agor-ui/src/components/BranchHeaderPill/BranchHeaderPill.tsx
Due: biome check --write --no-errors-on-unmatched --diagnostic-level=error, prettier --write

Reduce default assistant panel width
  apps/agor-ui/src/components/App/App.tsx
Due: biome check --write --no-errors-on-unmatched --diagnostic-level=error, prettier --write

Path conditions:
  biome check --write --no-errors-on-unmatched --diagnostic-level=error: any of: *.{ts,tsx,js,jsx,mjs,cjs}
  prettier --write: (any of: *.{ts,tsx,js,jsx,mjs,cjs}) or (any of: *.{json,md,yaml,yml})
