Repository preset-io/agor: changes, and which lint-staged commands are due for each by the changed paths.
All: biome check --write --no-errors-on-unmatched --diagnostic-level=error, prettier --write

chore(brew): bump formula to 0.23.3
  Formula/agor-live.rb
Due: none

feat(opencode): ship the Agor system prompt on every turn
  packages/agentic-tool-opencode/src/runtime/opencode-tool.test.ts
  packages/agentic-tool-opencode/src/runtime/opencode-tool.ts
  packages/core/src/templates/agor-system-prompt.md
  packages/core/src/templates/session-context.test.ts
Due: biome check --write --no-errors-on-unmatched --diagnostic-level=error, prettier --write

fix(knowledge): back off unclaimable embedding work
  apps/agor-daemon/src/services/knowledge-embedding-batch-processor.test.ts
  apps/agor-daemon/src/services/knowledge-embedding-batch-processor.ts
  apps/agor-daemon/src/services/knowledge-embedding-indexer.test.ts
  apps/agor-daemon/src/services/knowledge-embedding-indexer.ts
Due: biome check --write --no-errors-on-unmatched --diagnostic-level=error, prettier --write

feat(knowledge): coordinate embedding indexing across daemons
  apps/agor-daemon/src/knowledge/embeddings.test.ts
  apps/agor-daemon/src/knowledge/embeddings.ts
  apps/agor-daemon/src/services/knowledge-embedding-batch-processor.ts
  apps/agor-daemon/src/services/knowledge-embedding-indexer.test.ts
  apps/agor-daemon/src/services/knowledge-embedding-indexer.ts
  apps/agor-daemon/src/services/knowledge-embedding-reuse.ts
  apps/agor-daemon/src/services/knowledge-indexing.ts
  apps/agor-daemon/src/services/knowledge-settings.ts
  apps/agor-daemon/src/services/knowledge.test.ts
  apps/agor-daemon/src/startup.ts
  docs/internal/knowledge-embedding-indexer-ha-2026-08-07.md
  packages/core/drizzle/postgres/0074_knowledge_embedding_claims.sql
  packages/core/drizzle/postgres/meta/_journal.json
  packages/core/drizzle/sqlite/0077_knowledge_embedding_claims.sql
  packages/core/drizzle/sqlite/meta/_journal.json
  packages/core/src/db/knowledge-embedding-ha.postgres.test.ts
  packages/core/src/db/multitenancy-schema.test.ts
  packages/core/src/db/repositories/index.ts
  packages/core/src/db/repositories/knowledge-embedding-work.ts
  packages/core/src/db/repositories/knowledge.ts
  packages/core/src/db/schema.postgres.ts
  packages/core/src/db/schema.sqlite.ts
  packages/core/src/db/tenant-context.ts
Due: biome check --write --no-errors-on-unmatched --diagnostic-level=error, prettier --write

fix(knowledge): paginate embedding discovery fairly
  apps/agor-daemon/src/services/knowledge-embedding-indexer.test.ts
  apps/agor-daemon/src/services/knowledge-embedding-indexer.ts
  packages/core/src/db/knowledge-embedding-ha.postgres.test.ts
  packages/core/src/db/repositories/knowledge-embedding-work.ts
Due: biome check --write --no-errors-on-unmatched --diagnostic-level=error, prettier --write

perf(core): render the Agor system prompt once per process
  packages/core/src/templates/session-context.ts
Due: biome check --write --no-errors-on-unmatched --diagnostic-level=error, prettier --write

fix(knowledge): complete indexer HA readiness
  apps/agor-cli/src/commands/db/migrate.ts
  apps/agor-cli/src/lib/offline-migration-cutover.test.ts
  apps/agor-cli/src/lib/offline-migration-cutover.ts
  apps/agor-daemon/src/knowledge/embeddings.test.ts
  apps/agor-daemon/src/knowledge/embeddings.ts
  apps/agor-daemon/src/services/knowledge-embedding-batch-processor.test.ts
  apps/agor-daemon/src/services/knowledge-embedding-batch-processor.ts
  apps/agor-daemon/src/services/knowledge-embedding-indexer.postgres.test.ts
  apps/agor-daemon/src/services/knowledge-embedding-indexer.test.ts
  apps/agor-daemon/src/services/knowledge-embedding-indexer.ts
  apps/agor-daemon/src/services/knowledge-embedding-reuse.ts
  apps/agor-daemon/src/services/knowledge-indexing.ts
  apps/agor-daemon/src/startup.ts
  apps/agor-docs/content/guide/extended-install.mdx
  apps/agor-docs/content/guide/knowledge.mdx
  context/guidelines/testing.md
  context/guides/creating-database-migrations.md
  docs/internal/knowledge-embedding-indexer-ha-2026-08-07.md
  package.json
  packages/core/drizzle/postgres/0074_knowledge_embedding_claims.sql
  packages/core/drizzle/sqlite/0077_knowledge_embedding_claims.sql
  packages/core/src/db/knowledge-embedding-ha.postgres.test.ts
  packages/core/src/db/knowledge-embedding-migration.postgres.test.ts
  packages/core/src/db/migrate.ts
  packages/core/src/db/migrations.test.ts
  packages/core/src/db/multitenancy-schema.test.ts
  packages/core/src/db/repositories/knowledge-embedding-work.ts
  packages/core/src/db/schema.postgres.ts
  packages/core/src/db/schema.sqlite.ts
  pnpm-lock.yaml
  scripts/run-postgres-integration-tests.mjs
  scripts/test-postgres-docker.sh
  scripts/test-postgres-runner-interruption.mjs
  turbo.json
Due: biome check --write --no-errors-on-unmatched --diagnostic-level=error, prettier --write

fix(build): ship the daemon .build-info in the published package
  packages/agor-live/build.sh
Due: none

feat(cli): add `agor install --restore` and `--prune`
  apps/agor-cli/src/commands/install.test.ts
  apps/agor-cli/src/commands/install.ts
  apps/agor-cli/src/lib/agentic-tool-integrations.test.ts
  apps/agor-cli/src/lib/agentic-tool-integrations.ts
  apps/agor-docs/content/guide/extended-install.mdx
Due: biome check --write --no-errors-on-unmatched --diagnostic-level=error, prettier --write

fix(docs): pair First/Last name on one row, Email on its own
  apps/agor-docs/components/HubSpotForm.tsx
Due: biome check --write --no-errors-on-unmatched --diagnostic-level=error, prettier --write

fix(ui): keep the session model chip inside its own border
  apps/agor-ui/src/components/SessionPanel/SessionFooter.test.tsx
  apps/agor-ui/src/components/SessionPanel/SessionFooter.tsx
  apps/agor-ui/src/components/Tag/Tag.test.tsx
  apps/agor-ui/src/components/Tag/Tag.tsx
Due: biome check --write --no-errors-on-unmatched --diagnostic-level=error, prettier --write

docs: lead the upgrade path with explicit tool names
  apps/agor-docs/content/guide/extended-install.mdx
Due: none

fix: publish agentic tool wrappers under the @agor-live scope
  apps/agor-cli/src/lib/agentic-tool-diagnostics.test.ts
  apps/agor-cli/src/lib/agentic-tool-integrations.test.ts
  apps/agor-docs/content/guide/extended-install.mdx
  packages/agor-claude/package.json
  packages/agor-codex/package.json
  packages/agor-copilot/package.json
  packages/agor-cursor/package.json
  packages/agor-gemini/package.json
  packages/agor-opencode/package.json
  packages/core/src/agentic-integrations.test.ts
  packages/core/src/agentic-integrations.ts
  packages/executor/package.json
  scripts/check-agentic-tool-packages.mjs
Due: biome check --write --no-errors-on-unmatched --diagnostic-level=error, prettier --write

fix(executor): pass the managed agentic tool runtime to sessions
  packages/core/src/config/env-resolver.test.ts
  packages/core/src/config/env-resolver.ts
Due: biome check --write --no-errors-on-unmatched --diagnostic-level=error, prettier --write

chore(release): 0.24.1
  packages/agor-claude/package.json
  packages/agor-claude/src/index.ts
  packages/agor-codex/package.json
  packages/agor-codex/src/index.ts
  packages/agor-copilot/package.json
  packages/agor-copilot/src/index.ts
  packages/agor-cursor/package.json
  packages/agor-cursor/src/index.ts
  packages/agor-gemini/package.json
  packages/agor-gemini/src/index.ts
  packages/agor-live/package.json
  packages/agor-opencode/package.json
  packages/agor-opencode/src/index.ts
  packages/client/package.json
Due: biome check --write --no-errors-on-unmatched --diagnostic-level=error, prettier --write

chore(brew): bump formula to 0.24.1
  Formula/agor-live.rb
Due: none

fix(docs): swap mobile carousel scroll-jack for native side-swipe
  apps/agor-docs/components/LandingPage.module.css
  apps/agor-docs/components/LandingPage.tsx
Due: biome check --write --no-errors-on-unmatched --diagnostic-level=error, prettier --write

refactor(config): make config.yaml immutable after init
  AGENTS.md
  CHANGELOG.md
  apps/agor-cli/src/base-command.ts
  apps/agor-cli/src/commands/config/get.ts
  apps/agor-cli/src/commands/config/index.ts
  apps/agor-cli/src/commands/config/set.ts
  apps/agor-cli/src/commands/config/unset.ts
  apps/agor-cli/src/commands/init.ts
  apps/agor-cli/src/commands/telemetry/index.ts
  apps/agor-cli/src/commands/telemetry/test.ts
  apps/agor-daemon/src/config-immutability.contract.test.ts
  apps/agor-daemon/src/index.ts
  apps/agor-daemon/src/services/config.ts
  apps/agor-daemon/src/services/knowledge.test.ts
  apps/agor-daemon/src/setup/persisted-secret.test.ts
  apps/agor-daemon/src/setup/persisted-secret.ts
  apps/agor-daemon/src/startup.ts
  apps/agor-daemon/src/utils/open-source-telemetry-usage.ts
  apps/agor-daemon/test/phase5-integration.test.mjs
  apps/agor-docs/content/faq.mdx
  apps/agor-docs/content/guide/config-yaml.mdx
  apps/agor-docs/lib/docsNavigation.ts
  apps/agor-docs/lib/faqSchema.ts
  context/guides/rbac-and-unix-isolation.md
  docker-compose.yml
  docker/docker-entrypoint-prod.sh
  docker/docker-entrypoint.sh
  docs/internal/config-yaml-mutation-inventory-2026-08-08.md
  packages/core/src/config/config-manager.test.ts
  packages/core/src/config/config-manager.ts
  scripts/daemon-filesystem-exceptions.json
Due: biome check --write --no-errors-on-unmatched --diagnostic-level=error, prettier --write

feat(config): strictly align agentic tool packages
  CHANGELOG.md
  apps/agor-cli/src/commands/agentic-tools/index.ts
  apps/agor-cli/src/commands/init.ts
  apps/agor-cli/src/commands/install.test.ts
  apps/agor-cli/src/commands/install.ts
  apps/agor-cli/src/lib/agentic-tool-diagnostics.test.ts
  apps/agor-cli/src/lib/agentic-tool-diagnostics.ts
  apps/agor-cli/src/lib/agentic-tool-integrations.test.ts
  apps/agor-cli/src/lib/agentic-tool-integrations.ts
  apps/agor-daemon/src/index.ts
  apps/agor-daemon/src/register-services.ts
  apps/agor-daemon/src/services/sessions.ts
  apps/agor-daemon/src/services/tenant-agentic-tools.deployment-boundary.test.ts
  apps/agor-daemon/src/services/tenant-agentic-tools.ts
  apps/agor-daemon/src/setup/agentic-tool-alignment.test.ts
  apps/agor-daemon/src/setup/agentic-tool-alignment.ts
  apps/agor-docs/content/guide/config-yaml.mdx
  apps/agor-docs/content/guide/extended-install.mdx
  packages/agor-claude/package.json
  packages/agor-claude/src/index.ts
  packages/agor-codex/package.json
  packages/agor-codex/src/index.ts
  packages/agor-copilot/package.json
  packages/agor-copilot/src/index.ts
  packages/agor-cursor/package.json
  packages/agor-cursor/src/index.ts
  packages/agor-gemini/package.json
  packages/agor-gemini/src/index.ts
  packages/agor-live/package-lock.json
  packages/agor-live/package.json
  packages/agor-opencode/package.json
  packages/agor-opencode/src/index.ts
  packages/client/package.json
  packages/core/src/agentic-integrations.ts
  packages/core/src/config/config-manager.test.ts
  packages/core/src/config/config-manager.ts
  packages/core/src/config/types.ts
Due: biome check --write --no-errors-on-unmatched --diagnostic-level=error, prettier --write

fix(config): harden headless upgrades and tool gates
  .github/workflows/build-image.yml
  apps/agor-cli/src/commands/agentic-tools/index.ts
  apps/agor-cli/src/commands/doctor.ts
  apps/agor-cli/src/commands/init.test.ts
  apps/agor-cli/src/commands/init.ts
  apps/agor-cli/src/commands/install.ts
  apps/agor-cli/src/commands/telemetry/index.ts
  apps/agor-cli/src/commands/telemetry/test.ts
  apps/agor-cli/src/lib/agentic-tool-integrations.test.ts
  apps/agor-cli/src/lib/agentic-tool-integrations.ts
  apps/agor-daemon/src/index.ts
  apps/agor-daemon/src/register-services.ts
  apps/agor-daemon/src/services/executor-startup.ts
  apps/agor-daemon/src/services/scheduler.ts
  apps/agor-daemon/src/services/sessions.ts
  apps/agor-daemon/src/services/tenant-agentic-tools.deployment-boundary.test.ts
  apps/agor-daemon/src/services/tenant-agentic-tools.ts
  apps/agor-daemon/src/setup/agentic-tool-alignment.test.ts
  apps/agor-daemon/src/setup/agentic-tool-alignment.ts
  apps/agor-daemon/src/setup/persisted-secret.test.ts
  apps/agor-daemon/src/setup/persisted-secret.ts
  apps/agor-daemon/src/startup.ts
  apps/agor-docs/content/guide/extended-install.mdx
  apps/agor-docs/content/guide/getting-started.mdx
  docker/docker-entrypoint-prod.sh
  docker/docker-entrypoint.sh
  packages/agentic-tool-opencode/src/runtime/binary.ts
  packages/agentic-tool-opencode/src/runtime/sdk-loader.ts
  packages/core/src/agentic-integrations.test.ts
  packages/core/src/agentic-integrations.ts
  packages/core/src/config/config-manager.ts
Due: biome check --write --no-errors-on-unmatched --diagnostic-level=error, prettier --write

fix(docs): acknowledge required mobile transform override
  apps/agor-docs/components/LandingPage.module.css
Due: none

fix(ci): configure immutable packaged smoke startup
  .github/workflows/agor-live-smoke.yml
Due: prettier --write

fix(init): secure headless admin and telemetry bootstrap
  apps/agor-cli/src/commands/init.test.ts
  apps/agor-cli/src/commands/init.ts
Due: biome check --write --no-errors-on-unmatched --diagnostic-level=error, prettier --write

refactor(config): capture deployment tool policy at startup
  apps/agor-daemon/src/register-services.ts
  apps/agor-daemon/src/services/executor-startup.ts
  apps/agor-daemon/src/services/scheduler.ts
  apps/agor-daemon/src/services/tenant-agentic-tools.ts
  apps/agor-daemon/src/startup.ts
  packages/core/src/config/config-manager.ts
Due: biome check --write --no-errors-on-unmatched --diagnostic-level=error, prettier --write

refactor(config): narrow deployment tool policy boundary
  apps/agor-cli/src/commands/init.test.ts
  apps/agor-cli/src/commands/init.ts
  apps/agor-daemon/src/register-services.ts
  apps/agor-daemon/src/services/executor-startup.ts
  apps/agor-daemon/src/services/scheduler.ts
  apps/agor-daemon/src/services/tenant-agentic-tools.ts
  apps/agor-daemon/src/startup.ts
  apps/agor-docs/content/guide/extended-install.mdx
  packages/core/src/config/config-manager.ts
Due: biome check --write --no-errors-on-unmatched --diagnostic-level=error, prettier --write

chore(release): bump aligned packages to 0.24.2
  packages/agor-claude/package.json
  packages/agor-claude/src/index.ts
  packages/agor-codex/package.json
  packages/agor-codex/src/index.ts
  packages/agor-copilot/package.json
  packages/agor-copilot/src/index.ts
  packages/agor-cursor/package.json
  packages/agor-cursor/src/index.ts
  packages/agor-gemini/package.json
  packages/agor-gemini/src/index.ts
  packages/agor-live/package.json
  packages/agor-opencode/package.json
  packages/agor-opencode/src/index.ts
  packages/client/package.json
Due: biome check --write --no-errors-on-unmatched --diagnostic-level=error, prettier --write

feat(boards): sober default background + redesigned CSS/background editor
  apps/agor-ui/src/components/BoardEditModal/BoardEditModal.tsx
  apps/agor-ui/src/components/CreateDialog/CreateDialog.test.tsx
  apps/agor-ui/src/components/CreateDialog/tabs/BoardTab.tsx
  apps/agor-ui/src/components/SessionCanvas/SessionCanvas.tsx
  apps/agor-ui/src/components/SettingsModal/BoardsTable.tsx
  apps/agor-ui/src/components/forms/BoardBackgroundEditor.test.tsx
  apps/agor-ui/src/components/forms/BoardBackgroundEditor.tsx
  apps/agor-ui/src/components/forms/BoardBackgroundPreview.tsx
  apps/agor-ui/src/components/forms/BoardFormFields.tsx
  apps/agor-ui/src/components/forms/boardBackgroundPresets.ts
  apps/agor-ui/src/constants/ui.ts
  apps/agor-ui/src/utils/boardBackground.test.ts
  apps/agor-ui/src/utils/boardBackground.ts
  packages/core/src/db/repositories/boards.test.ts
  packages/core/src/db/repositories/boards.ts
  packages/core/src/design/board-backgrounds.ts
Due: biome check --write --no-errors-on-unmatched --diagnostic-level=error, prettier --write

fix(deps): keep opencode runtime aligned with SDK
  packages/agor-opencode/package.json
  pnpm-lock.yaml
Due: prettier --write

fix(docs): satisfy lint for mobile showcase override
  apps/agor-docs/components/LandingPage.module.css
Due: none

refactor(boards): address review — shared CSS pipeline, safer scoping, non-destructive Preset
  apps/agor-ui/src/components/BoardEditModal/BoardEditModal.background.test.tsx
  apps/agor-ui/src/components/BoardEditModal/BoardEditModal.tsx
  apps/agor-ui/src/components/SessionCanvas/SessionCanvas.tsx
  apps/agor-ui/src/components/forms/BoardBackgroundEditor.test.tsx
  apps/agor-ui/src/components/forms/BoardBackgroundEditor.tsx
  apps/agor-ui/src/components/forms/BoardBackgroundPreview.tsx
  apps/agor-ui/src/components/forms/BoardFormFields.tsx
  apps/agor-ui/src/utils/sanitizeCss.test.ts
  apps/agor-ui/src/utils/sanitizeCss.ts
  packages/core/src/design/board-backgrounds.ts
Due: biome check --write --no-errors-on-unmatched --diagnostic-level=error, prettier --write

chore(deps): deduplicate compatible lockfile versions
  pnpm-lock.yaml
Due: prettier --write

harden(boards): neutralize CSS comment/escape obfuscation before blocklist
  apps/agor-ui/src/utils/sanitizeCss.test.ts
  apps/agor-ui/src/utils/sanitizeCss.ts
Due: biome check --write --no-errors-on-unmatched --diagnostic-level=error, prettier --write

fix(security): raise vulnerable transitive dependency floors
  packages/core/src/config/agor-yml.ts
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: biome check --write --no-errors-on-unmatched --diagnostic-level=error, prettier --write

feat: add PostgreSQL executor token authority
  apps/agor-daemon/src/auth/service-jwt-strategy.ts
  apps/agor-daemon/src/auth/session-token-strategy.ts
  apps/agor-daemon/src/register-services.ts
  apps/agor-daemon/src/services/config.ts
  apps/agor-daemon/src/services/session-token-service.postgres.test.ts
  apps/agor-daemon/src/services/session-token-service.test.ts
  apps/agor-daemon/src/services/session-token-service.ts
  docs/internal/process-affine-ha-support-matrix-2026-08-07.md
  packages/core/drizzle/postgres/0075_executor_session_token_authority.sql
  packages/core/drizzle/postgres/meta/_journal.json
  packages/core/drizzle/sqlite/0078_executor_session_token_authority.sql
  packages/core/drizzle/sqlite/meta/_journal.json
  packages/core/src/db/migrations.test.ts
  packages/core/src/db/multitenancy-schema.test.ts
  packages/core/src/db/repositories/executor-session-token-authorities.ts
  packages/core/src/db/repositories/index.ts
  packages/core/src/db/schema.postgres.ts
  packages/core/src/db/schema.sqlite.ts
  packages/core/src/db/schema.ts
  packages/core/src/db/tenant-context.ts
  packages/core/src/db/tenant-portability-manifest.test.ts
  packages/core/src/db/tenant-portability-manifest.ts
  packages/core/src/db/tenant-scope.test.ts
  packages/core/src/db/tenant-scope.ts
Due: biome check --write --no-errors-on-unmatched --diagnostic-level=error, prettier --write

test: make executor auth contract dialect-independent
  apps/agor-daemon/src/services/session-token-service.postgres.test.ts
Due: biome check --write --no-errors-on-unmatched --diagnostic-level=error, prettier --write

fix: address executor token authority review
  apps/agor-daemon/src/services/session-token-service.postgres.test.ts
  apps/agor-daemon/src/utils/spawn-executor.configured.test.ts
  apps/agor-daemon/src/utils/spawn-executor.ts
  docs/internal/process-affine-ha-support-matrix-2026-08-07.md
  packages/core/src/db/repositories/executor-session-token-authorities.ts
  packages/core/src/db/tenant-archive.test.ts
  packages/core/src/db/tenant-archive.ts
  packages/core/src/db/tenant-catalog.ts
  packages/core/src/db/tenant-import.test.ts
  packages/core/src/db/tenant-import.ts
  packages/core/src/db/tenant-portability.postgres.test.ts
  packages/core/src/db/tenant-verify.test.ts
Due: biome check --write --no-errors-on-unmatched --diagnostic-level=error, prettier --write

fix(docs): avoid important carousel override
  apps/agor-docs/components/LandingPage.module.css
  apps/agor-docs/components/LandingPage.tsx
Due: biome check --write --no-errors-on-unmatched --diagnostic-level=error, prettier --write

fix(cli): bind stale lock recovery to observed owner
  apps/agor-cli/src/lib/agentic-tool-integrations.test.ts
  apps/agor-cli/src/lib/agentic-tool-integrations.ts
Due: biome check --write --no-errors-on-unmatched --diagnostic-level=error, prettier --write

refactor(runtime): enforce managed SDK loading boundary
  packages/core/src/sdk/index.ts
  packages/core/tsup.config.ts
  packages/executor/src/types/sdk-response.ts
  scripts/check-agentic-tool-packages.mjs
Due: biome check --write --no-errors-on-unmatched --diagnostic-level=error, prettier --write

fix(cli): harden agentic tool policy lifecycle
  apps/agor-cli/src/commands/doctor.ts
  apps/agor-cli/src/commands/init.ts
  apps/agor-cli/src/commands/install.ts
  apps/agor-cli/src/lib/agentic-tool-integrations.test.ts
  apps/agor-cli/src/lib/agentic-tool-integrations.ts
  packages/core/src/agentic-integrations.test.ts
  packages/core/src/agentic-integrations.ts
Due: biome check --write --no-errors-on-unmatched --diagnostic-level=error, prettier --write

Path conditions:
  biome check --write --no-errors-on-unmatched --diagnostic-level=error: any of: *.{ts,tsx,js,jsx,mjs,cjs}
  prettier --write: (any of: *.{ts,tsx,js,jsx,mjs,cjs}) or (any of: *.{json,md,yaml,yml})
