Repository preset-io/agor: changes, and which lint-staged commands are due for each by the changed paths.
All: biome check --write --no-errors-on-unmatched --diagnostic-level=error, prettier --write

feat: add ANTHROPIC_BASE_URL and ANTHROPIC_AUTH_TOKEN passthrough to sessions
  apps/agor-daemon/src/index.ts
  apps/agor-daemon/src/services/config.ts
  apps/agor-daemon/src/setup/credentials.ts
  apps/agor-daemon/src/setup/index.ts
  apps/agor-ui/src/components/SettingsModal/AgenticToolsTab.tsx
  packages/core/src/config/config-manager.ts
  packages/core/src/config/types.ts
Due: biome check --write --no-errors-on-unmatched --diagnostic-level=error, prettier --write

fix(security): redact credential values from config service patch logs
  apps/agor-daemon/src/services/config.ts
Due: biome check --write --no-errors-on-unmatched --diagnostic-level=error, prettier --write

fix(ui): fix terminal not rendering on first open
  apps/agor-ui/src/components/TerminalModal/TerminalModal.tsx
Due: biome check --write --no-errors-on-unmatched --diagnostic-level=error, prettier --write

fix(security): block SSRF via health check URLs
  apps/agor-daemon/src/services/worktrees.ts
  packages/core/src/config/index.ts
  packages/core/src/config/url-validation.test.ts
  packages/core/src/config/url-validation.ts
Due: biome check --write --no-errors-on-unmatched --diagnostic-level=error, prettier --write

fix: consolidate CredentialsConfig with canonical AgorCredentials and update essentialEnv allowlist
  apps/agor-daemon/src/setup/credentials.ts
  apps/agor-daemon/src/utils/spawn-executor.ts
Due: biome check --write --no-errors-on-unmatched --diagnostic-level=error, prettier --write

refactor: deduplicate credential save/clear handlers in AgenticToolsTab
  apps/agor-ui/src/components/SettingsModal/AgenticToolsTab.tsx
Due: biome check --write --no-errors-on-unmatched --diagnostic-level=error, prettier --write

feat: implement full-stack AskUserQuestion (input request) support (#653)
  apps/agor-daemon/src/index.ts
  apps/agor-ui/src/components/App/App.tsx
  apps/agor-ui/src/components/ConversationView/ConversationView.tsx
  apps/agor-ui/src/components/InputRequestBlock/InputRequestBlock.tsx
  apps/agor-ui/src/components/InputRequestBlock/index.ts
  apps/agor-ui/src/components/MessageBlock/MessageBlock.tsx
  apps/agor-ui/src/components/Pill/TimerPill.tsx
  apps/agor-ui/src/components/SessionPanel/SessionPanel.tsx
  apps/agor-ui/src/components/SessionPanel/SessionPanelContent.tsx
  apps/agor-ui/src/components/TaskBlock/TaskBlock.tsx
  apps/agor-ui/src/components/TaskStatusIcon.tsx
  apps/agor-ui/src/components/WorktreeModal/tabs/SessionsTab.tsx
  apps/agor-ui/src/components/mobile/SessionPage.tsx
  apps/agor-ui/src/contexts/AppActionsContext.tsx
  packages/core/src/db/repositories/tasks.ts
  packages/core/src/db/schema.postgres.ts
  packages/core/src/db/schema.sqlite.ts
  packages/core/src/lib/feathers-validation.ts
  packages/core/src/types/message.ts
  packages/core/src/types/session.ts
  packages/core/src/types/task.ts
  packages/executor/src/handlers/sdk/claude.ts
  packages/executor/src/index.ts
  packages/executor/src/input-requests/input-request-manager.ts
  packages/executor/src/input-requests/input-request-service.ts
  packages/executor/src/sdk-handlers/claude/claude-tool.ts
  packages/executor/src/sdk-handlers/claude/permissions/permission-hooks.ts
  packages/executor/src/sdk-handlers/claude/prompt-service.ts
  packages/executor/src/sdk-handlers/claude/query-builder.ts
Due: biome check --write --no-errors-on-unmatched --diagnostic-level=error, prettier --write

chore: bump agor-live to 0.15.0
  RELEASES.md
  packages/agor-live/package.json
Due: prettier --write

fix: correct version bump to 0.14.1 (patch, not minor)
  RELEASES.md
  packages/agor-live/package.json
Due: prettier --write

fix: resolve typecheck and lint errors for input request feature
  apps/agor-cli/src/commands/session/list.ts
  apps/agor-ui/src/components/InputRequestBlock/InputRequestBlock.tsx
  packages/core/src/db/repositories/tasks.ts
  packages/core/src/db/schema.postgres.ts
  packages/core/src/db/schema.sqlite.ts
  packages/executor/src/input-requests/input-request-service.ts
  packages/executor/src/sdk-handlers/claude/permissions/permission-hooks.ts
Due: biome check --write --no-errors-on-unmatched --diagnostic-level=error, prettier --write

fix(ui): make zone prompt template and trigger behavior optional
  apps/agor-ui/src/components/SessionCanvas/canvas/ZoneConfigModal.tsx
Due: biome check --write --no-errors-on-unmatched --diagnostic-level=error, prettier --write

fix: capture and surface actual error output when environment start fails
  apps/agor-daemon/src/mcp/routes.ts
  apps/agor-daemon/src/services/worktrees.ts
  apps/agor-ui/src/components/WorktreeModal/tabs/EnvironmentTab.tsx
  packages/core/src/types/worktree.ts
Due: biome check --write --no-errors-on-unmatched --diagnostic-level=error, prettier --write

feat(security): add environment command review gate
  apps/agor-daemon/src/index.ts
  apps/agor-daemon/src/services/worktrees.ts
  apps/agor-ui/src/components/EnvironmentPill/EnvironmentPill.tsx
  apps/agor-ui/src/components/WorktreeModal/tabs/EnvironmentTab.tsx
  packages/core/drizzle/postgres/0018_heavy_wrecker.sql
  packages/core/drizzle/postgres/meta/0018_snapshot.json
  packages/core/drizzle/postgres/meta/_journal.json
  packages/core/drizzle/sqlite/0028_white_tarantula.sql
  packages/core/drizzle/sqlite/meta/0028_snapshot.json
  packages/core/drizzle/sqlite/meta/_journal.json
  packages/core/src/config/repo-list.test.ts
  packages/core/src/db/repositories/worktrees.ts
  packages/core/src/db/schema.postgres.ts
  packages/core/src/db/schema.sqlite.ts
  packages/core/src/types/worktree.ts
  packages/executor/src/commands/git.ts
Due: biome check --write --no-errors-on-unmatched --diagnostic-level=error, prettier --write

docs(specs): add comprehensive design review for session message API
  specs/DESIGN_REVIEW.md
  specs/REVIEW_SUMMARY.md
  specs/agor-session-message-api.md
  specs/product-reasoning.md
Due: prettier --write

refactor: move SSRF validation to utils/url.ts and expand blocklist
  apps/agor-daemon/src/services/worktrees.ts
  packages/core/src/config/index.ts
  packages/core/src/config/url-validation.test.ts
  packages/core/src/config/url-validation.ts
  packages/core/src/utils/url.test.ts
  packages/core/src/utils/url.ts
Due: biome check --write --no-errors-on-unmatched --diagnostic-level=error, prettier --write

docs(specs): revise design to use worktree-scoped permissions
  specs/DESIGN_REVIEW.md
  specs/REVIEW_SUMMARY.md
  specs/agor-session-message-api.md
  specs/product-reasoning.md
Due: prettier --write

docs(specs): add design review guidelines
  specs/DESIGN_REVIEW_GUIDELINES.md
Due: prettier --write

docs: add comprehensive design review for permission & model config specs
  specs/design-review.md
  specs/worktree-permission-config.md
  specs/zone-model-config.md
Due: prettier --write

docs(specs): add critical issues and final review documents
  specs/CRITICAL_ISSUES.md
  specs/FINAL_DESIGN_REVIEW.md
  specs/REVIEW_OUTCOME.md
  specs/agor-session-message-api.md
Due: prettier --write

docs(specs): consolidate into single focused spec
  specs/CRITICAL_ISSUES.md
  specs/DESIGN_REVIEW.md
  specs/DESIGN_REVIEW_GUIDELINES.md
  specs/FINAL_DESIGN_REVIEW.md
  specs/REVIEW_OUTCOME.md
  specs/REVIEW_SUMMARY.md
  specs/agor-session-message-api.md
  specs/product-reasoning.md
  specs/session-message-api.md
Due: prettier --write

docs: consolidate into single unified design document
  specs/DESIGN.md
  specs/design-review.md
  specs/worktree-permission-config.md
  specs/zone-model-config.md
Due: prettier --write

docs: simplify design to focus solely on zone trigger model config
  specs/DESIGN.md
Due: prettier --write

docs: rename DESIGN.md to zone-model-config.md
  specs/zone-model-config.md
Due: prettier --write

fix: clean up stale zone references when deleting zones
  apps/agor-daemon/src/index.ts
  apps/agor-daemon/src/services/board-objects.ts
  apps/agor-ui/src/components/SessionCanvas/SessionCanvas.tsx
  packages/core/src/db/repositories/board-objects.ts
Due: biome check --write --no-errors-on-unmatched --diagnostic-level=error, prettier --write

fix(security): prevent daemon env vars from leaking to agent sessions
  packages/core/src/config/env-resolver.ts
Due: biome check --write --no-errors-on-unmatched --diagnostic-level=error, prettier --write

fix(security): add proxy/TLS vars to environment allowlist
  packages/core/src/config/env-resolver.ts
Due: biome check --write --no-errors-on-unmatched --diagnostic-level=error, prettier --write

feat: add agor_messages_list MCP tool for browsing and searching messages
  apps/agor-daemon/src/mcp/routes.ts
Due: biome check --write --no-errors-on-unmatched --diagnostic-level=error, prettier --write

fix: scope package-lock.json gitignore to root only
  .gitignore
Due: none

fix: address code review feedback for agor_messages_list
  apps/agor-daemon/src/mcp/routes.ts
Due: biome check --write --no-errors-on-unmatched --diagnostic-level=error, prettier --write

fix: copy-to-clipboard falls back to execCommand when Clipboard API throws
  apps/agor-ui/src/components/CodePreviewModal/CodePreviewModal.tsx
  apps/agor-ui/src/components/FileCollection/FileCollection.tsx
  apps/agor-ui/src/components/MarkdownModal/MarkdownModal.tsx
  apps/agor-ui/src/components/Pill/EventStreamPill.tsx
  apps/agor-ui/src/components/SessionPanel/SessionPanelContent.tsx
  apps/agor-ui/src/components/SettingsModal/GatewayChannelsTable.tsx
  apps/agor-ui/src/utils/clipboard-polyfill.ts
  apps/agor-ui/src/utils/clipboard.ts
  apps/agor-ui/src/utils/message.tsx
Due: biome check --write --no-errors-on-unmatched --diagnostic-level=error, prettier --write

refactor: consolidate clipboard utilities and simplify API
  apps/agor-ui/src/components/Pill/Pill.tsx
  apps/agor-ui/src/components/Pill/SessionMetadataCard.tsx
  apps/agor-ui/src/components/WorktreeModal/tabs/EnvironmentTab.tsx
  apps/agor-ui/src/utils/clipboard.ts
  apps/agor-ui/src/utils/message.tsx
Due: biome check --write --no-errors-on-unmatched --diagnostic-level=error, prettier --write

fix: detect SDK error_during_execution and mark task as failed
  packages/executor/src/handlers/sdk/base-executor.ts
  packages/executor/src/sdk-handlers/claude/claude-tool.ts
Due: biome check --write --no-errors-on-unmatched --diagnostic-level=error, prettier --write

fix: prevent sdk_session_id from being overwritten after first capture
  packages/executor/src/sdk-handlers/claude/claude-tool.ts
  packages/executor/src/sdk-handlers/claude/prompt-service.ts
  packages/executor/src/sdk-handlers/codex/codex-tool.ts
Due: biome check --write --no-errors-on-unmatched --diagnostic-level=error, prettier --write

chore: bump agor-live to 0.14.2
  RELEASES.md
  packages/agor-live/package.json
Due: prettier --write

fix: improve Create Assistant form defaults and repo handling
  apps/agor-ui/src/components/SettingsModal/AssistantsTable.tsx
  apps/agor-ui/src/components/SettingsModal/SettingsModal.tsx
Due: biome check --write --no-errors-on-unmatched --diagnostic-level=error, prettier --write

fix: address code review feedback for Create Assistant form
  apps/agor-ui/src/components/SettingsModal/AssistantsTable.tsx
Due: biome check --write --no-errors-on-unmatched --diagnostic-level=error, prettier --write

feat: enhance TimerPill with rich popover showing start/end times
  apps/agor-ui/src/components/Pill/TimerPill.tsx
  apps/agor-ui/src/components/SessionPanel/SessionPanel.tsx
  apps/agor-ui/src/components/TaskBlock/TaskBlock.tsx
Due: biome check --write --no-errors-on-unmatched --diagnostic-level=error, prettier --write

fix: move useMemo above early return to satisfy hooks lint rule
  apps/agor-ui/src/components/Pill/TimerPill.tsx
Due: biome check --write --no-errors-on-unmatched --diagnostic-level=error, prettier --write

fix: pre-select framework repo and fix worktree name auto-generation
  apps/agor-ui/src/components/SettingsModal/AssistantsTable.tsx
Due: biome check --write --no-errors-on-unmatched --diagnostic-level=error, prettier --write

feat: add emoji picker for assistants across create, edit, and display surfaces
  apps/agor-ui/src/components/ConversationView/ConversationView.tsx
  apps/agor-ui/src/components/MessageBlock/MessageBlock.tsx
  apps/agor-ui/src/components/SessionPanel/SessionPanelContent.tsx
  apps/agor-ui/src/components/SettingsModal/AssistantsTable.tsx
  apps/agor-ui/src/components/TaskBlock/TaskBlock.tsx
  apps/agor-ui/src/components/WorktreeCard/WorktreeCard.tsx
  apps/agor-ui/src/components/WorktreeModal/WorktreeModal.tsx
  apps/agor-ui/src/components/WorktreeModal/tabs/AssistantTab.tsx
  apps/agor-ui/src/components/mobile/SessionPage.tsx
  packages/core/src/types/worktree.ts
Due: biome check --write --no-errors-on-unmatched --diagnostic-level=error, prettier --write

Path conditions:
  biome check --write --no-errors-on-unmatched --diagnostic-level=error: any of: *.{ts,tsx,js,jsx,mjs,cjs}
  prettier --write: (any of: *.{ts,tsx,js,jsx,mjs,cjs}) or (any of: *.{json,md,yaml,yml})
