Repository preset-io/agor: changes, and which lint-staged commands are due for each by the changed paths.
All: biome check --write --no-errors-on-unmatched --diagnostic-level=error, prettier --write

Improve panel width management
  apps/agor-ui/src/components/App/App.tsx
  apps/agor-ui/src/components/BranchListDrawer/BranchListDrawer.test.tsx
  apps/agor-ui/src/components/BranchListDrawer/BranchListDrawer.tsx
  apps/agor-ui/src/components/Pill/Pill.tsx
  apps/agor-ui/src/hooks/useUserLocalStorage.test.tsx
  apps/agor-ui/src/hooks/useUserLocalStorage.ts
  packages/client/package.json
Due: biome check --write --no-errors-on-unmatched --diagnostic-level=error, prettier --write

Add executor heartbeat support
  apps/agor-daemon/src/declarations.ts
  apps/agor-daemon/src/index.ts
  apps/agor-daemon/src/register-routes.ts
  apps/agor-daemon/src/register-services.ts
  apps/agor-daemon/src/services/executor-heartbeat-supervisor.test.ts
  apps/agor-daemon/src/services/executor-heartbeat-supervisor.ts
  apps/agor-daemon/src/services/tasks.ts
  apps/agor-daemon/src/startup.ts
  apps/agor-daemon/src/utils/build-resolved-config-slice.ts
  apps/agor-daemon/src/utils/executor-heartbeat-callback.ts
  apps/agor-daemon/src/utils/spawn-executor.resolved-config.test.ts
  apps/agor-ui/src/components/Pill/TimerPill.tsx
  apps/agor-ui/src/components/SessionPanel/SessionPanel.tsx
  apps/agor-ui/src/components/TaskBlock/TaskBlock.tsx
  packages/core/drizzle/postgres/0039_executor_heartbeat.sql
  packages/core/drizzle/postgres/meta/_journal.json
  packages/core/drizzle/sqlite/0048_executor_heartbeat.sql
  packages/core/drizzle/sqlite/meta/_journal.json
  packages/core/src/config/config-manager.ts
  packages/core/src/config/executor-heartbeat.test.ts
  packages/core/src/config/executor-heartbeat.ts
  packages/core/src/config/index.ts
  packages/core/src/config/resolved-config-slice.ts
  packages/core/src/config/types.ts
  packages/core/src/db/repositories/tasks.test.ts
  packages/core/src/db/repositories/tasks.ts
  packages/core/src/db/schema.postgres.ts
  packages/core/src/db/schema.sqlite.ts
  packages/core/src/types/task.ts
  packages/executor/src/executor-heartbeat.test.ts
  packages/executor/src/executor-heartbeat.ts
  packages/executor/src/index.ts
Due: biome check --write --no-errors-on-unmatched --diagnostic-level=error, prettier --write

Fix navbar facepile alignment
  apps/agor-ui/src/components/Facepile/Facepile.css
Due: none

Center navbar facepile avatar
  apps/agor-ui/src/components/Facepile/Facepile.css
Due: none

fix conversation initial autoscroll
  apps/agor-ui/src/components/ConversationView/ConversationView.test.tsx
  apps/agor-ui/src/components/ConversationView/ConversationView.tsx
Due: biome check --write --no-errors-on-unmatched --diagnostic-level=error, prettier --write

test avoid ad hoc short id mock
  apps/agor-ui/src/components/ConversationView/ConversationView.test.tsx
Due: biome check --write --no-errors-on-unmatched --diagnostic-level=error, prettier --write

Fix heartbeat lint formatting
  apps/agor-daemon/src/utils/build-resolved-config-slice.ts
  packages/core/src/config/types.ts
Due: biome check --write --no-errors-on-unmatched --diagnostic-level=error, prettier --write

Address panel review feedback
  apps/agor-ui/src/components/App/App.tsx
  apps/agor-ui/src/components/BranchListDrawer/BranchListDrawer.tsx
  apps/agor-ui/src/hooks/localStorageJson.ts
  apps/agor-ui/src/hooks/useLocalStorage.ts
  apps/agor-ui/src/hooks/useUserLocalStorage.ts
Due: biome check --write --no-errors-on-unmatched --diagnostic-level=error, prettier --write

address conversation autoscroll review
  apps/agor-ui/src/components/ConversationView/ConversationView.test.tsx
  apps/agor-ui/src/components/ConversationView/ConversationView.tsx
  apps/agor-ui/src/components/SessionPanel/SessionPanel.tsx
Due: biome check --write --no-errors-on-unmatched --diagnostic-level=error, prettier --write

Address executor heartbeat review findings
  apps/agor-daemon/src/declarations.ts
  apps/agor-daemon/src/services/executor-heartbeat-supervisor.test.ts
  apps/agor-daemon/src/services/executor-heartbeat-supervisor.ts
  apps/agor-daemon/src/services/tasks.executor-heartbeat.test.ts
  apps/agor-daemon/src/services/tasks.ts
  apps/agor-daemon/src/utils/executor-heartbeat-callback.test.ts
  apps/agor-daemon/src/utils/executor-heartbeat-callback.ts
Due: biome check --write --no-errors-on-unmatched --diagnostic-level=error, prettier --write

Strengthen heartbeat loss queue test
  apps/agor-daemon/src/services/tasks.executor-heartbeat.test.ts
Due: biome check --write --no-errors-on-unmatched --diagnostic-level=error, prettier --write

Add backend analytics client
  apps/agor-daemon/src/index.ts
  apps/agor-daemon/src/register-hooks.ts
  apps/agor-daemon/src/services/branches.ts
  apps/agor-daemon/src/services/tasks.analytics.test.ts
  apps/agor-daemon/src/services/tasks.ts
  packages/core/package.json
  packages/core/src/analytics/analytics.test.ts
  packages/core/src/analytics/filters.ts
  packages/core/src/analytics/index.ts
  packages/core/src/analytics/logger.ts
  packages/core/src/analytics/plugins.ts
  packages/core/src/analytics/types.ts
  packages/core/src/config/config-manager.test.ts
  packages/core/src/config/config-manager.ts
  packages/core/src/config/types.ts
  packages/core/src/index.ts
  pnpm-lock.yaml
Due: biome check --write --no-errors-on-unmatched --diagnostic-level=error, prettier --write

Fix large conversation initial autoscroll
  apps/agor-ui/src/components/ConversationView/ConversationView.test.tsx
  apps/agor-ui/src/components/ConversationView/ConversationView.tsx
Due: biome check --write --no-errors-on-unmatched --diagnostic-level=error, prettier --write

Add analytics core build entry
  packages/core/tsup.config.ts
Due: biome check --write --no-errors-on-unmatched --diagnostic-level=error, prettier --write

Harden conversation autoscroll lifecycle
  apps/agor-ui/src/components/ConversationView/ConversationView.test.tsx
  apps/agor-ui/src/components/ConversationView/ConversationView.tsx
Due: biome check --write --no-errors-on-unmatched --diagnostic-level=error, prettier --write

Guard conversation autoscroll session lifecycle
  apps/agor-ui/src/components/ConversationView/ConversationView.test.tsx
  apps/agor-ui/src/components/ConversationView/ConversationView.tsx
Due: biome check --write --no-errors-on-unmatched --diagnostic-level=error, prettier --write

Harden backend analytics lifecycle
  apps/agor-daemon/src/index.ts
  apps/agor-daemon/src/services/branches.ts
  apps/agor-daemon/src/services/tasks.analytics.test.ts
  apps/agor-daemon/src/services/tasks.ts
  packages/core/src/analytics/analytics.test.ts
  packages/core/src/analytics/logger.ts
  packages/core/src/analytics/plugins.ts
  packages/core/src/config/analytics-defaults.ts
  packages/core/src/config/config-manager.ts
  packages/core/src/index.ts
Due: biome check --write --no-errors-on-unmatched --diagnostic-level=error, prettier --write

Keep timeout analytics side-effect isolated
  apps/agor-daemon/src/services/tasks.analytics.test.ts
  apps/agor-daemon/src/services/tasks.ts
  packages/core/src/analytics/analytics.test.ts
  packages/core/src/analytics/logger.ts
Due: biome check --write --no-errors-on-unmatched --diagnostic-level=error, prettier --write

Tighten analytics plugin paths and payload tests
  apps/agor-daemon/src/register-hooks.ts
  apps/agor-daemon/src/services/branches.ts
  apps/agor-daemon/src/utils/analytics-payloads.test.ts
  apps/agor-daemon/src/utils/analytics-payloads.ts
  packages/core/src/analytics/analytics.test.ts
  packages/core/src/analytics/plugins.ts
  packages/core/src/config/types.ts
Due: biome check --write --no-errors-on-unmatched --diagnostic-level=error, prettier --write

Sync agor-live analytics dependency
  packages/agor-live/package.json
  pnpm-lock.yaml
Due: prettier --write

chore(release): bump agor-live and client to 0.21.0
  CHANGELOG.md
  packages/agor-live/package.json
  packages/client/package.json
Due: prettier --write

docs(changelog): populate 0.21.0 entry
  CHANGELOG.md
Due: prettier --write

Support Unix usernames in launch auth
  apps/agor-daemon/src/auth/launch-auth.test.ts
  apps/agor-daemon/src/auth/launch-auth.ts
Due: biome check --write --no-errors-on-unmatched --diagnostic-level=error, prettier --write

Add external launch login redirect
  apps/agor-daemon/src/auth/launch-auth.ts
  apps/agor-daemon/src/register-routes.ts
  apps/agor-docs/pages/guide/_meta.ts
  apps/agor-docs/pages/guide/one-time-launch-auth.mdx
  apps/agor-ui/src/App.tsx
  apps/agor-ui/src/components/LoginPage/LoginPage.test.tsx
  apps/agor-ui/src/components/LoginPage/LoginPage.tsx
  apps/agor-ui/src/hooks/useAuth.launch.test.tsx
  apps/agor-ui/src/hooks/useAuthConfig.test.tsx
  apps/agor-ui/src/hooks/useAuthConfig.ts
  context/guides/one-time-launch-auth.md
  packages/core/src/config/config-manager.test.ts
  packages/core/src/config/config-manager.ts
  packages/core/src/config/types.ts
Due: biome check --write --no-errors-on-unmatched --diagnostic-level=error, prettier --write

Support unix_username in external launch
  apps/agor-daemon/src/auth/launch-auth.test.ts
  apps/agor-daemon/src/auth/launch-auth.ts
  apps/agor-daemon/vitest.config.ts
  context/guides/one-time-launch-auth.md
  packages/core/package.json
  packages/core/tsup.config.ts
Due: biome check --write --no-errors-on-unmatched --diagnostic-level=error, prettier --write

Tune bundled UI compression and caching
  apps/agor-daemon/src/index.ts
  apps/agor-daemon/src/setup/compression.test.ts
  apps/agor-daemon/src/setup/compression.ts
  apps/agor-daemon/src/setup/static-assets.test.ts
  apps/agor-daemon/src/setup/static-assets.ts
Due: biome check --write --no-errors-on-unmatched --diagnostic-level=error, prettier --write

Address launch redirect review feedback
  apps/agor-daemon/src/auth/launch-auth.test.ts
  apps/agor-daemon/src/auth/launch-auth.ts
  apps/agor-daemon/src/register-routes.ts
  apps/agor-ui/src/components/LoginPage/LoginPage.test.tsx
  apps/agor-ui/src/components/LoginPage/LoginPage.tsx
  packages/core/src/config/config-manager.test.ts
  packages/core/src/config/config-manager.ts
Due: biome check --write --no-errors-on-unmatched --diagnostic-level=error, prettier --write

Fix static header callback type
  apps/agor-daemon/src/setup/static-assets.ts
Due: biome check --write --no-errors-on-unmatched --diagnostic-level=error, prettier --write

chore: make TypeScript 6 upgrade buildable
  apps/agor-cli/tsconfig.json
  apps/agor-daemon/tsconfig.json
  apps/agor-docs/global.d.ts
  apps/agor-ui/tsconfig.app.json
  packages/client/tsconfig.json
  packages/core/tsconfig.json
Due: biome check --write --no-errors-on-unmatched --diagnostic-level=error, prettier --write

chore(brew): bump formula to 0.21.0
  Formula/agor-live.rb
Due: none

ci(brew): auto-bump Homebrew formula on new npm release
  .github/workflows/brew-formula-bump.yml
Due: prettier --write

docs(install): document Homebrew 24h cooldown and tap rationale
  apps/agor-docs/components/InstallTabs.mdx
Due: none

Keep bundled UI precompression gzip-only
  apps/agor-daemon/src/index.ts
Due: biome check --write --no-errors-on-unmatched --diagnostic-level=error, prettier --write

chore: avoid TS6 deprecation suppressions
  apps/agor-cli/package.json
  apps/agor-cli/tsconfig.json
  apps/agor-cli/tsup.config.ts
  apps/agor-daemon/package.json
  apps/agor-daemon/tsconfig.json
  apps/agor-daemon/tsup.config.ts
  apps/agor-docs/next-env.d.ts
  package.json
  packages/client/package.json
  packages/client/scripts/build-dts.mjs
  packages/client/scripts/patch-dts.mjs
  packages/client/tsconfig.json
  packages/client/tsup.config.ts
  packages/core/package.json
  packages/core/tsconfig.build.json
  packages/core/tsconfig.json
  packages/core/tsup.config.ts
  pnpm-lock.yaml
Due: biome check --write --no-errors-on-unmatched --diagnostic-level=error, prettier --write

chore: keep core declarations during dev watch
  packages/core/package.json
  packages/core/tsup.config.ts
  pnpm-lock.yaml
Due: biome check --write --no-errors-on-unmatched --diagnostic-level=error, prettier --write

feat(mcp): expose zone_id/zone_label in agor_branches_list + add zoneId filter
  apps/agor-daemon/src/mcp/tools/branches.test.ts
  apps/agor-daemon/src/mcp/tools/branches.ts
Due: biome check --write --no-errors-on-unmatched --diagnostic-level=error, prettier --write

fix(executor): thread sessionRepo into all SDK handlers' MCP scoping
  packages/executor/src/handlers/sdk/opencode.ts
  packages/executor/src/sdk-handlers/claude/query-builder.ts
  packages/executor/src/sdk-handlers/codex/prompt-service.ts
  packages/executor/src/sdk-handlers/copilot/prompt-service.ts
  packages/executor/src/sdk-handlers/gemini/prompt-service.ts
  packages/executor/src/sdk-handlers/opencode/opencode-tool.ts
Due: biome check --write --no-errors-on-unmatched --diagnostic-level=error, prettier --write

fix(executor): extend SDK handler MCP scoping fix to Cursor
  packages/executor/src/handlers/sdk/cursor.ts
Due: biome check --write --no-errors-on-unmatched --diagnostic-level=error, prettier --write

feat(mcp): namespace-aware errors, session-context logging, executor test
  packages/core/src/mcp/template-resolver.test.ts
  packages/core/src/mcp/template-resolver.ts
  packages/executor/src/sdk-handlers/base/mcp-scoping.test.ts
Due: biome check --write --no-errors-on-unmatched --diagnostic-level=error, prettier --write

feat(session-search): replace naive filter with relevancy-scored search
  apps/agor-ui/src/components/BranchListDrawer/BranchListDrawer.tsx
Due: biome check --write --no-errors-on-unmatched --diagnostic-level=error, prettier --write

Path conditions:
  biome check --write --no-errors-on-unmatched --diagnostic-level=error: any of: *.{ts,tsx,js,jsx,mjs,cjs}
  prettier --write: (any of: *.{ts,tsx,js,jsx,mjs,cjs}) or (any of: *.{json,md,yaml,yml})
