Repository preset-io/agor: changes, and which lint-staged commands are due for each by the changed paths.
All: biome check --write --no-errors-on-unmatched --diagnostic-level=error, prettier --write

.lintstagedrc.json:

{
  "*.{ts,tsx,js,jsx,mjs,cjs}": [
    "biome check --write --no-errors-on-unmatched --diagnostic-level=error",
    "prettier --write"
  ],
  "*.{json,md,yaml,yml}": ["prettier --write"]
}

docs(design): lock run_now tier to 'all' (matches today)
  docs/internal/schedules-first-class-design-2026-05-24.md
Due: prettier --write

feat(daemon): schedules CRUD service + RBAC + run_now route + MCP tools
  apps/agor-daemon/src/mcp/resolve-ids.ts
  apps/agor-daemon/src/mcp/server.ts
  apps/agor-daemon/src/mcp/tools/schedules.ts
  apps/agor-daemon/src/register-hooks.ts
  apps/agor-daemon/src/register-services.ts
  apps/agor-daemon/src/services/schedules.ts
  apps/agor-daemon/src/utils/branch-authorization.ts
  packages/core/src/types/config-services.ts
Due: biome check --write --no-errors-on-unmatched --diagnostic-level=error, prettier --write

fix(db): backfill schedules.last_run_session_id from prior scheduled sessions
  packages/core/drizzle/postgres/0037_schedules_table.sql
  packages/core/drizzle/sqlite/0046_schedules_table.sql
Due: none

fix(ui): rename ScheduleModal agent label to "Agentic tool"
  apps/agor-ui/src/components/ScheduleModal/ScheduleModal.tsx
Due: biome check --write --no-errors-on-unmatched --diagnostic-level=error, prettier --write

docs(design): resolve open questions on schedules design
  docs/internal/schedules-first-class-design-2026-05-24.md
Due: prettier --write

feat(ui): align ScheduleModal with session creation patterns
  apps/agor-ui/src/components/AgentSelectionGrid/AgentSelectionGrid.tsx
  apps/agor-ui/src/components/ScheduleModal/ScheduleModal.tsx
Due: biome check --write --no-errors-on-unmatched --diagnostic-level=error, prettier --write

feat(db): add schedules table + sessions.schedule_id, backfill from branches
  packages/core/drizzle/postgres/0037_schedules_table.sql
  packages/core/drizzle/postgres/meta/_journal.json
  packages/core/drizzle/sqlite/0046_schedules_table.sql
  packages/core/drizzle/sqlite/meta/_journal.json
  packages/core/src/db/schema.postgres.ts
  packages/core/src/db/schema.sqlite.ts
  packages/core/src/types/branch.ts
Due: biome check --write --no-errors-on-unmatched --diagnostic-level=error, prettier --write

fix(schedules): address review findings — concurrency guard, next_run_at, query filters
  apps/agor-daemon/src/register-hooks.ts
  apps/agor-daemon/src/services/scheduler.ts
  apps/agor-daemon/src/utils/branch-authorization.ts
  packages/core/src/lib/feathers-validation.ts
Due: biome check --write --no-errors-on-unmatched --diagnostic-level=error, prettier --write

docs(design): add §4.4 RBAC + rebase onto Worktree→Branch rename
  docs/internal/schedules-first-class-design-2026-05-24.md
Due: prettier --write

refactor(scheduler): read from schedules table + per-schedule advisory locks
  apps/agor-daemon/src/mcp/tools/branches.ts
  apps/agor-daemon/src/register-routes.ts
  apps/agor-daemon/src/services/branches.ts
  apps/agor-daemon/src/services/scheduler.ts
  apps/agor-ui/src/components/BranchCard/BranchCard.tsx
  apps/agor-ui/src/components/BranchModal/BranchModal.tsx
  apps/agor-ui/src/components/BranchModal/tabs/ScheduleTab.tsx
  apps/agor-ui/src/components/Pill/Pill.stories.tsx
  packages/core/src/db/database-wrapper.ts
  packages/core/src/types/feathers.ts
  packages/core/src/types/session.ts
  packages/core/src/utils/cron.ts
Due: biome check --write --no-errors-on-unmatched --diagnostic-level=error, prettier --write

feat(ui): schedules CRUD list + redesigned modal + runs panel
  apps/agor-ui/src/components/BranchModal/BranchModal.tsx
  apps/agor-ui/src/components/BranchModal/tabs/ScheduleTab.tsx
  apps/agor-ui/src/components/ScheduleModal/ScheduleModal.tsx
  apps/agor-ui/src/components/ScheduleModal/index.ts
  apps/agor-ui/src/components/ScheduleRunsPanel/ScheduleRunsPanel.tsx
  apps/agor-ui/src/components/ScheduleRunsPanel/index.ts
  packages/core/src/api/index.ts
  packages/core/src/client/index.ts
Due: biome check --write --no-errors-on-unmatched --diagnostic-level=error, prettier --write

test(schedules): unit + scheduler + cron tz
  apps/agor-daemon/src/services/scheduler.test.ts
  packages/core/src/db/repositories/schedules.test.ts
  packages/core/src/utils/cron.test.ts
Due: biome check --write --no-errors-on-unmatched --diagnostic-level=error, prettier --write

feat(core): add Schedule type + ScheduleRepository
  packages/core/src/config/repo-list.test.ts
  packages/core/src/db/repositories/branches.ts
  packages/core/src/db/repositories/index.ts
  packages/core/src/db/repositories/schedules.ts
  packages/core/src/db/repositories/sessions.ts
  packages/core/src/db/schema.ts
  packages/core/src/types/index.ts
  packages/core/src/types/schedule.ts
  packages/core/src/types/session.ts
Due: biome check --write --no-errors-on-unmatched --diagnostic-level=error, prettier --write

docs(design): schedules as first-class CRUD
  docs/internal/schedules-first-class-design-2026-05-24.md
Due: prettier --write

fix(ui): drop 'Save & run' button from ScheduleModal
  apps/agor-ui/src/components/ScheduleModal/ScheduleModal.tsx
Due: biome check --write --no-errors-on-unmatched --diagnostic-level=error, prettier --write

fix(scheduler): skip outer transaction on SQLite to avoid SQLITE_BUSY
  apps/agor-daemon/src/services/scheduler.ts
Due: biome check --write --no-errors-on-unmatched --diagnostic-level=error, prettier --write

fix(ui): slim schedules CRUD columns
  apps/agor-ui/src/components/BranchModal/tabs/ScheduleTab.tsx
Due: biome check --write --no-errors-on-unmatched --diagnostic-level=error, prettier --write

fix(ui): use icon-button actions column on schedules CRUD
  apps/agor-ui/src/components/BranchModal/tabs/ScheduleTab.tsx
Due: biome check --write --no-errors-on-unmatched --diagnostic-level=error, prettier --write

fix(schedules): unify model_config shape, fix modal effect, polish
  apps/agor-daemon/src/mcp/tools/schedules.ts
  apps/agor-daemon/src/register-routes.ts
  apps/agor-daemon/src/services/scheduler.ts
  apps/agor-ui/src/components/AgenticToolConfigForm/agenticConfigHelpers.ts
  apps/agor-ui/src/components/AgenticToolConfigForm/index.ts
  apps/agor-ui/src/components/ScheduleModal/ScheduleModal.tsx
  packages/core/drizzle/postgres/0037_schedules_table.sql
  packages/core/drizzle/sqlite/0046_schedules_table.sql
  packages/core/src/types/schedule.ts
Due: biome check --write --no-errors-on-unmatched --diagnostic-level=error, prettier --write

refactor(daemon): extract schedule hooks + cover with unit tests
  apps/agor-daemon/src/register-hooks.ts
  apps/agor-daemon/src/utils/schedule-hooks.test.ts
  apps/agor-daemon/src/utils/schedule-hooks.ts
Due: biome check --write --no-errors-on-unmatched --diagnostic-level=error, prettier --write

fix(schedules): make validate/recompute hooks RBAC-independent + tests
  apps/agor-daemon/src/register-hooks.ts
  apps/agor-daemon/src/utils/branch-authorization.test.ts
  apps/agor-daemon/src/utils/branch-authorization.ts
Due: biome check --write --no-errors-on-unmatched --diagnostic-level=error, prettier --write

perf(scheduler): use sessions.schedule_id index instead of full table scans
  apps/agor-daemon/src/services/scheduler.ts
  packages/core/src/db/repositories/sessions.test.ts
  packages/core/src/db/repositories/sessions.ts
Due: biome check --write --no-errors-on-unmatched --diagnostic-level=error, prettier --write

chore(executor): disallow ScheduleWakeup on Claude Code (bycatch)
  packages/executor/src/sdk-handlers/claude/constants.ts
  packages/executor/src/sdk-handlers/claude/query-builder.test.ts
Due: biome check --write --no-errors-on-unmatched --diagnostic-level=error, prettier --write

refactor(ui): unify selection visuals; rework assistant card chrome
  apps/agor-ui/src/components/App/App.tsx
  apps/agor-ui/src/components/BranchCard/BranchCard.tsx
  apps/agor-ui/src/components/SessionCanvas/SessionCanvas.tsx
  apps/agor-ui/src/components/SessionCanvas/canvas/ArtifactNode.tsx
  apps/agor-ui/src/components/SessionCanvas/canvas/useBoardObjects.ts
Due: biome check --write --no-errors-on-unmatched --diagnostic-level=error, prettier --write

style(ui): thicken selected-outline stroke from 2px to 4px
  apps/agor-ui/src/components/BranchCard/BranchCard.tsx
  apps/agor-ui/src/components/SessionCanvas/canvas/ArtifactNode.tsx
Due: biome check --write --no-errors-on-unmatched --diagnostic-level=error, prettier --write

style(ui): revert selected-outline stroke back to 2px
  apps/agor-ui/src/components/BranchCard/BranchCard.tsx
  apps/agor-ui/src/components/SessionCanvas/canvas/ArtifactNode.tsx
Due: biome check --write --no-errors-on-unmatched --diagnostic-level=error, prettier --write

fix(scheduler): close dedup race + stale next_run_at + cleaner active-status policy
  apps/agor-daemon/src/services/scheduler.ts
  packages/core/drizzle/postgres/0038_unique_schedule_run.sql
  packages/core/drizzle/postgres/meta/_journal.json
  packages/core/drizzle/sqlite/0047_unique_schedule_run.sql
  packages/core/drizzle/sqlite/meta/_journal.json
  packages/core/src/db/repositories/sessions.test.ts
  packages/core/src/db/repositories/sessions.ts
  packages/core/src/db/schema.postgres.ts
  packages/core/src/db/schema.sqlite.ts
Due: biome check --write --no-errors-on-unmatched --diagnostic-level=error, prettier --write

fix(ui): preserve clipboard fallback on http
  apps/agor-ui/src/utils/clipboard.test.ts
  apps/agor-ui/src/utils/clipboard.ts
Due: biome check --write --no-errors-on-unmatched --diagnostic-level=error, prettier --write

test(mcp): cover stateful reconnect and context refresh
  apps/agor-daemon/src/mcp/server.test.ts
Due: biome check --write --no-errors-on-unmatched --diagnostic-level=error, prettier --write

feat(scheduler): lead session title with the schedule name
  apps/agor-daemon/src/services/scheduler.ts
Due: biome check --write --no-errors-on-unmatched --diagnostic-level=error, prettier --write

fix(migration): harden 0046 backfill against FK-stale users + corrupt JSON
  packages/core/drizzle/postgres/0037_schedules_table.sql
  packages/core/drizzle/sqlite/0046_schedules_table.sql
Due: none

fix(migration): merge 0046+0047 into single schedules-table migration + Codex round-3
  apps/agor-daemon/src/services/scheduler.ts
  packages/core/drizzle/postgres/0037_schedules_table.sql
  packages/core/drizzle/postgres/0038_unique_schedule_run.sql
  packages/core/drizzle/postgres/meta/_journal.json
  packages/core/drizzle/sqlite/0046_schedules_table.sql
  packages/core/drizzle/sqlite/0047_unique_schedule_run.sql
  packages/core/drizzle/sqlite/meta/_journal.json
  packages/core/src/db/repositories/sessions.test.ts
  packages/core/src/db/repositories/sessions.ts
  packages/core/src/db/schema.postgres.ts
  packages/core/src/db/schema.sqlite.ts
Due: biome check --write --no-errors-on-unmatched --diagnostic-level=error, prettier --write

docs: audit codex sandbox permissions
  docs/internal/codex-permission-sandbox-audit-2026-05-25.md
Due: prettier --write

docs(schedules): align design doc + scheduler doc with shipped state
  apps/agor-daemon/src/services/scheduler.ts
  docs/internal/schedules-first-class-design-2026-05-24.md
  packages/core/drizzle/postgres/0037_schedules_table.sql
  packages/core/src/db/schema.postgres.ts
  packages/core/src/db/schema.sqlite.ts
Due: biome check --write --no-errors-on-unmatched --diagnostic-level=error, prettier --write

docs(schedules): surface PG13+ floor in operator docs
  apps/agor-docs/pages/guide/development.mdx
  docs/internal/schedules-first-class-design-2026-05-24.md
Due: prettier --write

docs: analyze cursor sdk support
  docs/internal/cursor-sdk-support-analysis-2026-05-25.md
Due: prettier --write

feat: scaffold cursor sdk provider
  apps/agor-daemon/src/register-routes.ts
  apps/agor-daemon/src/register-services.ts
  apps/agor-daemon/src/services/check-auth.ts
  apps/agor-daemon/src/setup/credentials.ts
  apps/agor-ui/src/components/AgenticToolConfigForm/AgenticToolConfigForm.tsx
  apps/agor-ui/src/components/ApiKeyFields.tsx
  apps/agor-ui/src/components/ModelSelector/ModelSelector.tsx
  apps/agor-ui/src/components/OnboardingWizard/OnboardingWizard.tsx
  apps/agor-ui/src/components/PermissionModeSelector/PermissionModeSelector.tsx
  apps/agor-ui/src/components/SettingsModal/AgenticToolsSection.tsx
  apps/agor-ui/src/components/SettingsModal/DefaultAgenticSettings.tsx
  apps/agor-ui/src/components/SettingsModal/UserSettingsModal.tsx
  apps/agor-ui/src/hooks/useAuthConfig.ts
  docs/internal/cursor-sdk-support-analysis-2026-05-25.md
  packages/core/src/config/config-manager.ts
  packages/core/src/config/env-resolver.test.ts
  packages/core/src/config/env-resolver.ts
  packages/core/src/config/key-resolver.test.ts
  packages/core/src/config/resource-schemas.ts
  packages/core/src/config/types.ts
  packages/core/src/db/schema.postgres.ts
  packages/core/src/db/schema.sqlite.ts
  packages/core/src/lib/feathers-validation.ts
  packages/core/src/models/lint-model-tool-match.ts
  packages/core/src/types/agentic-tool.ts
  packages/core/src/types/session.test.ts
  packages/core/src/types/session.ts
  packages/core/src/types/user.ts
  packages/core/src/utils/permission-mode-mapper.ts
  packages/executor/src/cli.ts
  packages/executor/src/handlers/sdk/cursor.ts
  packages/executor/src/handlers/sdk/tool-registry.ts
  packages/executor/src/index.ts
  packages/executor/src/payload-types.ts
  packages/executor/src/sdk-handlers/base/types.ts
  packages/executor/src/sdk-handlers/normalizer-factory.ts
  packages/executor/src/types.ts
Due: biome check --write --no-errors-on-unmatched --diagnostic-level=error, prettier --write

feat: expose cursor provider as beta
  apps/agor-daemon/src/mcp/tools/schedules.ts
  apps/agor-daemon/src/mcp/tools/sessions.ts
  apps/agor-ui/src/components/AgentSelectionGrid/availableAgents.ts
  apps/agor-ui/src/components/OnboardingWizard/OnboardingWizard.tsx
  apps/agor-ui/src/components/SettingsModal/AgenticToolsSection.tsx
  apps/agor-ui/src/components/SettingsModal/DefaultAgenticSettings.tsx
  apps/agor-ui/src/components/SettingsModal/UserSettingsModal.tsx
  apps/agor-ui/src/components/ToolIcon/ToolIcon.tsx
  docs/internal/cursor-sdk-support-analysis-2026-05-25.md
Due: biome check --write --no-errors-on-unmatched --diagnostic-level=error, prettier --write

feat: wire cursor sdk local runtime
  apps/agor-daemon/src/register-routes.ts
  apps/agor-daemon/src/register-services.ts
  apps/agor-daemon/src/services/check-auth.ts
  docs/internal/cursor-sdk-support-analysis-2026-05-25.md
  packages/executor/package.json
  packages/executor/src/handlers/sdk/cursor.ts
  packages/executor/src/services/feathers-client.ts
  pnpm-lock.yaml
Due: biome check --write --no-errors-on-unmatched --diagnostic-level=error, prettier --write

fix(ui): route to the new session via URL after create
  apps/agor-ui/src/components/App/App.tsx
  apps/agor-ui/src/hooks/useAppNavigation.test.tsx
  apps/agor-ui/src/hooks/useAppNavigation.ts
Due: biome check --write --no-errors-on-unmatched --diagnostic-level=error, prettier --write
