Repository preset-io/agor: changes, and which lint-staged commands are due for each by the changed paths.
All: biome check --write --no-errors-on-unmatched --diagnostic-level=error, prettier --write

fix: inherit permission_config and model_config in session fork/btw
  apps/agor-daemon/src/services/sessions.ts
Due: biome check --write --no-errors-on-unmatched --diagnostic-level=error, prettier --write

fix(ci): resolve lint and MDX build errors
  apps/agor-docs/pages/guide/getting-started.mdx
  apps/agor-ui/src/components/ApiKeyFields.tsx
Due: biome check --write --no-errors-on-unmatched --diagnostic-level=error, prettier --write

fix(ui): extractor returns Partial<Board> so callers typecheck
  apps/agor-ui/src/components/forms/BoardFormFields.tsx
Due: biome check --write --no-errors-on-unmatched --diagnostic-level=error, prettier --write

fix(ui): eliminate two-phase unmount that causes CSS-in-JS style loss on archive
  apps/agor-ui/src/components/App/App.tsx
Due: biome check --write --no-errors-on-unmatched --diagnostic-level=error, prettier --write

fix(build): atomic-ish dist swap to avoid knocking running daemon offline
  packages/agor-live/build.sh
Due: none

fix(unix): scope repo perms to root traversal + .git and harden dist swap
  apps/agor-cli/src/commands/admin/sync-unix.ts
  packages/agor-live/build.sh
  packages/core/src/db/schema.postgres.ts
  packages/core/src/db/schema.sqlite.ts
  packages/core/src/unix/group-manager.test.ts
  packages/core/src/unix/group-manager.ts
  packages/core/src/unix/unix-integration-service.ts
Due: biome check --write --no-errors-on-unmatched --diagnostic-level=error, prettier --write

chore(lint): format repo permission command call
  packages/core/src/unix/unix-integration-service.ts
Due: biome check --write --no-errors-on-unmatched --diagnostic-level=error, prettier --write

ci: parallelize CI workflow into independent jobs
  .github/workflows/ci.yml
Due: prettier --write

fix(upload): use worktree RBAC instead of session ownership for file uploads
  apps/agor-daemon/src/register-routes.ts
Due: biome check --write --no-errors-on-unmatched --diagnostic-level=error, prettier --write

fix(upload): fix branded UUID type and lint import ordering
  apps/agor-daemon/src/register-routes.ts
Due: biome check --write --no-errors-on-unmatched --diagnostic-level=error, prettier --write

chore: bump Claude Code CLI to 2.1.112 and Agent SDK to 0.2.112
  apps/agor-daemon/package.json
  docker/Dockerfile
  packages/agor-live/package.json
  packages/core/package.json
  pnpm-lock.yaml
Due: prettier --write

ci: include runner.os and node version in turbo cache key
  .github/workflows/ci.yml
Due: prettier --write

fix(upload): match ensureCanPromptInSession semantics and fail-closed RBAC
  apps/agor-daemon/src/register-routes.ts
Due: biome check --write --no-errors-on-unmatched --diagnostic-level=error, prettier --write

fix(artifacts): address code review feedback on Sandpack error capture
  apps/agor-daemon/src/register-hooks.ts
  apps/agor-daemon/src/services/artifacts.ts
  apps/agor-ui/src/components/SessionCanvas/canvas/ArtifactNode.tsx
Due: biome check --write --no-errors-on-unmatched --diagnostic-level=error, prettier --write

feat(artifacts): capture Sandpack bundler/runtime errors in artifact status
  apps/agor-daemon/src/mcp/tools/artifacts.ts
  apps/agor-daemon/src/register-hooks.ts
  apps/agor-daemon/src/services/artifacts.ts
  apps/agor-ui/src/components/SessionCanvas/canvas/ArtifactNode.tsx
  packages/core/src/types/artifact.ts
Due: biome check --write --no-errors-on-unmatched --diagnostic-level=error, prettier --write

fix(ci): replace runner.os in workflow-level env with literal
  .github/workflows/ci.yml
Due: prettier --write

feat: add Claude Opus 4.7 to available models
  apps/agor-ui/src/components/EffortSelector/EffortSelector.tsx
  packages/core/src/models/claude.ts
Due: biome check --write --no-errors-on-unmatched --diagnostic-level=error, prettier --write

fix(ui): make all ToolBlocks expanded by default and remove auto-collapse
  apps/agor-ui/src/components/AgentChain/AgentChain.tsx
  apps/agor-ui/src/components/MessageBlock/MessageBlock.tsx
  apps/agor-ui/src/components/ToolBlock/ToolBlock.tsx
  apps/agor-ui/src/components/ToolBlock/index.ts
  apps/agor-ui/src/components/ToolBlock/toolStatus.tsx
Due: biome check --write --no-errors-on-unmatched --diagnostic-level=error, prettier --write

security: add worktree/session find scoping helpers
  apps/agor-daemon/src/utils/rbac-find-scoping.test.ts
  apps/agor-daemon/src/utils/worktree-authorization.ts
Due: biome check --write --no-errors-on-unmatched --diagnostic-level=error, prettier --write

chore(deps): expand pnpm.overrides to address security advisories
  package.json
  pnpm-lock.yaml
Due: prettier --write

docs(security): add SECURITY_DEPS.md for unresolved advisories
  SECURITY_DEPS.md
Due: prettier --write

ci: add pnpm audit job (blocking on critical, advisory on high)
  .github/workflows/ci.yml
Due: prettier --write

chore(deps): add dependabot groups for prod minor/patch and gh-actions
  .github/dependabot.yml
Due: prettier --write

security: scope find() on tasks, messages, session-mcp-servers, artifacts, files
  apps/agor-daemon/src/register-hooks.ts
Due: biome check --write --no-errors-on-unmatched --diagnostic-level=error, prettier --write

security: filter boards.find by accessible worktrees
  apps/agor-daemon/src/register-hooks.ts
Due: biome check --write --no-errors-on-unmatched --diagnostic-level=error, prettier --write

sec: route impersonation env vars through 0600 env-file
  apps/agor-daemon/src/register-services.ts
  apps/agor-daemon/src/utils/spawn-executor.secrets.test.ts
  apps/agor-daemon/src/utils/spawn-executor.ts
  packages/core/src/unix/environment-command-spawn.ts
  packages/core/src/unix/run-as-user.test.ts
  packages/core/src/unix/run-as-user.ts
Due: biome check --write --no-errors-on-unmatched --diagnostic-level=error, prettier --write

security: tighten tasks.remove to require worktree 'all' permission
  apps/agor-daemon/src/register-hooks.ts
Due: biome check --write --no-errors-on-unmatched --diagnostic-level=error, prettier --write

sec: redact secrets from daemon startup and session-token logs
  apps/agor-daemon/src/auth/session-token-strategy.ts
  apps/agor-daemon/src/index.ts
  apps/agor-daemon/src/jwt-bootstrap-log.test.ts
Due: biome check --write --no-errors-on-unmatched --diagnostic-level=error, prettier --write

sec: stop echoing default admin credentials to container stdout
  docker/docker-entrypoint-prod.sh
Due: none

security: enforce worktree RBAC on agor_messages_list MCP tool
  apps/agor-daemon/src/mcp/tools/messages.test.ts
  apps/agor-daemon/src/mcp/tools/messages.ts
Due: biome check --write --no-errors-on-unmatched --diagnostic-level=error, prettier --write

refactor(ui): simplify AgentChain expand state to plain boolean
  apps/agor-ui/src/components/AgentChain/AgentChain.tsx
Due: biome check --write --no-errors-on-unmatched --diagnostic-level=error, prettier --write

chore(deps): address review feedback on security overrides
  .github/dependabot.yml
  .github/workflows/ci.yml
  SECURITY_DEPS.md
  package.json
  pnpm-lock.yaml
Due: prettier --write

chore: remove root-level doc files
  .github/workflows/ci.yml
  PROPOSAL.md
  SECURITY_DEPS.md
Due: prettier --write

security(rbac): make find() services handle $in session_id from scope hook
  apps/agor-daemon/src/register-services.ts
  apps/agor-daemon/src/services/messages.ts
  apps/agor-daemon/src/services/tasks.ts
Due: biome check --write --no-errors-on-unmatched --diagnostic-level=error, prettier --write

refactor(rbac): DRY shared guard and intersection logic in find-scope hooks
  apps/agor-daemon/src/utils/rbac-find-scoping.test.ts
  apps/agor-daemon/src/utils/worktree-authorization.ts
Due: biome check --write --no-errors-on-unmatched --diagnostic-level=error, prettier --write

refactor(rbac): use shared isSuperAdmin() in boards.find filter
  apps/agor-daemon/src/register-hooks.ts
Due: biome check --write --no-errors-on-unmatched --diagnostic-level=error, prettier --write

chore(rbac): mark boards.find in-memory filter as future SQL candidate
  apps/agor-daemon/src/register-hooks.ts
Due: biome check --write --no-errors-on-unmatched --diagnostic-level=error, prettier --write

sec: address PR review — fail-closed env-file, DRY impersonation helpers
  apps/agor-daemon/src/register-services.ts
  apps/agor-daemon/src/utils/spawn-executor.secrets.test.ts
  apps/agor-daemon/src/utils/spawn-executor.ts
  packages/core/src/unix/environment-command-spawn.ts
  packages/core/src/unix/index.ts
  packages/core/src/unix/run-as-user.test.ts
  packages/core/src/unix/run-as-user.ts
  packages/core/src/unix/secret-env.test.ts
  packages/core/src/unix/secret-env.ts
  packages/core/src/unix/user-env-file.ts
Due: biome check --write --no-errors-on-unmatched --diagnostic-level=error, prettier --write

security(rbac): scope boards.find via SQL EXISTS instead of in-memory worktree join
  apps/agor-daemon/src/register-hooks.ts
  apps/agor-daemon/src/utils/worktree-authorization.ts
  packages/core/src/db/repositories/boards.ts
Due: biome check --write --no-errors-on-unmatched --diagnostic-level=error, prettier --write

fix(ui): contain Bash ToolBlock command overflow
  apps/agor-ui/src/components/ToolBlock/ToolBlock.tsx
  apps/agor-ui/src/components/ToolUseRenderer/renderers/BashRenderer.tsx
Due: biome check --write --no-errors-on-unmatched --diagnostic-level=error, prettier --write

Path conditions:
  biome check --write --no-errors-on-unmatched --diagnostic-level=error: any of: *.{ts,tsx,js,jsx,mjs,cjs}
  prettier --write: (any of: *.{ts,tsx,js,jsx,mjs,cjs}) or (any of: *.{json,md,yaml,yml})
